.verhaal-container .title {
  width: 100%;
  margin: 10px 0;
  padding: 40px;
  text-align: center;
}
.verhaal-container .verhaal {
  margin-bottom: 30px;
  padding: 5px;
  width: 100%;
  font-size: 20px;
  text-align: justify;
  margin: auto;
}
.verhaal-container .verhaal img {
  width: 80%;
  padding: 0px 20px;
  margin: auto;
}
.verhaal-container .verhaal p {
  padding: 20px;
}
.verhaal-container .verhaal .row {
  padding: 20px;
  padding-bottom: 100px;
}
.verhaal-container .team {
  padding-top: 50px;
  text-align: center;
  background: #f5f5f5;
  color: var(--darkblue);
  font-size: larger;
}
.verhaal-container .team p {
  width: 50%;
  margin: auto;
}
.verhaal-container .team:after {
  content: "";
  /* This is necessary for the pseudo element to work. */
  display: block;
  /* This will put the pseudo element on its own line. */
  margin: 0 auto;
  /* This will center the border. */
  width: 50%;
  /* Change this to whatever width you want. */
  padding-top: 10px;
  /* This creates some space between the element and the border. */
  border-bottom: 3px solid var(--beige);
  /* This creates the border. Replace black with whatever color you want. */
}

.title {
  background: #fff;
  margin-top: 0 !important;
}/*# sourceMappingURL=onsVerhaal.css.map */