.verhaal-container {
  // display: flex;
  // flex-direction: column;
  // height: 100%;
  // width: 100%;
  // align-items: center;
  // background: rgb(229, 228, 228);
  


  .title {
    width: 100%;
    margin: 10px 0;
    padding: 40px;
    text-align: center;
  }

  .verhaal {
    margin-bottom: 30px;
    padding: 5px;
    width: 100%;
    font-size: 20px;
    text-align: justify;
   
    margin: auto;

    img{
      width: 80%;
      padding: 0px 20px;
      margin: auto;
      

    }
    p{
      padding: 20px;
    }
    .row{
     
      padding: 20px;
      padding-bottom: 100px;

    }
    
  }
  .team{
    padding-top: 50px;
    text-align: center;
    background: #f5f5f5;
    color: var(--darkblue);
    font-size: larger;
    p{
      width: 50%;
      margin: auto;
    }
    
  }


  .team:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 50%; /* Change this to whatever width you want. */
    padding-top: 10px; /* This creates some space between the element and the border. */
    border-bottom: 3px solid var(--beige); /* This creates the border. Replace black with whatever color you want. */
}
}
.title{
  background: #fff;
  margin-top: 0 !important;
}
//LAPTOP
// @media screen and (min-width: 900px) and (max-width: 1400px) {
//   .verhaal-container {
//     .verhaal {
//       width: 60%;
//     }
//   }
// }
// // MOBILE VERSION
// @media screen and (max-width: 900px) {
//   html,
//   body {
//     height: 100%;
//     width: 100%;
//   }

//   .verhaal-container {
//     width: 100%;

   
//     .title {
//       margin: 0;
//       padding: 0;
//     }

//     .verhaal {
//       padding: 20px;
//       width: 100%;
//       margin: 0;
//     }
//   }
// }
