@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap");

.btn-admin-add-modal-container {
    margin-top: 1rem;
    margin-bottom: -3rem;
}

.btn-admin-add-modal-container img {
    width: 1.5rem;
    height: 1.5rem;
    z-index: 1;
    margin-right: .5rem;
    margin-top: -.1rem;
}

.btn-admin-add-modal-container button {
    background-color: #f5c71a;
    border: none;
    border-radius: 65px;
    font-size: 1.2rem;
    color: white;
    width: 15rem;
    padding: .6rem 0 .7rem .1rem;
}

.btn-admin-add-modal-container:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.btn-admin-add-container {
    margin-left: 1.5rem;
}

.btn-admin-add-container img {
    width: 1.5rem;
    height: 1.5rem;
    z-index: 1;
    margin-right: .3rem;
    margin-top: -.3rem;
}

.btn-admin-add-container button {
    background-color: #2d9bf0;
    border: none;
    border-radius: 65px;
    font-size: 1.2rem;
    color: white;
    width: 15.5rem;
    padding: .6rem 0 .8rem .1rem;
}

.btn-admin-add-container:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
