.contribution-send-img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-right: 4rem;
    border-radius: 2rem;
    width: 20rem;
}

.contribution-send-img-container input {
    margin-left: 1rem;
}

.img-errors {
    margin: 1rem;
}

.img-result img {
    width: 15rem;
    height: 11rem;
    object-fit: cover;
}

.send-btn {
    display: flex;
}

.send-btn img {
    width: 1.5rem;
    height: 1.5rem;
    z-index: 1;
    margin-right: -2.5rem;
    margin-top: .9rem;
}

.send-btn button {
    border: none;
    border-radius: 65px;
    font-size: 1.2rem;
    background-color: #2D9BF0;
    color: #fff;
    width: 13rem;
    padding: .7rem 0 .8rem 1.3rem;
}

.send-btn:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.form-checkbox-container input {
    accent-color: #2D9BF0;
}

.contribution-dropdown {
    border-radius: .4rem;
    padding: .2rem 1rem;
    width: 8rem;
    border: none;
}

.contribution-card-title-container input {
    padding: .4rem 1rem;
    width: 50rem;
    border: none !important;
    border-radius: .4rem;
}

.contribution-card-title-container input:focus {
    outline: none !important;
}

.contribution-card-title-container input:focus {
    border: none !important;
}

.contribution-card-text-container textarea {
    padding: .4rem 1rem;
    width: 50rem;
    border: none !important;
    border-radius: .4rem;
}

.contribution-card-text-container textarea:focus {
    outline: none !important;
}

.contribution-card-text-container textarea:focus {
    border: none !important;
}

.contribution-card-text {
    min-height: 8rem;
}

.form-checkbox-container {
    margin-left: -1rem;
}

.form-checkbox-container label {
    padding-left: .5rem;
    margin-top: -.1rem;
}

.contribution-checkbox {
    width: 1.2rem;
    height: 1.2rem;
}


// h: media queries ---------------------------------------


/* portrait phones */
@media (max-width: 575px) {
    .contributions-making-form {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .contribution-send-img-container {
        margin-right: 1rem;
        border-radius: 2rem;
        width: 18rem;
        height: 20rem;
        margin-bottom: .5rem;
        margin-right: 0;
    }
    
    .contribution-send-img-container input {
        margin-left: 0;
        margin-top: 2rem;
    }
    
    .img-errors {
        margin: 1rem;
    }
    
    .img-result img {
        width: 12rem;
        object-fit: cover;
        margin-top: 0;
    }

    .form-info-container {
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        width: 80vw;
    }
    .contribution-dropdown-container {
        display: inline;
    }

    .contribution-dropdown {
        border-radius: .4rem;
        padding: .2rem 1rem;
        width: 80vw;
        font-size: .7rem;
    }

    .contribution-card-title-container input {
        padding: 0 1rem;
        width: 80vw;
        height: 1.5rem;
        font-size: .7rem;
    }

    .contribution-card-title {
        overflow: auto;
        word-break: break-all;
        word-wrap: break-word;
    }

    .contribution-card-text-container textarea {
        padding: .4rem 1rem;
        width: 80vw;
        font-size: .7rem;
    }

    .send-btn-container {
        order: 5;
        margin-top: 2rem;
    }

    .contribution-checkbox {
        width: 1.5rem;
        height: 1.5rem;
    }

    .form-checkbox-container {
        margin-left: 0;
    }
    
    .form-checkbox-container label {
        padding-left: .5rem;
        margin-top: .1rem;
        font-size: .7rem;
    }
    
    .contribution-checkbox {
        width: 1.2rem;
        height: 1.2rem;
    }
}

/* landscape phones */
@media (min-width: 575px) and (max-width: 767px) {
    .contributions-making-form {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .contribution-send-img-container {
        margin-right: 1rem;
        border-radius: 2rem;
        width: 20rem;
        height: 20rem;
        margin-bottom: .5rem;
    }
    
    .contribution-send-img-container input {
        margin-left: 0;
        margin-top: 2rem;
    }
    
    .img-errors {
        margin: 1rem;
    }
    
    .img-result img {
        width: 12rem;
        object-fit: cover;
        margin-top: 0;
    }

    .form-info-container {
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        width: 80vw;
    }
    .contribution-dropdown-container {
        display: inline;
    }

    .contribution-dropdown {
        border-radius: .4rem;
        padding: .2rem 1rem;
        width: 80vw;
        font-size: .7rem;
    }

    .contribution-card-title-container input {
        padding: 0 1rem;
        width: 80vw;
        height: 1.5rem;
        font-size: .7rem;
    }

    .contribution-card-title {
        overflow: auto;
        word-break: break-all;
        word-wrap: break-word;
    }

    .contribution-card-text-container textarea {
        padding: .4rem 1rem;
        width: 80vw;
        font-size: .7rem;
    }

    .send-btn-container {
        order: 5;
        margin-top: 2rem;
    }

    .form-checkbox-container {
        margin-left: 0;
        align-self: flex-start;
    }
    
    .form-checkbox-container label {
        padding-left: .5rem;
        margin-top: 0;
        font-size: .7rem;
    }
    
    .contribution-checkbox {
        width: 1rem;
        height: 1rem;
    }
}

/* tablets */
@media (min-width: 767px) and (max-width: 991px) {
    .contributions-making-form {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .contribution-send-img-container {
        margin-right: 1rem;
        border-radius: 2rem;
        width: 20rem;
        height: 20rem;
        margin-bottom: .5rem;
    }
    
    .contribution-send-img-container input {
        margin-left: 0;
        margin-top: 2rem;
    }
    
    .img-errors {
        margin: 1rem;
    }
    
    .img-result img {
        width: 12rem;
        object-fit: cover;
        margin-top: 0;
    }

    .form-info-container {
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        width: 80vw;
    }
    .contribution-dropdown-container {
        display: inline;
    }

    .contribution-dropdown {
        border-radius: .4rem;
        padding: .2rem 1rem;
        width: 80vw;
        font-size: .9rem;
    }

    .contribution-card-title-container input {
        padding: 1.1rem 1rem;
        width: 80vw;
        height: 1.5rem;
        font-size: .9rem;
    }

    .contribution-card-title {
        overflow: auto;
        word-break: break-all;
        word-wrap: break-word;
    }

    .contribution-card-text-container textarea {
        padding: .4rem 1rem;
        width: 80vw;
        font-size: .9rem;
    }

    .send-btn-container {
        order: 5;
        margin-top: 2rem;
    }

    .form-checkbox-container {
        margin-left: 0;
        align-self: flex-start;
    }
    
    .form-checkbox-container label {
        padding-left: .5rem;
        margin-top: 0;
        font-size: .9rem;
    }
    
    .contribution-checkbox {
        width: 1rem;
        height: 1rem;
    }
    
}

/* large */
@media (min-width: 991px) and (max-width: 1200px) {
    .contributions-making-form {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .contribution-send-img-container {
        margin-right: 1rem;
        border-radius: 2rem;
        width: 20rem;
        height: 20rem;
        margin-bottom: .5rem;
    }
    
    .contribution-send-img-container input {
        margin-left: 0;
        margin-top: 2rem;
    }
    
    .img-errors {
        margin: 1rem;
    }
    
    .img-result img {
        width: 12rem;
        object-fit: cover;
        margin-top: 0;
    }

    .form-info-container {
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        width: 80vw;
    }
    .contribution-dropdown-container {
        display: inline;
    }

    .contribution-dropdown {
        border-radius: .4rem;
        padding: .2rem 1rem;
        width: 80vw;
    }

    .contribution-card-title-container input {
        padding: 1.1rem 1rem;
        width: 80vw;
        height: 1.5rem;
    }

    .contribution-card-title {
        overflow: auto;
        word-break: break-all;
        word-wrap: break-word;
    }

    .contribution-card-text-container textarea {
        padding: .4rem 1rem;
        width: 80vw;
    }

    .send-btn-container {
        order: 5;
        margin-top: 2rem;
    }

    .form-checkbox-container {
        margin-left: 0;
        align-self: flex-start;
    }
    
    .form-checkbox-container label {
        padding-left: .5rem;
        margin-top: -.2rem;
    }
    
    .contribution-checkbox {
        width: 1rem;
        height: 1rem;
    }
}

/* xlarge > 14" */
@media(min-width: 1200px) and (max-width: 1490px) {
    .contribution-send-img-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        margin-right: 4rem;
        border-radius: 2rem;
        width: 20rem;
    }

    .contribution-card-title-container input {
        padding: 1.1rem 1rem;
        width: 55vw;
        height: 1.5rem;
    }

    .contribution-card-title {
        overflow: auto;
        word-break: break-all;
        word-wrap: break-word;
    }

    .contribution-card-text-container textarea {
        padding: .4rem 1rem;
        width: 55vw;
    }
    
    .form-checkbox-container {
        margin-left: -1rem;
    }

    .form-checkbox-container label {
        padding-left: .5rem;
        margin-top: -.2rem;
    }

    .contribution-checkbox {
        width: 1.2rem;
        height: 1.2rem;
    }
}