@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap");

.herdinkingsmaken-form {
    background-color: #f5f9fc;
    padding: 5rem 0;
}

.form-container-one {
    background-color: #fff;
    padding: 5rem 10rem 1.6rem;
    margin: 0 15rem;
    border-radius: 60px;
}

.form-custom-steps {
    border-radius: 20px;
    padding: 1rem;
}

.form-custom-steps img {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    border-radius: 50%;
}

.seperator {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.1);
}

.edit-btn img {
    width: 2rem;
    height: 2rem;
    margin-top: -3rem;
}

.form-input-container {
    display: grid;
    grid-template-columns: 26rem 26rem;
    gap: 1rem;
}

.forms-container input,
select {
    padding: .5rem 1rem;
    border: 1px solid #808080;
    width: 26rem;
    border-radius: 8px;
}

.btn-sets-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 3rem 0;
}

.forms-delete-button-container {
    display: flex;
    margin-right: 1rem;
}

.forms-delete-button-container img {
    width: 1.2rem;
    height: 1.2rem;
    z-index: 1;
    margin-right: .5rem;
    margin-top: -.1rem;
}

.forms-delete-button-container button {
    border: 2px red solid;
    border-radius: 65px;
    font-size: 1.2rem;
    background-color: transparent;
    color: red;
    width: 10rem;
    padding: .5rem 0 .8rem .1rem;
}

.forms-delete-button-container:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.next-button-container {
    display: flex;
}

.next-button-container img {
    width: 1.2rem;
    height: 1.2rem;
    z-index: 1;
    margin-right: .6rem;
    margin-left: .2rem;
}

.next-button-container button {
    border: #2D9BF0 solid 2px;
    border-radius: 65px;
    font-size: 1.2rem;
    background-color: #2D9BF0;
    color: #fff;
    width: 11.3rem;
    padding: .5rem .1rem .8rem 1rem;
}

.next-button-container:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

// ---------- form 2 ---------

.form-textarea-container {
    display: flex;
    width: 55rem;
    min-height: 10.5rem;
    padding: .5rem 1rem;
    border: 1px solid #808080;
    border-radius: 8px;
}

.profile-image {
    border-radius: 10%;
    width: 17rem;
    height: 20rem;
    object-fit: cover;
    align-self: center;
    margin-top: 1rem;
}

.forms-back-button-container {
    display: flex;
    margin-right: 1rem;
}

.forms-back-button-container img {
    width: 1.2rem;
    height: 1.2rem;
    z-index: 1;
    margin-right: .1rem;
    margin-top: -.1rem;
}

.forms-back-button-container button {
    border: 2px #808080 solid;
    border-radius: 65px;
    font-size: 1.2rem;
    background-color: transparent;
    color: #808080;
    width: 6.3rem;
    padding: .5rem 0 .8rem;
}

.forms-back-button-container:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

// ---------- form 3 ----------

.checkbox-container input {
    margin-left: -12rem;
}

.checkbox-container label {
    margin-left: -12rem;
}

.add-button-container {
    display: flex;
}

.add-button-container img {
    width: 1.5rem;
    height: 1.5rem;
    z-index: 1;
    margin-top: -.3rem;
    margin-right: .2rem;
}

.add-button-container button {
    border: #8FD14F solid 2px;
    border-radius: 65px;
    font-size: 1.2rem;
    background-color: #8FD14F;
    color: #fff;
    width: 13.5rem;
    padding: .5rem .1rem .8rem 0;
}

.add-button-container:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

//h: ---------- media queries ----------

/* portrait phones */
@media (max-width: 575px) {

    .herdinkingsmaken-form {
        padding: 2rem .7rem;
    }

    .form-container-one {
        padding: 1.5rem 1rem;
        margin: 0;
        border-radius: 5px;
    }

    .form-custom-steps img {
        width: 4rem;
        height: 4rem;
    }

    .edit-btn img {
        width: 1.5rem;
        height: 1.5rem;
        margin-top: -3.5rem;
    }

    .forms-title {
        font-size: 1.7rem;
    }

    .form-input-container {
        grid-template-columns: 20rem;
        gap: 1rem;
        justify-content: center;
    }

    .forms-container input,
    select {
        width: 20rem;
    }

    .btn-sets-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2rem 0;
    }

    .forms-delete-button-container {
        display: flex;
        margin-right: 0;
    }

    .next-button-container {
        margin-top: 1rem;
    }

    // ---------- form 2 ----------
    .form-textarea-container {
        display: flex;
        width: 85vw;
        min-height: 10.5rem;
        padding: .5rem 1rem;
        border: 1px solid #808080;
        border-radius: 8px;
    }

    .profile-image {
        border-radius: 10%;
        width: 14rem;
        height: 17rem;
        object-fit: cover;
    }

    // ---------- form 3 ----------
    .add-button-container {
        margin-top: 1rem;
    }

    // ---------- form 3 ----------

    .checkbox-container input {
        margin-left: -9rem;
    }

    .checkbox-container label {
        margin-left: -9rem;
    }
}

/* landscape phones */
@media (min-width: 575px) and (max-width: 767px) {

    .herdinkingsmaken-form {
        padding: 2rem 1rem;
    }

    .form-container-one {
        padding: 1.5rem 3rem;
        margin: 0;
        border-radius: 5px;
    }

    .form-custom-steps img {
        width: 4rem;
        height: 4rem;
    }

    .edit-btn img {
        width: 1.5rem;
        height: 1.5rem;
        margin-top: -3.5rem;
    }

    .forms-title {
        font-size: 1.7rem;
    }

    .form-input-container {
        grid-template-columns: 25rem;
        gap: 1rem;
        justify-content: center;
    }

    .forms-container input,
    select {
        width: 25rem;
    }

    .btn-sets-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 0;
    }

    // ---------- form 2 ----------
    .form-textarea-container {
        width: 85vw;
    }

    .profile-image {
        border-radius: 10%;
        width: 14rem;
        height: 17rem;
        object-fit: cover;
    }
}

/* tablets */
@media (min-width: 767px) and (max-width: 991px) {

    .herdinkingsmaken-form {
        padding: 2rem 1rem;
    }

    .form-container-one {
        padding: 1.5rem 3rem;
        margin: 0;
        border-radius: 5px;
    }

    .form-custom-steps img {
        width: 4rem;
        height: 4rem;
    }

    .edit-btn img {
        width: 1.5rem;
        height: 1.5rem;
    }

    .forms-title {
        font-size: 1.7rem;
    }

    .form-input-container {
        grid-template-columns: 30rem;
        gap: 1rem;
        justify-content: center;
    }

    .forms-container input,
    select {
        width: 30rem;
    }

    .btn-sets-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 0;
    }

    // ---------- form 2 ----------
    .form-textarea-container {
        width: 85vw;
    }

    .profile-image {
        border-radius: 10%;
        width: 14rem;
        height: 17rem;
        object-fit: cover;
    }

    // ---------- form 3 ----------

    .checkbox-container input {
        margin-left: -14rem;
    }

    .checkbox-container label {
        margin-left: -14rem;
    }
}

/* large */
@media (min-width: 991px) and (max-width: 1200px) {

    .herdinkingsmaken-form {
        padding: 3rem 2rem;
    }

    .form-container-one {
        padding: 3rem 4rem;
        margin: 0;
        border-radius: 5px;
    }

    .btn-sets-container {
        margin: 2rem 0 .5rem;
    }

    // ---------- form 2 ----------
    .form-textarea-container {
        width: 85vw;
    }

    .profile-image {
        border-radius: 10%;
        width: 14rem;
        height: 17rem;
        object-fit: cover;
    }

}

/* xlarge > 14" */
@media(min-width: 1200px) and (max-width: 1490px) {

    .herdinkingsmaken-form {
        padding: 2rem;
    }

    .form-container-one {
        padding: 3rem;
        margin: 3rem 7rem;
        border-radius: 5px;
    }

    .btn-sets-container {
        margin: 2rem 0 .5rem;
    }

    // ---------- form 2 ----------
    .form-textarea-container {
        width: 70vw;
    }

    .profile-image {
        border-radius: 10%;
        width: 14rem;
        height: 17rem;
        object-fit: cover;
    }
}