@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap");


.herdenkingsruimte-container {
  background-color: #fff;
}

//  -------------- intro --------------

.home-section {
  display: flex;
  justify-content: center;
  margin: 5rem 0 5rem;
}

.image-profile {
  border-radius: 10%;
  width: 17rem;
  height: 20rem;
  object-fit: cover;
  align-self: center;
}

.edit-icon-herdenkingsruimte-container {
  justify-content: flex-end;
}

.edit-icon-herdenkingsruimte {
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-weight: 700;
  font-size: 2.2rem;
  margin-right: 2rem;
}

.age-place {
  padding-top: .7rem;
}

.user-age,
.user-place {
  font-size: 1.5rem;
  font-weight: 200;
  margin-right: 3rem;
}

.text-intro {
  padding: 1rem 0 1.5rem;
  min-height: 10rem;
  width: 58rem;
}

.text-intro p {
  word-break: break-all;
}

.user-date {
  display: flex;
  justify-content: flex-end;
  font-size: 1.5rem;
  font-weight: 200;

}

// -------------- contributions-cards --------------

.contribution-section {
  background-color: #f5f9fc;
  min-height: 10rem;
  padding-bottom: 4rem;
}

.herdenkigs-main-title span {
  font-size: 45px;
  color: #1A494F;
  padding: 3rem 0;
}

// -------------- contributions-making --------------

.contributions-making-container {
  min-height: 15rem;
  background-color: #fff;
  padding-bottom: 5rem;
}

.make-contribution {
  display: flex;
  justify-content: center;
  border-radius: 50px;
  background-color: #f5f9fc;
  min-height: 10rem;
  margin: 0 8rem;
}

// -------------- donation --------------

.donation-section {
  min-height: 38rem;
}

.donation-section-image {
  background: linear-gradient(5deg, rgba(245, 249, 252, 1) 0%, rgba(245, 249, 252, 0.822) 100%), url('https://lh3.googleusercontent.com/u/0/d/1zjSILGWmy_uoyhdxBF5m0UL-sG0lr8mP=w1920-h942-iv1');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // padding-bottom: 2.5rem;
}

.donation-form-container {
  padding: .5rem;
  width: 40rem;
  background-color: #fff;
  border-radius: 1rem;
}

.donation-container {
  display: flex;
  row-gap: 3rem;
  background-color: #fff;
  width: 34.5rem;
}

.donation-container input {
  width: 20rem;
  border: 1px solid #808080;
  border-radius: 5px;
  padding: 0 1rem;
}

.euro-sign {
  font-size: 2.5rem;
}

.button-donation {
  background-color: #8fd14f;
  font-size: 1.3rem;
  border: none;
  color: #fff;
  border-radius: 65px;
  width: 10rem;
  height: 3rem;
  margin-top: auto;
  margin-bottom: auto;
}

.button-donation:focus {
  .fa-heart {
    color: #cd1b2b;
  }
}

.donation-text-container {
  padding-bottom: 4rem;
}

.donation-text p {
  color: #1d2626;
}

.donatie-doelen {
  font-size: 2.5vh;
}

// -------------- mortician & map --------------

.mortician-map-container {
  flex-direction: column;
  position: relative;
}

.mortician-map-edit-icon {
  position: absolute;
  top: 3rem;
  right: 14rem;
}

.begrafenisondernemer-map {
  min-height: 25rem;
  margin: 0 6rem;
}

.background-undertaker {
  background-color: #7DFCDA;
  min-height: 25rem;
}

.no-info-option {
  background-color: #7DFCDA;
  // opacity: 90%;
  min-height: 25rem;
}

.no-map-option {
  background-color: #808080;
  // opacity: 90%;
  min-height: 25rem;
  width: 100%;
  margin: 0;
}

.mortician-name {
  font-size: 2rem;
  font-weight: 300 bold;
}

.undertaker-text {
  font-size: 1.3rem;
  padding-left: 4rem;
}

.mortician-contact img {
  width: 2rem;
  height: 2rem;
}

.btn-webshop {
  background-color: #2d9bf0;
  font-size: 1.3rem;
  border: none;
  color: white;
  border-radius: 25px;
  width: 25rem;
  height: 3rem;
}

.btn-webshop:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.mortician-page-btn {
  margin: 1rem 1.1rem;
}

.mortician-page-btn:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.flag-report {
  display: flex;
  justify-content: flex-end;
  margin: 3rem 3rem 0;
  padding: 1rem;
}


// h: ----------------- media queries -----------------

/* portrait phones */
@media (max-width: 575px) {
  .home-section {
    min-height: 40rem;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin: 7rem 0 0;
    width: 100%;
    padding-bottom: 3rem;
  }

  .photo-container {
    display: flex;
    justify-content: center !important;
    margin-top: 0;
  }

  .image-profile {
    border-radius: 10%;
    width: 14rem;
    height: 17rem;
    object-fit: cover;
  }

  .text-container {
    justify-content: center;
  }

  .edit-icon-herdenkingsruimte-container {
    position: absolute;
    top: 0;
    right: 1.5rem;
  }

  .edit-icon-herdenkingsruimte {
    width: 2.5rem;
    height: 2.5rem;
  }

  .user-info {
    flex-direction: column;
  }

  .user-name {
    padding: 1rem 0 0;
    font-weight: 700;
    font-size: 1.2rem;
    margin-right: 0;
    display: block;
    align-self: center;
  }

  .age-place {
    display: flex;
    justify-content: space-evenly;
  }

  .user-age,
  .user-place {
    font-size: 1rem;
    padding-top: 0;
    margin-right: 0;
  }

  .user-date {
    font-size: 1rem;
    justify-content: center;
  }

  .text-intro {
    padding: 0 1rem;
    width: 80vw;
    align-self: center;
    min-height: 10rem;
    margin: 1rem 0;
  }

  // -------------- contributions-cards --------------
  .herdenkigs-main-title span {
    font-size: 1.6rem;
    padding: 1.5rem 1rem;
  }

  // -------------- contributions-making --------------

  .contributions-making-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 15rem;
  }

  .make-contribution {
    border-radius: 8px;
    min-height: 15rem;
    margin: 0;
    width: 90vw;
    padding-top: 1rem;
  }

  // -------------- donation --------------

  .donation-section {
    min-height: 26rem;
  }

  .donation-form-container {
    padding: .5rem;
    width: 20rem;
    border-radius: .4rem;
  }

  .donation-container {
    display: flex;
    flex-direction: column;
    width: 10rem;
  }

  .donation-form {
    flex-direction: column;
  }

  .donation-form-input {
    margin-bottom: .5rem;
  }

  .donation-container input {
    width: 7rem;
    border: 1px solid #808080;
    border-radius: 5px;
    padding: 0 1rem;
  }

  .euro-sign {
    font-size: 2rem;
  }

  .donation-text-container {
    padding: 0 1.3rem 2rem;
  }

  .donation-text p:nth-child(1) {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  .donatie-doelen img {
    width: 1.1rem;
    height: 1.1rem;
    margin-right: 5px !important;
  }

  // -------------- mortician & map --------------

  .mortician-map-container {
    min-height: 58rem;
  }

  .begrafenisondernemer-map-container {
    flex-direction: column;
  }

  .mortician-map-edit-icon {
    position: absolute;
    top: 3.5rem;
    right: 1rem;
  }

  .begrafenisondernemer-map {
    margin: 1rem 0 0 0;
  }

  .mortician-name {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .undertaker-text {
    font-size: 1rem;
    padding-left: 1rem;
  }

  .mortician-contact img {
    width: 1.5rem;
    height: 1.5rem;
  }

  .btn-webshop {
    background-color: #2d9bf0;
    font-size: 1rem;
    border: none;
    border-radius: 65px;
    width: 18.2rem;
    margin-left: -1rem;
  }

  .mortician-page-btn {
    margin: 1rem 0;
  }

  .flag-report {
    
    align-self: center;
  }

  .flag-report {
    justify-content: center;
    margin: 0rem 1rem 0 0;
    padding: 1rem;
  }
}

/* landscape phones */
@media (min-width: 575px) and (max-width: 767px) {

  //  -------------- intro --------------
  .admin-button {
    margin: 1rem 0;
  }

  .home-section {
    min-height: 40rem;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin: 7rem 0 0;
    width: 100%;
    padding-bottom: 3rem;
  }

  .photo-container {
    display: flex;
    justify-content: center !important;
    margin-top: 0;
  }

  .image-profile {
    border-radius: 10%;
    width: 14rem;
    height: 17rem;
    object-fit: cover;
  }

  .text-container {
    justify-content: center;
  }

  .edit-icon-herdenkingsruimte-container {
    position: absolute;
    top: 0;
    right: 6rem;
  }

  .edit-icon-herdenkingsruimte {
    width: 2.5rem;
    height: 2.5rem;
  }

  .user-info {
    flex-direction: column;
  }

  .user-name {
    padding: 1rem 0 0;
    margin-right: 0;
    display: block;
    align-self: center;
  }

  .age-place {
    display: flex;
    justify-content: space-evenly;
  }

  .user-age,
  .user-place {
    padding-top: 0;
    margin-right: 0;
  }

  .user-date {
    justify-content: center;
  }

  .text-intro {
    padding: 0 1rem;
    width: 80vw;
    align-self: center;
    min-height: 10rem;
    margin: 1rem 0;
  }

  // -------------- contributions-cards --------------
  .herdenkigs-main-title span {
    font-size: 2rem;
    padding: 1.5rem 0;
  }

  // -------------- contributions-making --------------

  .contributions-making-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 12rem;
  }

  .make-contribution {
    border-radius: 8px;
    min-height: 12rem;
    margin: 0;
    width: 90vw;
    padding: 1rem;
  }

  // -------------- donation --------------

  .donation-section {
    min-height: 26rem;
  }

  .donation-form-container {
    padding: .5rem;
    width: 20rem;
    border-radius: .4rem;
  }

  .donation-container {
    display: flex;
    flex-direction: column;
    width: 10rem;
  }

  .donation-form {
    flex-direction: column;
  }

  .donation-form-input {
    margin-bottom: .5rem;
  }

  .donation-container input {
    width: 7rem;
    border: 1px solid #808080;
    border-radius: 5px;
    padding: 0 1rem;
  }

  .euro-sign {
    font-size: 2rem;
  }

  // .donation-text-container {
  //   padding: 0 1.3rem;
  // }

  .donation-text-container {
    padding: 0 1.3rem 2rem;
  }

  .donation-text p:nth-child(1) {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  .donatie-doelen img {
    width: 1.1rem;
    height: 1.1rem;
    margin-right: 5px !important;
  }

  // -------------- mortician & map --------------

  .mortician-map-container {
    min-height: 58rem;
  }

  .begrafenisondernemer-map-container {
    flex-direction: column;
  }

  .mortician-map-edit-icon {
    position: absolute;
    top: 3rem;
    right: 3rem;
  }

  .begrafenisondernemer-map {
    margin: 1rem 0 0 0;
  }

  .mortician-name {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .undertaker-text {
    font-size: 1rem;
    padding-left: 1rem;
  }

  .mortician-contact img {
    width: 1.5rem;
    height: 1.5rem;
  }

  .btn-webshop {
    background-color: #2d9bf0;
    font-size: 1rem;
    border: none;
    color: white;
    border-radius: 25px;
    width: 19.3rem;
    height: 3rem;
  }

  .no-map-option {
    margin: 0;
    width: 100%;
  }

  .flag-report {
    justify-content: center;
    margin: 0rem 1rem 0 0;
    padding: 1rem;
  }

}

/* tablets */
@media (min-width: 767px) and (max-width: 991px) {

  //  -------------- intro --------------
  .admin-button {
    margin: 1rem 0;
  }

  .home-section {
    min-height: 40rem;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin: 7rem 0 0;
    width: 100%;
    padding-bottom: 3rem;
  }

  .photo-container {
    display: flex;
    justify-content: center !important;
    margin-top: 0;
  }

  .image-profile {
    border-radius: 10%;
    width: 14rem;
    height: 17rem;
    object-fit: cover;
  }

  .text-container {
    justify-content: center;
  }

  .edit-icon-herdenkingsruimte-container {
    position: absolute;
    top: 0;
    right: 6rem;
  }

  .edit-icon-herdenkingsruimte {
    width: 2.5rem;
    height: 2.5rem;
  }

  .user-info {
    flex-direction: column;
  }

  .user-name {
    padding: 1rem 0 0;
    font-weight: 700;
    margin-right: 0;
    display: block;
    align-self: center;
  }

  .age-place {
    display: flex;
    justify-content: space-evenly;
  }

  .user-age,
  .user-place {
    padding-top: 0;
    margin-right: 0;
  }

  .user-date {
    justify-content: center;
  }

  .text-intro {
    padding: 0 1rem;
    width: 80vw;
    align-self: center;
    min-height: 10rem;
    margin: 1rem 0;
  }

  // -------------- contributions-cards --------------
  .herdenkigs-main-title span {
    font-size: 2.4rem;
    padding: 1.5rem 0;
  }

  // -------------- contributions-making --------------

  .contributions-making-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 12rem;
  }

  .make-contribution {
    border-radius: 8px;
    min-height: 12rem;
    margin: 0;
    width: 90vw;
    padding: 1rem;
  }

  // -------------- mortician & map --------------
  .mortician-map-container {
    min-height: 59rem;
  }

  .mortician-map-edit-icon {
    position: absolute;
    top: 3rem;
    right: 6rem;
  }

  .begrafenisondernemer-map {
    margin: 1rem 0 0 0;
  }

  .begrafenisondernemer-map-container {
    flex-direction: column;
  }

  .flag-report {
    justify-content: center;
    margin: 0rem 1rem 0 0;
    padding: 1rem;
  }

}

/* large */
@media (min-width: 991px) and (max-width: 1200px) {

  //  -------------- intro --------------
  .admin-button {
    margin: 0 0;
  }

  .home-section {
    min-height: 18rem;
  }

  .photo-container {
    margin-top: 1rem;
    display: flex;
    margin-right: 1rem;
    // justify-content: flex-start !important;
    align-self: flex-start;
  }

  .image-profile {
    border-radius: 10%;
    width: 14rem;
    height: 17rem;
    object-fit: cover;
  }

  .text-container {
    justify-content: center;
  }

  .user-name {
    padding: 1rem 0 0 1rem;
    font-weight: 700;
  }

  .age-place {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .user-age,
  .user-place {
    justify-content: center;
  }

  .user-date {
    padding-right: 1rem;
  }

  .text-intro {
    padding: 0 1rem;
    width: 60vw;
    align-self: center;
    min-height: 10rem;
    margin: 1rem 0;
  }

  // -------------- contributions-cards --------------
  .herdenkigs-main-title span {
    font-size: 2.3rem;
    padding: 1.5rem 0;
  }

  // -------------- contributions-making --------------

  .contributions-making-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 12rem;
  }

  .make-contribution {
    border-radius: 8px;
    min-height: 12rem;
    margin: 0;
    width: 90vw;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  // -------------- mortician & map --------------
  .mortician-map-edit-icon {
    position: absolute;
    top: 3rem;
    right: 3rem;
  }

  .begrafenisondernemer-map {
    flex-direction: column;
    // min-height: 25rem;
    margin: 0 6rem;
  }

  // .begrafenisondernemer-map-container {
  //    width: 80vw;
  // }

  .mortician-name {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .undertaker-text {
    font-size: 1rem;
    padding-left: 1rem;
  }

  .mortician-contact img {
    width: 1.5rem;
    height: 1.5rem;
  }

  .btn-webshop {
    background-color: #2d9bf0;
    font-size: 1rem;
    border: none;
    color: white;
    border-radius: 25px;
    width: 19.3rem;
    height: 3rem;
  }

  .no-map-option {
    margin: 0;
    width: 100%;
  }

}

/* xlarge > 14" */
@media(min-width: 1200px) and (max-width: 1490px) {

  //  -------------- intro --------------
  .home-section {
    min-height: 20rem;
  }

  .photo-container {
    margin-top: 1rem;
    display: flex;
    margin-right: 1rem;
    justify-content: flex-start !important;
    align-self: flex-start;
  }

  .image-profile {
    border-radius: 10%;
    width: 14rem;
    height: 17rem;
    object-fit: cover;
  }

  .text-container {
    justify-content: flex-start;
  }

  .user-name {
    padding: 1rem 0 0 1rem;
    font-weight: 700;
  }

  .age-place {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .user-age,
  .user-place {
    justify-content: center;
  }

  .user-date {
    padding-right: 1rem;
  }

  .text-intro {
    padding: 0 1rem;
    width: 60vw;
    align-self: center;
    min-height: 10rem;
    margin: 1rem 0;
  }

  // -------------- contributions-cards --------------
  .herdenkigs-main-title span {
    font-size: 2.3rem;
    padding: 1.5rem 0;
  }

  // -------------- contributions-making --------------

  .contributions-making-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .make-contribution {
    margin: 0;
    width: 90vw;
    padding: 1rem;
  }

  // -------------- mortician & map --------------
  .mortician-map-edit-icon {
    position: absolute;
    top: 3rem;
    right: 6rem;
  }

  .begrafenisondernemer-map {
    flex-direction: column;
    // min-height: 25rem;
    margin: 0 6rem;
  }

  .mortician-name {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .undertaker-text {
    font-size: 1rem;
    padding-left: 1rem;
  }

  .mortician-contact img {
    width: 1.5rem;
    height: 1.5rem;
  }

  .btn-webshop {
    background-color: #2d9bf0;
    font-size: 1rem;
    border: none;
    color: white;
    border-radius: 25px;
    width: 19.3rem;
    height: 3rem;
  }

  .no-map-option {
    margin: 0;
    width: 100%;
  }

}