.contribution-cards {
  display: grid;
  grid-template-columns: 25rem 25rem 25rem;
  gap: 5rem;
  width: 100vw;
  margin: 0;
  background-color: #f5f9fc;
  padding: 0 5rem;
  justify-content: center;
}

.show-contribution-admin {
  display: flex;
  flex-direction: column;
  height: 38rem;
  width: 27rem;
  border-radius: 3rem;
  background-color: #fff;
}

.show-contribution-public {
  display: flex;
  flex-direction: column;
  height: 37rem;
  width: 27rem;
  border-radius: 3rem;
  background-color: #fff;
}

.herdenkingsruimte-buttons {
  display: flex;
  justify-content: end;
  padding: 1rem 1rem 0;
}

.herdenkingsruimte-buttons img {
  width: 2.5rem;
  height: 2.5rem;
}

.body-text-info {
  padding: .5rem 1rem;
}

.show-contribution-text {
  height: 12rem;
  overflow: auto;
  word-break: break-all;
  padding: 0 1rem;
  scrollbar-color: #0A3556  #d4d4d4 !important;
  scrollbar-width: thin !important;
}

.show-contribution-image {
  height: 20rem;
}

.show-contribution-image img{
  width: 27rem;
  height: 18rem;
  border-radius: 3rem;
  object-fit: cover;
}

.button-more-container {
  margin-top: 4rem;
}

.button-more {
  display: flex;
}

.button-more img {
  width: 1.5rem;
  height: 1.5rem;
  z-index: 1;
  margin-right: -2.8rem;
  margin-top: 2.9rem;
}

.button-more button {
  border: none;
  border-radius: 65px;
  font-size: 1.2rem;
  background-color: #2D9BF0;
  color: #fff;
  width: 14.5rem;
  padding: .7rem 0 .8rem 1.5rem;
  margin-top: 2rem;
}

.button-more:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}


// h: media queries --------------------------------------


/* portrait phones */
@media (max-width: 575px) {
  .contribution-cards {
    gap: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
  }

  .show-contribution-admin {
    height: 39rem;
    width: 90vw;
  }
  
  .show-contribution-public {
    height: 34rem;
    width: 90vw;
  }

  .show-contribution-image img{
    width: 90vw;
    height: 15rem;
    border-radius: 3rem;
    object-fit: cover;
  }

  .body-text-info {
    padding: .7rem 1rem;
  }

  .button-more-container {
    margin-top: 2rem;
  }

  .button-more img {
    width: 1.5rem;
    height: 1.5rem;
    z-index: 1;
    margin-right: -2.8rem;
    margin-top: 2.9rem;
  }

  .button-more button {
    width: 13.9rem;
    padding: .7rem 0 .8rem 1.5rem;
  }

}

/* landscape phones */
@media (min-width: 575px) and (max-width: 767px){
  .contribution-cards {
    gap: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
  }

  .show-contribution-admin {
    // height: 43rem;
    width: 90vw;
  }

  .show-contribution-public {
    height: 37rem;
    width: 90vw;
  }

  .show-contribution-image {
    height: 50vh;
  }

  .show-contribution-image img{
    width: 90vw;
    // height: 18rem;
    border-radius: 3rem;
    object-fit: cover;
  }

  .button-more-container {
    margin-top: 2rem;
  }

  .button-more img {
    width: 1.5rem;
    height: 1.5rem;
    z-index: 1;
    margin-right: -2.8rem;
    margin-top: 2.9rem;
  }

  .button-more button {
    width: 13.9rem;
    padding: .7rem 0 .8rem 1.5rem;
  }

}

/* tablets */
@media (min-width: 767px) and (max-width: 991px){
  .contribution-cards {
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
  }

  .show-contribution-admin {
    // height: 42.5rem;
    width: 60vw;
    margin: 2rem;
  }

  .show-contribution-public {
    height: 34rem;
    width: 60vw;
    margin: 2rem;
  }

  .show-contribution-image {
    height: 50vh;
  }
  
  .show-contribution-image img{
    width: 60vw;
    height: 15rem;
    border-radius: 3rem;
    object-fit: cover;
  }

  .button-more-container {
    margin-top: 2rem;
  }

  .button-more img {
    width: 1.5rem;
    height: 1.5rem;
    z-index: 1;
    margin-right: -2.8rem;
    margin-top: 2.9rem;
  }

  .button-more button {
    width: 13.9rem;
    padding: .7rem 0 .8rem 1.5rem;
  }

}

/* large */
@media (min-width: 991px) and (max-width: 1200px) {
  .contribution-cards {
    display: grid;
    grid-template-columns: 40% 40.4vw;
    gap: 5rem;
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  
  .show-contribution-admin {
    // height: 42.5rem;
    width: 40.4vw;
  } 

  .show-contribution-public {
    // height: 41rem;
    width: 40.4vw;
    border-radius: 3rem;
    background-color: #fff;
  }

  // .show-contribution-image {
  //   height: 50vh;
  // }
  
  .show-contribution-image img{
    width: 40.4vw;
    // height: 51vh;
    border-radius: 3rem;
    object-fit: cover;
  }
}

/* xlarge > 14" */
@media(min-width: 1200px) and (max-width: 1490px) {
  .contribution-cards {
    display: grid;
    grid-template-columns: 40% 40.4vw;
    gap: 5rem;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  .show-contribution-admin {
    // height: 42.5rem;
    width: 40.4vw;
  } 
  
  .show-contribution-public {
    // height: 41rem;
    width: 40.4vw;
    border-radius: 3rem;
    background-color: #fff;
  }

  .show-contribution-image {
    height: 50vh;
  }
  
  .show-contribution-image img{
    width: 40.4vw;
    // height: 51vh;
    border-radius: 3rem;
    object-fit: cover;
  }
}

