// Slider Component
.slider-memorial-container {
  background-color: rgba(173, 173, 173, 0.6);
  height: 70px;

  .slider-memorial-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: 100%;
    list-style-type: none;

    a {
      padding: 0 15px;
      font-size: 1.5rem;
      color: #3971BB;
      font-weight: 200 bold;
      transition: all 0.2s ease-out;
      text-decoration: none;
    }

    a:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }
  }

  // !fix this problem
  .fixed-element {
    position: sticky;
    top: 80px;
  }

  .visited {
    font-size: 1.2rem;
    font-weight: 400;
    color: brown;
  }

  .slider-icons img {
    width: 3rem;
    height: 3rem;
  }

  .slider-icons .icon-btn:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  .tooltip {
    color: black !important;
    background-color: #fff !important;
  }

  // style of tabs in small display
  // .slider-memorial-list-icons {
  //   display: flex;
  //   justify-content: space-around;
  //   align-items: center;
  //   height: 100%;
  //   list-style-type: none;

  //   a {
  //     text-decoration: none;
  //   }

  //   img {
  //     width: 3rem;
  //     height: 3rem;
  //   }
  // }

}

// ---------- media queries ----------
@media (max-width: 575px) {
  .slider-icons-container {
    margin-left: 10vw;
  }
}

/* landscape phones */
@media (min-width: 575px) and (max-width: 767px) {
  .slider-icons-container {
    margin-left: 25vw ;
  }
}

/* tablets */
@media (min-width: 767px) and (max-width: 991px) {
  .slider-icons-container {
    margin-left: 30vw ;
  }
}


/* large */
@media (min-width: 991px) and (max-width: 1200px) {
  // .slider-icons-container {
  //   margin-left: 35vw ;
  // }
}

/* xlarge > 14" */
// @media(min-width: 1200px) and (max-width: 1490px) {

// }