.update-form-contribution {
    justify-content: center;
    align-items: center;
}

.teaxtarea-container {
    margin-top: 1rem;
}

.select-container {
    width: 35rem;
    margin-top: 2rem;
}

.select-container select {
    border-radius: 4px;
}

.update-form-contribution input {
    padding: .5rem 1rem;
    border: 1px solid #808080;
    width: 35rem;
    border-radius: 8px;
    align-self: flex-start;
    margin-bottom: 0;
}

.update-form-contribution textarea {
    padding: .5rem 1rem;
    border: 1px solid #808080;
    width: 35rem;
    border-radius: 8px;
    min-height: 10rem;
}

.ckeckbox-container  {
    width: 35rem;
    margin: 3rem 0 1rem;
}

.checkbox-input {
    accent-color: #2D9BF0;
}

.ckeckbox-container label {
    margin-left: 0;
    margin-top: -.4rem;
}


.update-form-contribution img {
    width: 27rem;
    height: 18rem;
    border-radius: 3rem;
    object-fit: cover;
}

.modal-title {
    font-size: 2.1rem !important;
    font-weight: 700 !important;
}

.button-save-change {
    display: flex;
  }
  
  .button-save-change .save-img {
    width: 1.5rem;
    height: 1.5rem;
    z-index: 1;
    margin-right: -2.8rem;
    margin-top: .7rem;
}

.button-save-change button {
    border: none;
    border-radius: 65px;
    font-size: 1.2rem;
    background-color: #2D9BF0;
    color: #fff;
    width: 9rem;
    padding: .5rem 0 .8rem 1.3rem;
}
  
  .button-save-change:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

// h: ---------- media queries ----------

/* portrait phones */
@media (max-width: 575px) {
    .teaxtarea-container {
        margin-top: 1rem;
    } 

    .select-container {
        width: 80vw;
        margin-top: 2rem;
    } 

    .update-form-contribution input{
        padding: .5rem 1rem;
        border: 1px solid #808080;
        width: 80vw;
        border-radius: 8px;
    }
    
    .update-form-contribution textarea{
        padding: .5rem 1rem;
        border: 1px solid #808080;
        width: 80vw;
        border-radius: 8px;
        min-height: 10rem;
    }

    .ckeckbox-container  {
        width: 80vw;
        margin: 2rem 0;
    }

    .image-container {
        width: 80vw;
    }

    .update-form-contribution img {
        width: 20rem;
        height: 13rem;
        border-radius: 0;
        object-fit: cover;
    }
}

/* landscape phones */
@media (min-width: 575px) and (max-width: 767px) {
    .teaxtarea-container {
        margin-top: 1rem;
    } 

    .select-container {
        width: 60vw;
        margin-top: 2rem;
    } 

    .update-form-contribution input{
        padding: .5rem 1rem;
        border: 1px solid #808080;
        width: 60vw;
        border-radius: 8px;
    }
    
    .update-form-contribution textarea{
        padding: .5rem 1rem;
        border: 1px solid #808080;
        width: 60vw;
        border-radius: 8px;
        min-height: 10rem;
    }

    .ckeckbox-container  {
        width: 60vw;
        margin: 2rem 0;
    }

    .image-container {
        width: 60vw;
    }

    .update-form-contribution img {
        width: 20rem;
        height: 13rem;
        border-radius: 0;
        object-fit: cover;
    }
}

/* tablets */
@media (min-width: 767px) and (max-width: 991px) {
    .teaxtarea-container {
        margin-top: 1rem;
    } 

    .select-container {
        width: 45vw;
        margin-top: 2rem;
    } 

    .update-form-contribution input{
        padding: .5rem 1rem;
        border: 1px solid #808080;
        width: 45vw;
        border-radius: 8px;
    }
    
    .update-form-contribution textarea{
        padding: .5rem 1rem;
        border: 1px solid #808080;
        width: 45vw;
        border-radius: 8px;
        min-height: 10rem;
    }

    .ckeckbox-container  {
        width: 45vw;
        margin: 2rem 0;
    }

    .image-container {
        width: 45vw;
    }

    .update-form-contribution img {
        width: 20rem;
        height: 13rem;
        border-radius: 0;
        object-fit: cover;
    }
}

/* large */
@media (min-width: 991px) and (max-width: 1200px) {
    .teaxtarea-container {
        margin-top: 1rem;
    } 

    .select-container {
        width: 45vw;
        margin-top: 2rem;
    } 

    .update-form-contribution input{
        padding: .5rem 1rem;
        border: 1px solid #808080;
        width: 45vw;
        border-radius: 8px;
    }
    
    .update-form-contribution textarea{
        padding: .5rem 1rem;
        border: 1px solid #808080;
        width: 45vw;
        border-radius: 8px;
        min-height: 10rem;
    }

    .ckeckbox-container  {
        width: 45vw;
        margin: 2rem 0;
    }

    .image-container {
        width: 45vw;
    }

    .update-form-contribution img {
        width: 20rem;
        height: 13rem;
        border-radius: 0;
        object-fit: cover;
    }
}

/* xlarge > 14" */
@media(min-width: 1200px) and (max-width: 1490px) {}