.gegevens-container {
  margin: 40px 250px;
  min-height: 80vh;
  
  
}

.gegevens-title {
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid var(--lightblue);
  border-bottom-length: 50%;
}
.gegevens-text {
  line-height: 12px;
  font-size: 20px;
 
}

.form-inputs-create{
  border: 1px solid black;
  border-radius: 10px;
}

.aside-mijn-gegevens-container {
  display: flex;
  h5{
    text-align: center;
    padding: 5px;
    border-bottom:2px solid var(--lightblue);
   
  }
  margin-bottom: 40px;
  ul{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    text-align: center;
    .lees_meer_button{
      background: var(--beige) !important;
      width: 100%;
      margin-top: -10px;
    
      a{
        color: black;
        text-align: center;
      }
    }
    li{
      list-style: none;
      justify-self: center;
     
    }
    a{
      text-decoration: none;
     
      font-size: 16px;
      text-align: center;
    }
    a:hover{
      color: var(--lightblue);
    }
  }
 
  
  .aside-container {
    border-radius: var(--radius);
    background-color: var(--beige);
    -moz-box-shadow: 10px 10px 10px #9f9f9f,
    -20px -20px 40px #ffffff;
    -webkit-box-shadow: 10px 10px 10px #9f9f9f,
    -20px -20px 40px #ffffff;
    box-shadow: 10px 10px 10px #9f9f9f,
    -20px -20px 40px #ffffff;
    border: 1px solid rgb(216, 216, 216);
    height: 100%;
    padding: 20px;
    margin-right: 50px;
    font-size: 18px;
    
  }
}

.mijn-gegevens {
  background: var(--beige);
  -moz-box-shadow: 10px 10px 10px #9f9f9f,
  -20px -20px 40px #ffffff;
  -webkit-box-shadow: 10px 10px 10px #9f9f9f,
  -20px -20px 40px #ffffff;
  box-shadow: 10px 10px 10px #9f9f9f,
  -20px -20px 40px #ffffff;
  border: 1px solid rgb(216, 216, 216);
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  border-radius: var(--radius);
  padding: 20px;
  width: 100%;
  height: 100%;

  .mijn-gegevens-img {
    //border: 1px solid rgb(199, 13, 13);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    
    img {
      border-radius: 50%;
      height: 150px;
      width: 150px;
    }
  }

  .mijn-gegevens-text {
    //border: 1px solid green;
    padding: 20px;
    width: 60%;

    .button-wijzigen{
      color: white;
      text-decoration: none;
    }
  }
}

.factuur {
  background: var(--beige);
  -moz-box-shadow: 10px 10px 10px #9f9f9f,
  -20px -20px 40px #ffffff;
  -webkit-box-shadow: 10px 10px 10px #9f9f9f,
  -20px -20px 40px #ffffff;
  box-shadow: 10px 10px 10px #9f9f9f,
  -20px -20px 40px #ffffff;
  border: 1px solid rgb(216, 216, 216);
  padding: 20px;
  min-width: 100%;
  height: 100%;
  border-radius: var(--radius);
  p{
    padding: 15px;
  }

  .button-wijzigen{
    color: white;
    text-decoration: none;
  }
}

.button-container {
  margin-top: 50px;

  .delete-alert {
    color: red;
    margin-left: 15px;
    font-weight: bold;
  }
  .delete_button{
    background: red !important;
  }
}

//LAPTOP

@media screen and (min-width: 900px) and (max-width: 1400px){
  .gegevens-container {
    margin: 40px 100px;
  }

  .mijn-gegevens-text{

    .gegevens-text {
      font-size: 16px;
    }
  }

  .mijn-gegevens{
    padding: 0;

    .mijn-gegevens-img {

      img {
        width: 100px;
        height: 100px;
      }
    }
  }
  
  .gegevens-title{
    font-size: 26px;
  }
}

// MOBILE

@media screen and (max-width: 900px){
  .gegevens-container {
    max-width: 90%;
    min-height: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .gegevens-title {
    text-align: center;
    font-size: 24px;
 
  }

  .gegevens-text {
    line-height: 20px;
    font-size: 20px;
  }

  .aside-container {
    display: none;
  }

  .mijn-gegevens {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    height: 50%;
  
    .mijn-gegevens-img {
      //border: 1px solid rgb(199, 13, 13);
      width: 100%;
      
      img {
        border-radius: 50%;
        height: 150px;
        width: 150px;
      }
    }

    .mijn-gegevens-text {
      //border: 1px solid green;
      padding: 20px;
      width: 100%;
    }
  }

  .factuur {
    padding: 40px;
    width: 100%;
    height: 50%;
  
    
  }

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

    .btn {
      font-size: 20px;
    }

    
  }
  .delete-alert {
    margin-top: 5px;
    text-align: center;
    font-size: 14px;
    color: red;
  }
}