.gegevens-container {
  margin: 40px 250px;
  min-height: 80vh;
}

.gegevens-title {
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid var(--lightblue);
  border-bottom-length: 50%;
}

.gegevens-text {
  line-height: 12px;
  font-size: 20px;
}

.aside-mijn-gegevens-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}
.aside-mijn-gegevens-container h5 {
  text-align: center;
  padding: 5px;
  border-bottom: 2px solid var(--lightblue);
}
.aside-mijn-gegevens-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}
.aside-mijn-gegevens-container ul .lees_meer_button {
  background: var(--beige) !important;
  width: 100%;
  margin-top: -10px;
}
.aside-mijn-gegevens-container ul .lees_meer_button a {
  color: black;
  text-align: center;
}
.aside-mijn-gegevens-container ul li {
  list-style: none;
  justify-self: center;
}
.aside-mijn-gegevens-container ul a {
  text-decoration: none;
  font-size: 16px;
  text-align: center;
}
.aside-mijn-gegevens-container ul a:hover {
  color: var(--lightblue);
}
.aside-mijn-gegevens-container .aside-container {
  border-radius: var(--radius);
  background-color: var(--beige);
  -webkit-box-shadow: 10px 10px 10px #9f9f9f, -20px -20px 40px #ffffff;
  box-shadow: 10px 10px 10px #9f9f9f, -20px -20px 40px #ffffff;
  border: 1px solid #d8d8d8;
  height: 100%;
  padding: 20px;
  margin-right: 50px;
  font-size: 18px;
}

.mijn-gegevens {
  background: var(--beige);
  -webkit-box-shadow: 10px 10px 10px #9f9f9f, -20px -20px 40px #ffffff;
  box-shadow: 10px 10px 10px #9f9f9f, -20px -20px 40px #ffffff;
  border: 1px solid #d8d8d8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: var(--radius);
  padding: 20px;
  width: 100%;
  height: 100%;
}
.mijn-gegevens .mijn-gegevens-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}
.mijn-gegevens .mijn-gegevens-img img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
.mijn-gegevens .mijn-gegevens-text {
  padding: 20px;
  width: 60%;
}
.mijn-gegevens .mijn-gegevens-text .button-wijzigen {
  color: white;
  text-decoration: none;
}

.factuur {
  background: var(--beige);
  -webkit-box-shadow: 10px 10px 10px #9f9f9f, -20px -20px 40px #ffffff;
  box-shadow: 10px 10px 10px #9f9f9f, -20px -20px 40px #ffffff;
  border: 1px solid #d8d8d8;
  padding: 20px;
  min-width: 100%;
  height: 100%;
  border-radius: var(--radius);
}
.factuur p {
  padding: 15px;
}
.factuur .button-wijzigen {
  color: white;
  text-decoration: none;
}

.button-container {
  margin-top: 50px;
}
.button-container .delete-alert {
  color: red;
  margin-left: 15px;
  font-weight: bold;
}
.button-container .delete_button {
  background: red !important;
}

@media screen and (min-width: 900px) and (max-width: 1400px) {
  .gegevens-container {
    margin: 40px 100px;
  }

  .mijn-gegevens-text .gegevens-text {
    font-size: 16px;
  }

  .mijn-gegevens {
    padding: 0;
  }
  .mijn-gegevens .mijn-gegevens-img img {
    width: 100px;
    height: 100px;
  }

  .gegevens-title {
    font-size: 26px;
  }
}
@media screen and (max-width: 900px) {
  .gegevens-container {
    max-width: 90%;
    min-height: 100%;
    margin: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .gegevens-title {
    text-align: center;
    font-size: 24px;
  }

  .gegevens-text {
    line-height: 20px;
    font-size: 20px;
  }

  .aside-container {
    display: none;
  }

  .mijn-gegevens {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
    width: 100%;
    height: 50%;
  }
  .mijn-gegevens .mijn-gegevens-img {
    width: 100%;
  }
  .mijn-gegevens .mijn-gegevens-img img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
  }
  .mijn-gegevens .mijn-gegevens-text {
    padding: 20px;
    width: 100%;
  }

  .factuur {
    padding: 40px;
    width: 100%;
    height: 50%;
  }

  .button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
  }
  .button-container .btn {
    font-size: 20px;
  }

  .delete-alert {
    margin-top: 5px;
    text-align: center;
    font-size: 14px;
    color: red;
  }
}/*# sourceMappingURL=mijnGegevens.css.map */