.faq-container {
  padding-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
 
 .lees_meer_button{
  
   display:flex; 
   width: 50%;
   text-align: center;
   justify-content: center;
   margin: auto;
   text-decoration: none;
   max-width: 250px;
   border: 2px solid whitesmoke;
 } 
 .lees_meer_button:hover{
   border: 2px solid var(--darkblue);
 }

  .faq-list {
    width: 60%;
    height: 50%;
    
  }

  .contact-us {
    width: auto;
    margin-top: 100px;
    font-size: 24px;
   
  }
}

//custom styling faq component npm
.faq-row-wrapper {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  padding: 5px 10px 10px;
  
  .faq-title {
    display: flex;
    justify-content: center;
    border: none;
    margin: 20px 0px;
    
  }

  .faq-body {
    
    
    .faq-row {
      border-bottom: none;
      .row-title {
       border-radius: var(--radius);
        border:.2px solid #c1c1c1;
       background-color: var(--beige);
        font-weight: bold;
        padding: 5px;
       
      }

      .row-content {
          .row-content-text {
            padding: 5px;
            border-bottom: 1px solid grey;
            border-left: 1px solid grey;
            border-right: 1px solid grey;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
          
          }
      }
    }
  }
}

//LAPTOP

@media screen and (min-width: 900px) and (max-width: 1400px){
  .faq-container{
    .faq-list{
      width: 70%;
    }
  }
}

// MOBILE VERSION

@media screen and (max-width: 900px) {
  .faq-container {
  
  
    padding-left: 10px;
    
    width: 100%;

    .faq-list {
     width: 100%;
      
    }

    .contact-us {
      padding-top: 50px;
      font-size: 20px;
   
    }
  }

  .faq-row-wrapper {
    padding: 5px;
    
    width: 90%;
    margin: auto;
  }
  .row-title{
    font-size: 10px;
    color: hotpink;
  }
}