.faq {
  background: #fff;
}

.faq-title {
  padding: 3rem 0;
  background-color: #fff;
  font-weight: bold;
}

.faq-inhoud {
  gap: 1rem;
  margin-bottom: 5rem;
}

.faq-inhoud a:hover {
  text-decoration: none;
}

.titles {
  background: #f5f9fc;
}

.titles .arrow {
  width: 1.2rem;
  align-self: center;
}

.icon-text {
  margin-left: .5rem;
  color: #1d2626;
  display: inline;
}

.description {
  background: #f5f9fc;
}

.description img {
  width: 30rem;
  margin: -4rem 0;
}

.description .illustration {
  width: 20rem;
  margin: 2rem;
}

.description .title-in {
  line-height: 2rem;
}

.description-text {
  text-align: justify;
}

.subtitle-description{
  display: inline;
  padding: 80px 0px; 
  width: 100%;  
}

.description-inner{
  display: inline;
  float: left;
  width: 100%;
}


/* portrait phones */
@media (max-width: 575px) {
  .faq {
    max-width: 100vw;
  }

  .faq-title {
    padding: 1.5rem 0 0;
    font-size: 2rem;
  }

  .titles {
    background: #fff;
  }

  .description {
    background: #fff;
    margin-left: 0;
  }
}


/* landscape phones */
@media (min-width: 576px) and (max-width: 767px) {
  .faq {
    max-width: 100vw;
  }

  .faq-title {
    padding: 1.5rem 0 0;
  }

  .titles {
    background: #fff;
  }

  .description {
    background: #fff;
    margin-left: 0;
  }
}

/* tablets */
@media (min-width: 768px) and (max-width: 991px) {
  .faq {
    max-width: 100vw;
  }

  .faq-title {
    padding: 1.5rem 0 0;
  }

  .titles {
    background: #fff;
  }

  .description {
    background: #fff;
    margin-left: 0;
  }
}
