.pagina404 {
    min-height: 100vh;
    padding: 3rem;
}

.inhoud404 img {
    width: 30rem;
    margin: 2rem;
    margin-top: -3rem;
    margin-bottom: 0;
}

.title-1 {
    font-size: 2rem;
}

.btn-home .arrow {
    width: 1rem;
    height: 1rem;
    align-self: center;
    margin-top: .1rem;
    margin-right: -2rem;
    z-index: 1;
}
.button {
    background-color: darkorange;
    color: #fff;
    padding: .6rem 1rem;
    border-radius: 65px;
    border: none;
    width: 14rem;
    font-size: 1.3rem;
}

/* portrait phones */
@media (max-width: 575px) {
    .title-1 {
        font-size: 1.6rem;
    }
}
