.profile-aanmaken-form-container {
    background-color: #f5f9fc;
    padding: 5rem 0;
}

.profile-checkbox input {
    margin-left: -12rem;
}

.profile-checkbox label {
    margin-left: -12rem;
}

.profile-make-title {
    margin-left: -27rem;
}

//h: ---------- media queries ----------

/* portrait phones */
@media (max-width: 575px) {
    .profile-aanmaken-form-container {
        padding: 0;
    }

    .profile-checkbox input {
        margin-left: -9rem;
    }

    .profile-checkbox label {
        margin-left: -9rem;
    }

    .profile-make-title {
        margin-left: -.5rem;
    }
}

/* landscape phones */
@media (min-width: 575px) and (max-width: 767px) {
    .profile-aanmaken-form-container {
        margin: 0;
        padding: 3rem;
    }

    .profile-checkbox input {
        margin-left: -12rem;
    }

    .profile-checkbox label {
        margin-left: -11.5rem;
        margin-top: -.2rem;
    }

    .profile-make-title {
        margin-left: -.2rem;
    }
}

/* tablets */
@media (min-width: 767px) and (max-width: 991px) {
    .profile-aanmaken-form-container {
        margin: 0;
        padding: 3rem 6rem;
    }

    .profile-checkbox input {
        margin-left: -14rem;
    }

    .profile-checkbox label {
        margin-left: -14rem;
        margin-top: -.2rem;
    }

    .profile-make-title {
        margin-left: -.5rem;
    }
}

/* large */
@media (min-width: 991px) and (max-width: 1200px) {
    .profile-aanmaken-form-container {
        margin: 0;
        padding: 3rem 2rem;
    }

    .profile-checkbox label {
        margin-top: -.2rem;
    }

}

/* xlarge > 14" */
@media(min-width: 1200px) and (max-width: 1490px) {
        .profile-aanmaken-form-container {
        margin: 0;
        padding: 2rem 1rem;
    }
    .profile-checkbox label {
        margin-top: -.2rem;
    }
}