@charset "UTF-8";
.leaflet-container {
  height: 100%;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

::-moz-selection {
  color: white;
  background: #cd1b2b;
}

::selection {
  color: white;
  background: #cd1b2b;
}

body {
  background-color: whitesmoke !important;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

.form-info {
  background: var(--beige);
}
.form-info input, .form-info select {
  border-color: #dbd7d7;
  border-radius: var(--radius);
}
.form-info .submit-btn {
  background-color: rgba(0, 128, 0, 0.275);
}
.form-info .cancel-btn {
  background-color: rgba(255, 0, 0, 0.118);
}
.form-info option {
  color: var(--lightblue);
}

.gegevensTitel {
  margin: 150px 50%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: small;
}
.gegevensTitel a {
  text-decoration: none;
}

.icoonKeuze {
  font-size: 30px;
  margin-right: 10px;
}

.page-link-container {
  padding: 20px;
}

.keuzepage {
  background: #fffbfb;
  width: 100vw;
  border-radius: var(--radius);
  margin-bottom: 20px;
}

.body_tribute {
  margin: 0;
  color: #444;
  background: #e2e7eb;
  font: 300 18px/18px Roboto, sans-serif;
}

*, :after, :before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix:after, .clearfix:before {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
  display: block;
}

.author-quote-wrap .author-quote,
.author-quote-wrap .author-photo:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.author-quote-wrap {
  color: #fff;
  width: 100%;
  overflow: hidden;
  max-width: 560px;
  min-height: 390px;
  margin: 50px auto 0;
  background: #17a0ff;
  position: relative;
  -webkit-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
          box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

.author-quote-wrap .author-quote {
  display: none;
}

.author-quote-wrap .toggle-quote {
  display: none;
}

.author-quote-wrap .toggle-quote:checked + .author-quote {
  display: block;
}

.author-quote-wrap .author-quote a {
  color: inherit;
  text-decoration: none;
}

.author-quote-wrap .author-photo,
.author-quote-wrap .quote-content {
  height: 100%;
  position: relative;
}

.author-quote-wrap .author-photo {
  width: 140px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  quotes: "“" "”" "‘" "’";
}

.author-quote-wrap .author-photo.photo-a {
  background-image: url(https://raw.githubusercontent.com/khadkamhn/day-007-author-quote/master/img/author-1.jpg);
}

.author-quote-wrap .author-photo.photo-b {
  background-image: url(https://raw.githubusercontent.com/khadkamhn/day-007-author-quote/master/img/author-2.jpg);
}

.author-quote-wrap .author-photo.photo-c {
  background-image: url(https://raw.githubusercontent.com/khadkamhn/day-007-author-quote/master/img/author-3.jpg);
}

.author-quote-wrap .author-photo.photo-d {
  background-image: url(https://raw.githubusercontent.com/khadkamhn/day-007-author-quote/master/img/author-4.jpg);
}

.author-quote-wrap .author-photo.photo-e {
  background-image: url(https://raw.githubusercontent.com/khadkamhn/day-007-author-quote/master/img/author-5.jpg);
}

.author-quote-wrap .author-photo:before {
  content: "";
  background: rgba(22, 160, 255, 0.5);
}

.author-quote-wrap .author-photo:after {
  top: 15px;
  left: 60px;
  font-size: 72px;
  line-height: 72px;
  position: absolute;
  font-family: serif;
  content: open-quote;
}

.author-quote-wrap .author-photo .navigate {
  left: 15px;
  z-index: 10;
  right: 15px;
  bottom: 15px;
  position: absolute;
  text-align: center;
}

.author-quote-wrap .author-photo .navigate .label {
  width: 15px;
  height: 30px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.author-quote-wrap .author-photo .navigate .label.left {
  left: -30px;
}

.author-quote-wrap .author-photo .navigate .label.right {
  right: -30px;
}

.author-quote-wrap .author-photo .navigate .label.disabled {
  cursor: not-allowed;
}

.author-quote-wrap .author-photo .navigate .label:before,
.author-quote-wrap .author-photo .navigate .label:after {
  content: "";
  height: 2px;
  width: 15px;
  background: #ccc;
  position: absolute;
}

.author-quote-wrap .author-photo .navigate .label:before {
  top: 62%;
}

.author-quote-wrap .author-photo .navigate .label:after {
  bottom: 62%;
}

.author-quote-wrap .author-photo .navigate .label.left:before,
.author-quote-wrap .author-photo .navigate .label.right:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.author-quote-wrap .author-photo .navigate .label.right:before,
.author-quote-wrap .author-photo .navigate .label.left:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.author-quote-wrap .author-photo .navigate .label.left:before,
.author-quote-wrap .author-photo .navigate .label.left:after {
  left: 0;
}

.author-quote-wrap .author-photo .navigate .label.right:before,
.author-quote-wrap .author-photo .navigate .label.right:after {
  right: 0;
}

.author-quote-wrap .author-photo .navigate .label.disabled:before,
.author-quote-wrap .author-photo .navigate .label.disabled:after,
.author-quote-wrap .author-photo .navigate .label.disabled:hover:before,
.author-quote-wrap .author-photo .navigate .label.disabled:hover:after {
  background: #bbb;
}

.author-quote-wrap .author-photo .navigate .label:hover:before,
.author-quote-wrap .author-photo .navigate .label:hover:after {
  background: #fff;
}

.author-quote-wrap .quote-content {
  padding: 15px;
  width: calc(560px - 140px);
}

.quote-content .quote-like {
  font-size: 12px;
  font-weight: 400;
  padding: 4px 8px;
  border-radius: 15px;
  display: inline-block;
  background: rgba(0, 0, 0, 0.2);
}

.quote-content .quote-like .love {
  width: 18px;
  height: 10px;
  position: relative;
  display: inline-block;
}

.quote-content .quote-like .love:before,
.quote-content .quote-like .love:after {
  top: 0;
  left: 7px;
  content: "";
  width: 7px;
  height: 12px;
  background: #fff;
  position: absolute;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  border-radius: 20px 20px 0 0;
}

.quote-content .quote-like .love:after {
  left: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

.quote-content .quote-text,
.quote-content .quote-author {
  text-transform: uppercase;
}

.quote-content .quote-text {
  font-size: 48px;
  font-weight: 900;
  line-height: 55px;
}

.quote-content .quote-author {
  bottom: 15px;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
}

.quote-content .quote-author:before {
  content: "- ";
}

.tribute_container {
  width: 1000px;
}

.memorial_quote::before {
  content: "Viva Memoria";
  font-size: 100px;
  color: rgba(0, 0, 0, 0.073);
  position: absolute;
  font-family: Dancing Script;
  z-index: -11;
}

.memorial_container i::before,
.memorial_container i::after {
  content: "“";
  font-family: Georgia;
  font-size: 4rem;
  font-style: italic;
  position: absolute;
  opacity: 0.3;
  color: var(--beige);
}

.memorial_container i::before {
  content: "“";
  font-family: Georgia;
  font-size: 4rem;
  margin: -30px;
  position: absolute;
  opacity: 0.3;
}

.memorial_container i::after {
  content: "”";
  margin: -1rem -4rem 0 0;
}

.memorial_container i {
  color: #061a285a;
  font-style: italic !important;
}

.gedicht_sectie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.gedicht_sectie textarea {
  width: 100%;
  height: 100px;
  margin: auto;
}
/*# sourceMappingURL=App.css.map */