// Necessary for the leaflet container to show up on any component
.leaflet-container {
  height: 100%;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  scrollbar-color: #0A3556  #d4d4d4 !important;
  scrollbar-width: thin !important;
}

// scrollbar
::-webkit-scrollbar {
  width: 10px !important;
}

::-webkit-scrollbar-track {
  background-color: #d4d4d4 !important;
  border-radius: 50px !important;
}

::-webkit-scrollbar-thumb {
  background-color: #0A3556 !important;
  border-radius: 50px !important;
}

// scrollbar of Firefox
:root{
  scrollbar-color: #0A3556  #d4d4d4 !important;
  scrollbar-width: thin !important;
}

::-moz-selection { 
  color: white;
  background: #cd1b2b;
}

::selection {
  color: white;
  background: #cd1b2b;
}

body {
  background-color: whitesmoke !important;
  overflow-x: hidden !important;
  // overflow-x: visible !important;
}


//smooth scrolling when clicking one of the nav items
html {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
  // overflow-x: visible !important;
  overflow-y: scroll;
  scrollbar-color: #0A3556 #d4d4d4;
  scrollbar-width: auto !important;
}

button {
  cursor: pointer;
}

.form-info{
  background: var(--beige);
  input,select{
    border-color: rgb(219, 215, 215);

    border-radius: var(--radius);
  }
  .submit-btn{
    background-color: rgba(0, 128, 0, 0.275);
  }
  .cancel-btn{
    background-color: rgba(255, 0, 0, 0.118);
  }
  option{
   color: var(--lightblue);
  }
}

.gegevensTitel{
  margin: 150px 50%;
  width: max-content;
  font-size: small;
  a{
    text-decoration: none;
  }
}
.icoonKeuze{
  font-size: 30px;
  margin-right:10px ;
}
.page-link-container{
 padding: 20px;
}
.keuzepage{
  background: rgb(255, 251, 251);
  width: 100vw;
  border-radius: var(--radius);
  margin-bottom:20px ;
}









.body_tribute{
  margin:0;
  color:#444;
  background:#e2e7eb;
  font:300 18px/18px Roboto, sans-serif;
}
*,:after,:before{box-sizing:border-box}
.pull-left{float:left}
.pull-right{float:right}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}

.author-quote-wrap .author-quote,
.author-quote-wrap .author-photo:before{
  top:0;
  left:0;
  right:0;
  bottom:0;
  position:absolute;
}

.author-quote-wrap{
  color:#fff;
  width:100%;
  overflow:hidden;
  max-width:560px;
  min-height:390px;
  margin:50px auto 0;
  background:#17a0ff;
  position:relative;
  box-shadow:0 16px 28px 0 rgba(0,0,0,.22),0 25px 55px 0 rgba(0,0,0,.21);
}
.author-quote-wrap .author-quote{
  display:none;
}
.author-quote-wrap .toggle-quote{
  display:none;
}
.author-quote-wrap .toggle-quote:checked + .author-quote{
  display:block;
}
.author-quote-wrap .author-quote a{
  color:inherit;
  text-decoration:none;
}
.author-quote-wrap .author-photo,
.author-quote-wrap .quote-content{
  height:100%;
  position:relative;
}
.author-quote-wrap .author-photo{
  width:140px;
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  quotes:'\201C''\201D''\2018''\2019';
}
.author-quote-wrap .author-photo.photo-a{
  background-image:url(https://raw.githubusercontent.com/khadkamhn/day-007-author-quote/master/img/author-1.jpg);
}
.author-quote-wrap .author-photo.photo-b{
  background-image:url(https://raw.githubusercontent.com/khadkamhn/day-007-author-quote/master/img/author-2.jpg);
}
.author-quote-wrap .author-photo.photo-c{
  background-image:url(https://raw.githubusercontent.com/khadkamhn/day-007-author-quote/master/img/author-3.jpg);
}
.author-quote-wrap .author-photo.photo-d{
  background-image:url(https://raw.githubusercontent.com/khadkamhn/day-007-author-quote/master/img/author-4.jpg);
}
.author-quote-wrap .author-photo.photo-e{
  background-image:url(https://raw.githubusercontent.com/khadkamhn/day-007-author-quote/master/img/author-5.jpg);
}
.author-quote-wrap .author-photo:before{
  content:'';
  background:rgba(22,160,255,.5);
}
.author-quote-wrap .author-photo:after{
  top:15px;
  left:60px;
  font-size:72px;
  line-height:72px;
  position:absolute;
  font-family:serif;
  content:open-quote;
}
.author-quote-wrap .author-photo .navigate{
  left:15px;
  z-index:10;
  right:15px;
  bottom:15px;
  position:absolute;
  text-align:center;
}
.author-quote-wrap .author-photo .navigate .label{
  width:15px;
  height:30px;
  cursor:pointer;
  position:relative;
  display:inline-block;
}
.author-quote-wrap .author-photo .navigate .label.left{
  left:-30px;
}
.author-quote-wrap .author-photo .navigate .label.right{
  right:-30px;
}
.author-quote-wrap .author-photo .navigate .label.disabled{
  cursor:not-allowed;
}
.author-quote-wrap .author-photo .navigate .label:before,
.author-quote-wrap .author-photo .navigate .label:after{
  content:'';
  height:2px;
  width:15px;
  background:#ccc;
  position:absolute;
}
.author-quote-wrap .author-photo .navigate .label:before{
  top:62%;
}
.author-quote-wrap .author-photo .navigate .label:after{
  bottom:62%;
}
.author-quote-wrap .author-photo .navigate .label.left:before,
.author-quote-wrap .author-photo .navigate .label.right:after{
  transform:rotate(45deg);
}
.author-quote-wrap .author-photo .navigate .label.right:before,
.author-quote-wrap .author-photo .navigate .label.left:after{
  transform:rotate(-45deg);
}
.author-quote-wrap .author-photo .navigate .label.left:before,
.author-quote-wrap .author-photo .navigate .label.left:after{
  left:0;
}
.author-quote-wrap .author-photo .navigate .label.right:before,
.author-quote-wrap .author-photo .navigate .label.right:after{
  right:0;
}
.author-quote-wrap .author-photo .navigate .label.disabled:before,
.author-quote-wrap .author-photo .navigate .label.disabled:after,
.author-quote-wrap .author-photo .navigate .label.disabled:hover:before,
.author-quote-wrap .author-photo .navigate .label.disabled:hover:after{
  background:#bbb;
}
.author-quote-wrap .author-photo .navigate .label:hover:before,
.author-quote-wrap .author-photo .navigate .label:hover:after{
  background:#fff;
}

.author-quote-wrap .quote-content{
  padding:15px;
  width:calc(560px - 140px);
}
.quote-content .quote-like{
  font-size:12px;
  font-weight:400;
  padding:4px 8px;
  border-radius:15px;
  display:inline-block;
  background:rgba(0,0,0,.2);
}
.quote-content .quote-like .love{
    width:18px;
    height:10px;
    position:relative;
  display:inline-block;
}
.quote-content .quote-like .love:before,
.quote-content .quote-like .love:after {
    top:0;
    left:7px;
    content:'';
    width:7px;
    height:12px;
    background:#fff;
    position:absolute;
  transform:rotate(-45deg);
  transform-origin:0 100%;
    border-radius:20px 20px 0 0;
}
.quote-content .quote-like .love:after {
    left:0;
  transform:rotate(45deg);
  transform-origin :100% 100%;
}

.quote-content .quote-text,
.quote-content .quote-author{
  text-transform:uppercase;
}
.quote-content .quote-text{
  font-size:48px;
  font-weight:900;
  line-height:55px;
}
.quote-content .quote-author{
  bottom:15px;
  font-size:14px;
  font-weight:500;
  position:absolute;
}
.quote-content .quote-author:before{
  content:'- ';
}

.tribute_container{
  width: 1000px;
}




.memorial_quote::before {
  content: "Viva Memoria";
  font-size: 100px;
  color: rgba(0, 0, 0, 0.073);
  position: absolute;
  font-family: Dancing Script;
  z-index: -11;
  }

.memorial_container i::before,
.memorial_container i::after {
   content: "“";
   font-family: Georgia;
   font-size: 4rem;
    font-style: italic;
   position: absolute;
   opacity: 0.3;
   color:var(--beige);
}

.memorial_container i::before {
   content: "“";
   font-family: Georgia;
   font-size: 4rem;
  margin: - 30px;
   position: absolute;
   opacity: 0.3;
   
}


.memorial_container i::after {
   content: "”";
   margin: -1rem -4rem 0 0;
   
}

.memorial_container i{
  color: #061a285a;
  font-style: italic !important;
  
}

.gedicht_sectie{
  display: flex;
  flex-direction: column;
  textarea{
    
    width: 100%;
    height: 100px;
    margin: auto;
  }


}