.begrafenisondernemer-container {
    background-color: #f5f9fc;
}

.begrafenisondernemer-contact-container {
    width: 50rem;
    border-radius: 2rem;
    background-color: #7DFCDA;
    min-height: 19rem;
    font-size: 1.3rem;
    padding-left: 2rem;
}

.begrafenisondernemer-contact-container img{
    width: 2rem;
    height: 2rem;
}

.title {
    font-size: 3rem;
    font-weight: 100 bold;
    padding-top: 0 !important;
}


/* ---------- media gueries ---------- */

@media (max-width: 575px) {
    .begrafenisondernemer-contact-container {
        width: 95vw;
        min-height: 18rem;
        border-radius: 1rem;
        font-size: 1rem;
        padding-bottom: 1rem;
        /* padding-left: 1rem; */
    }

    .begrafenisondernemer-contact-container span {
        margin-left: -2.5rem !important;
    }

    .btn-webshop {
        width: 19.5rem;
        border-radius: 65px;

    }

    .title {
        font-size: 1.5rem;
        font-weight: 100 bold;
        padding-top: 0 !important;
        align-self: center;
        padding: 0 1rem;
    }
}

/* landscape phones */
@media (min-width: 575px) and (max-width: 767px) {
    .begrafenisondernemer-contact-container {
        width: 95vw;
        min-height: 18rem;
        border-radius: 1rem;
        font-size: 1rem;
    }

    .begrafenisondernemer-contact-container span {
        margin-left: -2.5rem !important;
    }

    .btn-webshop {
        width: 19.5rem;
        border-radius: 65px;
    }

    .title {
        font-size: 2rem;
        font-weight: 100 bold;
        padding-top: 0 !important;
        align-self: center;
        padding: 0 1rem;
    }
}

/* tablets */
@media (min-width: 767px) and (max-width: 991px) {
    .begrafenisondernemer-contact-container {
        width: 95vw;
        min-height: 18rem;
        border-radius: 1rem;
        font-size: 1rem;
    }

    .begrafenisondernemer-contact-container span {
        margin-left: -2.5rem !important;
    }

    .title {
        font-size: 2rem;
        font-weight: 200 bold;
        padding-top: 0 !important;
        align-self: center;
        padding: 0 1rem;
    }
}

/* large */
@media (min-width: 991px) and (max-width: 1200px) {
    .begrafenisondernemer-contact-container {
        min-height: 19rem;
    }
}

/* xlarge > 14" */
@media(min-width: 1200px) and (max-width: 1490px) {
    .begrafenisondernemer-contact-container {
        min-height: 19rem;
    }
}