.footer-container {
    background-color: #0A3556;
    padding: 2rem 0 0 3rem;
}
 
.footer-link-wrapper {
    display: flex;
}

.footer-link-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer-link-items a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer-link-items a:hover {
    color: #e9e9e9;
    transition: 0.3s ease-out;
}

.footer-logo{
    padding:  0 0 0 12rem;
    margin-left: 3rem;
}
h2{
    padding: 5rem 0 0 11rem;
    color: #fff;
}



@media screen and (max-width: 820px) {
    .footer-link-wrapper {
        flex-direction: column;
    }

    .footer-container {
        flex-direction: column;
        padding: 3rem 0 4rem 2rem;
    }

    .footer-link-items:nth-child(2) h4, .footer-link-items:nth-child(2) a {
        margin-left: -30px;
    }

    .footer-logo{
        padding: 0 12rem 0 0;
        margin-left: 3rem;
        margin-top: -4px;
    }

    .footer-logo img {
        max-width:100%;
        height:auto;
    }
    h2 {
        text-overflow: none;
        padding: 0 0 1rem 1rem;
    }
}