// @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

// :root{
//   --witruimte: 7rem 0rem;
//   --darkblue: #335278;
//   --lightblue: #6a7d98;
//   --beige:#dfdace;
//   --radius: 8px; 
// }

// // button {
// //   border-radius: .25rem;
// // }

// // .search{
// //   border-radius: .25rem;
// //   border: 20px solid white;
// // }


// // main {
// //   display: flex;
// //   flex-direction: column;
// //   justify-content: center;
// //   margin: 50px 0;
  
// //   .over_ons {
// //     margin: 15px;
// //     display: flex;
// //     justify-content: center;

// //     .over_ons_text_container {
// //       display: flex;
// //       flex-direction: column;
// //       align-items: center;
// //       text-align: left;

// //       .lees_meer_button{
// //         text-align: center;
// //       }

// //       h3 {
// //         margin: 0 0 1em;
// //       }
// //       .over_ons_text {
// //         font-size: 20px;
// //         width: 60%;
// //       }
// //     }
// //     img {
// //       height: 40vh;
// //     }
// //   }
// //   .sectie_titel{
// //     text-align: center;
// //     margin: var(--witruimte);
// //   }


// //   .review_titel{
    
// //     font-size: 35px;
// //     margin: var(--witruimte);
// //   }


// //   .memorial_quote {
// //     background-image: radial-gradient(
// //       farthest-corner at 40px 40px,
// //       rgba(70, 92, 125, 0.7) 0%,
// //       rgba(70, 92, 125, 1) 100%
// //    );
// //     height: auto;
// //     width: 100%;
// //     color: #f3f1f1;
// //     white-space: pre-line;
// //     padding: 60px ;
// //     margin-top: 10rem;
// //     margin-bottom: 10rem;
// //     text-align: center;
// //     font-size: 30px;
   
// //     // font-weight: bold;
// //     font-family:  Helvetica, sans-serif;
// //     font-style: normal;
// //     border-top:#dfdace40 3px solid;
// //     border-bottom:#dfdace40 3px solid;
// //     i{
// //       font-style: normal;
// //       text-shadow: rgba(47, 36, 4, 0.84) 1px 1px;
      
// //     }
// //   }
// //   .memorial_quote_person{
// //     color:var(--beige);
// //     font-family: 'Dancing Script', cursive; 
// //     font-style: italic;
   
// // }

// //   .memorial_reviews_container {
// //     margin-top: 50px;
// //     text-align: center;
   
   

// //     .underline {
// //       display: flex;
// //       justify-content: center;
// //     }
// //     hr {
// //       width: 30px;
// //       height: 0;
// //       border: 4px solid #cd1b2b;
// //       border-radius: 6px;
// //       color: #cd1b2b;
// //     }

// //     .memorial_reviews {
// //       display: flex;
// //       flex-direction: row;
// //       justify-content: space-evenly;
// //       align-items: center;
// //       margin: 0 200px;

// //       .review_item {

// //         display: flex;
// //         flex-direction: column;
// //         justify-content: space-between;
        
       

// //         .review_text{
        
// //           height: 400px;
// //           display: flex;
// //           align-items: center;
// //           color: white;
          
// //         }

// //         height:400px;
// //         width: 300px;
// //         text-align: center;
// //         font-style: italic;
// //         padding: 20px;
// //         margin: 10px;
// //         // background-color:  #6a7d98fe;
// //         border: 2px solid #dfdace;
// //         background: #6A7D98;
// //         background: -moz-linear-gradient(top, var(--lightblue) 0%,var(--lightblue) 90%, #7991C5 100%);
// //         background: -webkit-linear-gradient(top, #6A7D98 0%, #1C6EA4 90%, #7991C5 100%);
// //         background: linear-gradient(to bottom, var(--lightblue) 0%, var(--lightblue) 100%, #7991C5 100%);
// //         border-radius: 10px;
// //         // -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -1px 24px 38px -7px rgba(102,100,112,0.24); 
// //         // box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -1px 24px 38px -7px rgba(102,100,112,0.24);
        
// //       }
// //       .reviewer {
// //         margin: 0;
// //         font-style: normal;
// //         font-weight: bold;
// //         color: #dfdace;
// //       }
// //       .review_overledene{
// //         color: #dfdace;
// //       }

// //     }
// //   }

// //   .memorial_newspaper {
// //     margin-top: 50px;

// //     h3 {
// //       padding-bottom: 10px;
// //     }

// //     .newspapers {
// //       display: flex;
// //       flex-direction: row;
// //       justify-content: space-evenly;
// //       align-items: center;
// //       margin: 0 250px 20px;
// //     }
// //     .newspaper_item {
// //       border-radius: 5px;
// //       height: 100px;
// //       width: 100px;

// //       img {
// //         max-width: 100%;
// //         max-height: 100%;
// //         height: 100px;
// //         border-radius: 50px;
// //       }
// //     }
// //   }
// // }

// /* square buttons */
// .rec.rec-arrow{
//   border-radius: 50%;
//   background-color: #faf3ec !important;
//   box-shadow: 0 0 2px 0px #e9e7e7 !important;
//   color: #455c80;
// }
// /* round buttons on hover */
// .rec.rec-arrow:hover {
//   border-radius: 50%;
//   background-color: rgb(238, 238, 238) !important;
//   box-shadow: 0 0 2px 0px #ddd9d9 !important;
// }
// /* hide disabled buttons */
// .rec.rec-arrow:disabled {
//   visibility: hidden;
// }
// /* disable default outline on focused items */
// /* add custom outline on focused items */
// .rec-carousel-item:focus {
//   outline: none;
//   box-shadow: inset 0 0 1px 1px rgb(244, 240, 240);
// }

// .rec-dot{

//   background-color: whitesmoke !important;
// }

// .rec-dot_active{
  
//   background-color: #c1bd95 !important;
  
// }
// // MOBILE
// @media screen and (max-width: 900px) {
//   main {
//     margin: 10% 0 5%;
//     min-height: 100%;
//     width: 100%;
//     display: flex;
//     flex-direction: column;

//     .review_titel{
  
//       margin-top:15rem ;
//     }

//     .slider-container {
//       display: none;
//     }

//     .textLivingMemories{
//       text-align: center;
//       padding: 0;
//       font-weight: bold;
//       font-size: larger;
//     }

//     .over_ons {
//       flex-direction: column;
//       justify-content: center;
  
//       div {
//         margin-left: 0;
//         text-align: center;
//       }
//       img {
//         display: none;
//       }
//     }

//     .memorial_quote {
//       white-space: normal;
//       margin: 5rem 0rem -10rem 0rem;
//       padding: 30px;
//       text-align: center;
//       font-size: 25px;
//       height: auto;
      
//     }

//     .memorial_reviews_container {
//       margin: 0;
        
//       hr {
//         width: 30px;
//         margin: 0;
//         border: 4px solid rgb(211, 206, 196);
//         border-radius: 6px;
//         color: orange;
//       }

//       .memorial_reviews {
//         align-items: center;
//         margin: 10px 0;
       
  
//         .review_item {
         
//           height: auto;
//           width: auto;
//           padding: 20px;
//         }
       
//       }
//     }
    
//     .memorial_newspaper {
//       margin-top: 25px;
  
//       h3 {
//         padding-bottom: 10px;
//       }
  
//       .newspapers {
//         padding: 10px 30px 0;
//         margin: 0;
//       }
//       .newspaper_item {
//         border-radius: 5px;
//         height: 50px;
//         width: 50px;
  
//         img {
//           max-width: 100%;
//           max-height: 100%;
//           height: 100px;
//           border-radius: 50px;
//         }
//       }
//     }
//   }
  
//   /* square buttons */
//   .rec {
//     height: auto;
//     width: auto;
//   }
//   .rec.rec-arrow {
//     display: none;
//   }
// }

// .lees_meer_button{
//   margin: 20px 0px;
//   :visited{
//     color: whitesmoke;
//   }
//   color: whitesmoke;
//   padding: 10px;
//   background-color: #335378;
//   border-radius: var(--radius);
//   border-color: whitesmoke;
//   :hover{
//     text-decoration: none;
//     color: #335378;
//   }
//   transition: all .8s;
// }
// .lees_meer_button:hover{
//   background: #eee;
//   :visited{
//     color: #335378;
//   }

// }

// .btn-primary{
//   background: yellowgreen !important    ;
//   color: whitesmoke  !important;
//   padding: 10px;
//   background-color: #335378  !important;
//   border-radius: var(--radius)  !important;
//   border-color: whitesmoke  !important;
//   :hover{
//     text-decoration: none  !important;
//     color: #335378  !important;
//   }
//   transition: all .8s !important;
// }
// .btn-primary:hover{
//   background: #eee !important;
//   color: var(--darkblue )  !important;
//   :visited{
//     color: #335378 !important;
//   }
  
// }

// .welkomknop{
 
//   button{
  
//     padding: 10px;
//     margin-left: 10px;
//   }
// }
//  .dropdown-menu{
//    background: white !important;
   
//    a{
//      color: black;
//      text-decoration: none !important;
//      font-size: 15px;
//      padding: 10px;
//      text-align: center;
//    }
//    a:hover{
//       text-decoration: none !important;
//    }
//  }
//  .dropdown-menu:hover{
//    a{

//      text-decoration: none !important;
//    }
//  }
//  .register_button{
//    background: #be7b00 !important;
//   margin-right:10px ;
//  }
//  .toprow{
//    background: #f2f2f2;
//    margin: 0 !important;
   
//  }
//  .bottomrow{
//    background: #fff;
//    margin: 0 !important;
//  }