@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
:root {
  --witruimte: 7rem 0rem;
  --darkblue: #335278;
  --lightblue: #6a7d98;
  --beige:#dfdace;
  --radius: 8px;
}

button {
  border-radius: 0.25rem;
}

.search {
  border-radius: 0.25rem;
  border: 20px solid white;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 0;
}
main .over_ons {
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .over_ons .over_ons_text_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}
main .over_ons .over_ons_text_container .lees_meer_button {
  text-align: center;
}
main .over_ons .over_ons_text_container h3 {
  margin: 0 0 1em;
}
main .over_ons .over_ons_text_container .over_ons_text {
  font-size: 20px;
  width: 60%;
}
main .over_ons img {
  height: 40vh;
}
main .sectie_titel {
  text-align: center;
  margin: var(--witruimte);
}
main .review_titel {
  font-size: 35px;
  margin: var(--witruimte);
}
main .memorial_quote {
  background-image: radial-gradient(farthest-corner at 40px 40px, rgba(70, 92, 125, 0.7) 0%, #465c7d 100%);
  height: auto;
  width: 100%;
  color: #f3f1f1;
  white-space: pre-line;
  padding: 60px;
  margin-top: 10rem;
  margin-bottom: 10rem;
  text-align: center;
  font-size: 30px;
  font-family: Helvetica, sans-serif;
  font-style: normal;
  border-top: #dfdace40 3px solid;
  border-bottom: #dfdace40 3px solid;
}
main .memorial_quote i {
  font-style: normal;
  text-shadow: rgba(47, 36, 4, 0.84) 1px 1px;
}
main .memorial_quote_person {
  color: var(--beige);
  font-family: "Dancing Script", cursive;
  font-style: italic;
}
main .memorial_reviews_container {
  margin-top: 50px;
  text-align: center;
}
main .memorial_reviews_container .underline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .memorial_reviews_container hr {
  width: 30px;
  height: 0;
  border: 4px solid #cd1b2b;
  border-radius: 6px;
  color: #cd1b2b;
}
main .memorial_reviews_container .memorial_reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 200px;
}
main .memorial_reviews_container .memorial_reviews .review_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 400px;
  width: 300px;
  text-align: center;
  font-style: italic;
  padding: 20px;
  margin: 10px;
  border: 2px solid #dfdace;
  background: #6A7D98;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--lightblue)), color-stop(100%, var(--lightblue)), to(#7991C5));
  background: linear-gradient(to bottom, var(--lightblue) 0%, var(--lightblue) 100%, #7991C5 100%);
  border-radius: 10px;
}
main .memorial_reviews_container .memorial_reviews .review_item .review_text {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}
main .memorial_reviews_container .memorial_reviews .reviewer {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  color: #dfdace;
}
main .memorial_reviews_container .memorial_reviews .review_overledene {
  color: #dfdace;
}
main .memorial_newspaper {
  margin-top: 50px;
}
main .memorial_newspaper h3 {
  padding-bottom: 10px;
}
main .memorial_newspaper .newspapers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 250px 20px;
}
main .memorial_newspaper .newspaper_item {
  border-radius: 5px;
  height: 100px;
  width: 100px;
}
main .memorial_newspaper .newspaper_item img {
  max-width: 100%;
  max-height: 100%;
  height: 100px;
  border-radius: 50px;
}

/* square buttons */
.rec.rec-arrow {
  border-radius: 50%;
  background-color: #faf3ec !important;
  -webkit-box-shadow: 0 0 2px 0px #e9e7e7 !important;
          box-shadow: 0 0 2px 0px #e9e7e7 !important;
  color: #455c80;
}

/* round buttons on hover */
.rec.rec-arrow:hover {
  border-radius: 50%;
  background-color: #eeeeee !important;
  -webkit-box-shadow: 0 0 2px 0px #ddd9d9 !important;
          box-shadow: 0 0 2px 0px #ddd9d9 !important;
}

/* hide disabled buttons */
.rec.rec-arrow:disabled {
  visibility: hidden;
}

/* disable default outline on focused items */
/* add custom outline on focused items */
.rec-carousel-item:focus {
  outline: none;
  -webkit-box-shadow: inset 0 0 1px 1px #f4f0f0;
          box-shadow: inset 0 0 1px 1px #f4f0f0;
}

.rec-dot {
  background-color: whitesmoke !important;
}

.rec-dot_active {
  background-color: #c1bd95 !important;
}

@media screen and (max-width: 900px) {
  main {
    margin: 10% 0 5%;
    min-height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .review_titel {
    margin-top: 15rem;
  }
  main .slider-container {
    display: none;
  }
  main .textLivingMemories {
    text-align: center;
    padding: 0;
    font-weight: bold;
    font-size: larger;
  }
  main .over_ons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .over_ons div {
    margin-left: 0;
    text-align: center;
  }
  main .over_ons img {
    display: none;
  }
  main .memorial_quote {
    white-space: normal;
    margin: 5rem 0rem -10rem 0rem;
    padding: 30px;
    text-align: center;
    font-size: 25px;
    height: auto;
  }
  main .memorial_reviews_container {
    margin: 0;
  }
  main .memorial_reviews_container hr {
    width: 30px;
    margin: 0;
    border: 4px solid #d3cec4;
    border-radius: 6px;
    color: orange;
  }
  main .memorial_reviews_container .memorial_reviews {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px 0;
  }
  main .memorial_reviews_container .memorial_reviews .review_item {
    height: auto;
    width: auto;
    padding: 20px;
  }
  main .memorial_newspaper {
    margin-top: 25px;
  }
  main .memorial_newspaper h3 {
    padding-bottom: 10px;
  }
  main .memorial_newspaper .newspapers {
    padding: 10px 30px 0;
    margin: 0;
  }
  main .memorial_newspaper .newspaper_item {
    border-radius: 5px;
    height: 50px;
    width: 50px;
  }
  main .memorial_newspaper .newspaper_item img {
    max-width: 100%;
    max-height: 100%;
    height: 100px;
    border-radius: 50px;
  }

  /* square buttons */
  .rec {
    height: auto;
    width: auto;
  }

  .rec.rec-arrow {
    display: none;
  }
}
.lees_meer_button {
  margin: 20px 0px;
  color: whitesmoke;
  padding: 10px;
  background-color: #335378;
  border-radius: var(--radius);
  border-color: whitesmoke;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}
.lees_meer_button :visited {
  color: whitesmoke;
}
.lees_meer_button :hover {
  text-decoration: none;
  color: #335378;
}

.lees_meer_button:hover {
  background: #eee;
}
.lees_meer_button:hover :visited {
  color: #335378;
}

.btn-primary {
  background: yellowgreen !important;
  color: whitesmoke !important;
  padding: 10px;
  background-color: #335378 !important;
  border-radius: var(--radius) !important;
  border-color: whitesmoke !important;
  -webkit-transition: all 0.8s !important;
  transition: all 0.8s !important;
}
.btn-primary :hover {
  text-decoration: none !important;
  color: #335378 !important;
}

.btn-primary:hover {
  background: #eee !important;
  color: var(--darkblue) !important;
}
.btn-primary:hover :visited {
  color: #335378 !important;
}

.welkomknop button {
  padding: 10px;
  margin-left: 10px;
}

.dropdown-menu {
  background: white !important;
}
.dropdown-menu a {
  color: black;
  text-decoration: none !important;
  font-size: 15px;
  padding: 10px;
  text-align: center;
}
.dropdown-menu a:hover {
  text-decoration: none !important;
}

.dropdown-menu:hover a {
  text-decoration: none !important;
}

.register_button {
  background: #be7b00 !important;
  margin-right: 10px;
}

.toprow {
  background: #f2f2f2;
  margin: 0 !important;
}

.bottomrow {
  background: #fff;
  margin: 0 !important;
}
/*# sourceMappingURL=HomePage.css.map */