main {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media (max-width: 360px) {

    /* -------------- Header -------------- */
    .hero {
        /* // min-height: 50rem;
        // padding: 4rem 0 0 0; */

        min-height: 100vh;
        min-width: 100vw;
        padding: 0;

        background-color: red;
    }

    .hero img {
        /* // width: 100%; */
        margin: 0;
        /* // padding: 0;
        // padding-right: 4rem; */
    }

    .hero p {
        /* // margin: 0;
        // font-size: 48px;
        // font-weight: 700;
        // line-height: 56px;
        // color: #1d2626; */

        line-height: 2rem;
        color: #1d2626;
        font-size: 1.5rem;
        /* // align-self: center; */
    }

    .hero ul {
        display: flex;
        flex-direction: column;
        padding-left: 10%;
    }

    .hero ul li {
        /* // padding: 10px 0 0 28px;
        // position: relative; */
        font-size: 1rem;
    }

    .hero-content .aan-button {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }

    .hero-content .aanmaken-button {
        /* // margin-top: 1rem;
        // font-size: 16px; */

        margin: 0;
        font-size: 16px;
        align-self: center;
    }

    /* // .searchbar {
    //     width: 64%;
    //     // margin: 1.8rem 0 0 0;
    //     background: white;
    //     border-radius: 6px;
    //     // margin-left: -40px;
    // }

    // .searchbar-content {
    //     height: 3rem;
    // }

    // .searchbar-content .fa-icon{
    //     height: 3rem;
    //     width: 4rem;
    // }

    // .searchbar input {
    //     width: 100%;
    // }

    // .scrolldown-wrapper {
    //     text-align: center;
    //     transform: translate(-50%, -50%);
    // } */

    .scroll-down .scrolldown-wrapper {
        margin: 3rem 0;
    }

    /* -------------- Aan de slag -------------- */
    .aan-de-slag {
        min-height: 74rem;
        margin-top: 0;
    }

    .aan-de-slag h2 {
        font-size: 2rem;
        color: #111717;
    }

    .aan-de-slag .mobile {
        flex-direction: column;
        padding-left: 0;
    }

    .aan-de-slag .stap {
        width: 100%;
        padding-left: 0;
    }

    .aan-de-slag .aanmaken-button {
        margin-top: 1rem;
        font-size: 16px;
    }

    .aan-de-slag .aanmaken-button .btn {
        margin-top: 1rem;
        font-size: 16px;
    }

    /* -------------- Quote -------------- */
    .quote section {
        /* // padding: 10rem 10rem; */
        /* // background: linear-gradient(90deg, rgba(0, 0, 0, 0.719) 0%, rgba(0, 0, 0, 0.623) 100%), url("../images/Irvin-D-Yalom.jpg");
        // background-position: center center;
        // background-repeat: no-repeat;
        // background-size: cover;
        // width: 100%;
        // height: 45rem; */
        width: 100%;
        margin: 0;
    }

    .quote h2 {
        font-size: 2rem;
        font-weight: 700;
        max-width: 15rem;
        padding-top: 6rem;
        margin: 0;
        height: 30rem;
        align-self: center;
        text-align: center;
        color: white;
    }

    .quote p {
        font-size: 1.5rem;
        font-weight: 700;
        max-width: 60rem;
        padding-top: 6rem;
        margin: 0;
        height: 2rem;
        align-self: center;
        color: white;
    }

    /* -------------- Getuigenissen -------------- */
    .getuigenissen {
        min-height: 126rem;
        flex-direction: column;
    }

    .getuigenissen .card {
        min-height: 30rem;
        width: 20rem;
        padding-top: 4rem;
        margin: 1rem 2rem;
        border-radius: 5%;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    }

    .getuigenissen .mobile {
        font-size: 2rem;
        justify-content: center;
    }

    .getuigenissen h1 {
        font-size: 2rem;
        padding-top: 0;
    }

    .getuigenissen h2 {
        font-size: 1.7rem;
        padding: 0 2rem;
        margin-top: 0;
    }

    .getuigenissen .aanmaken-button {
        font-size: 16px;
    }

    .getuigenissen .aanmaken-button .btn {
        margin-top: 1rem;
        font-size: 16px;
    }

    /* -------------- Over ons -------------- */
    .over-ons {
        min-height: 68rem;
        padding-top: 0;
        padding-right: 0;
    }

    .over-ons img {
        width: 100%;
        margin: 0;
        border-radius: 0;
    }

    .over-ons .over-ons-text {
        /* // padding-right: 0; */
        margin-left: 10px;
        margin-top: 0;
        min-width: 94%;
        min-height: 44rem;
        /* // align-items: center; */
        border-radius: 0;
        /* // background: red; */
    }

    .over-ons .over-ons-title {
        position: absolute;
        padding: 4rem 0 2rem 12rem;
        ;
    }

    .over-ons .over-ons-text .p-text {
        min-height: 36rem;
        width: 25rem;
        padding: 8rem 5rem;
        text-align: justify;
    }

    /* -------------- Contact -------------- */
    .contact {
        min-height: 37rem;
    }

    .contact-p {
        padding: 0 32px;
    }
}


/* b: oude responsief                           */
@media (max-width: 820px) {

    /* -------------- Header -------------- */
    .hero {
        /* // min-height: 50rem;
        // padding: 4rem 0 0 0; */

        min-height: 100vh;
        min-width: 100vw;
        padding: 0;

        background-color: red;
    }

    .hero img {
        /* // width: 100%; */
        margin: 0;
        /* // padding: 0;
        // padding-right: 4rem; */
    }

    .hero p {
        /* // margin: 0;
        // font-size: 48px;
        // font-weight: 700;
        // line-height: 56px;
        // color: #1d2626; */

        line-height: 2rem;
        color: #1d2626;
        font-size: 1.5rem;
        /* // align-self: center; */
    }

    .hero ul {
        display: flex;
        flex-direction: column;
        padding-left: 10%;
    }

    .hero ul li {
        /* // padding: 10px 0 0 28px;
        // position: relative; */
        font-size: 1rem;
    }

    .hero-content .aan-button {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }

    .hero-content .aanmaken-button {
        /* // margin-top: 1rem;
        // font-size: 16px; */

        margin: 0;
        font-size: 16px;
        align-self: center;
    }

    /* // .searchbar {
    //     width: 64%;
    //     // margin: 1.8rem 0 0 0;
    //     background: white;
    //     border-radius: 6px;
    //     // margin-left: -40px;
    // }

    // .searchbar-content {
    //     height: 3rem;
    // }

    // .searchbar-content .fa-icon{
    //     height: 3rem;
    //     width: 4rem;
    // }

    // .searchbar input {
    //     width: 100%;
    // }

    // .scrolldown-wrapper {
    //     text-align: center;
    //     transform: translate(-50%, -50%);
    // } */

    .scroll-down .scrolldown-wrapper {
        margin: 3rem 0;
    }

    /* -------------- Aan de slag -------------- */
    .aan-de-slag {
        min-height: 74rem;
        margin-top: 0;
    }

    .aan-de-slag h2 {
        font-size: 2rem;
        color: #111717;
    }

    .aan-de-slag .mobile {
        flex-direction: column;
        padding-left: 0;
    }

    .aan-de-slag .stap {
        width: 100%;
        padding-left: 0;
    }

    .aan-de-slag .aanmaken-button {
        margin-top: 1rem;
        font-size: 16px;
    }

    .aan-de-slag .aanmaken-button .btn {
        margin-top: 1rem;
        font-size: 16px;
    }

    /* -------------- Quote -------------- */
    .quote section {
        /* // padding: 10rem 10rem; */
        /* // background: linear-gradient(90deg, rgba(0, 0, 0, 0.719) 0%, rgba(0, 0, 0, 0.623) 100%), url("../images/Irvin-D-Yalom.jpg");
        // background-position: center center;
        // background-repeat: no-repeat;
        // background-size: cover;
        // width: 100%;
        // height: 45rem; */
        width: 100%;
        margin: 0;
    }

    .quote h2 {
        font-size: 2rem;
        font-weight: 700;
        max-width: 15rem;
        padding-top: 6rem;
        margin: 0;
        height: 30rem;
        align-self: center;
        text-align: center;
        color: white;
    }

    .quote p {
        font-size: 1.5rem;
        font-weight: 700;
        max-width: 60rem;
        padding-top: 6rem;
        margin: 0;
        height: 2rem;
        align-self: center;
        color: white;
    }

    /* -------------- Getuigenissen -------------- */
    .getuigenissen {
        min-height: 126rem;
        flex-direction: column;
    }

    .getuigenissen .card {
        min-height: 30rem;
        width: 20rem;
        padding-top: 4rem;
        margin: 1rem 2rem;
        border-radius: 5%;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    }

    .getuigenissen .mobile {
        font-size: 2rem;
        justify-content: center;
    }

    .getuigenissen h1 {
        font-size: 2rem;
        padding-top: 0;
    }

    .getuigenissen h2 {
        font-size: 1.7rem;
        padding: 0 2rem;
        margin-top: 0;
    }

    .getuigenissen .aanmaken-button {
        font-size: 16px;
    }

    .getuigenissen .aanmaken-button .btn {
        margin-top: 1rem;
        font-size: 16px;
    }

    /* -------------- Over ons -------------- */
    .over-ons {
        min-height: 68rem;
        padding-top: 0;
        padding-right: 0;
    }

    .over-ons img {
        width: 100%;
        margin: 0;
        border-radius: 0;
    }

    .over-ons .over-ons-text {
        /* // padding-right: 0; */
        margin-left: 10px;
        margin-top: 0;
        min-width: 94%;
        min-height: 44rem;
        /* // align-items: center; */
        border-radius: 0;
        /* // background: red; */
    }

    .over-ons .over-ons-title {
        position: absolute;
        padding: 4rem 0 2rem 12rem;
        ;
    }

    .over-ons .over-ons-text .p-text {
        min-height: 36rem;
        width: 25rem;
        padding: 8rem 5rem;
        text-align: justify;
    }

    /* -------------- Contact -------------- */
    .contact {
        min-height: 37rem;
    }

    .contact-p {
        padding: 0 32px;
    }
}


/* h: max-width: 1920                                */
@media (max-width: 1920px) {

    /* -------------- Header -------------- */
    .hero {
        background: #7fad9a8c;
        padding: 8rem 4rem 0 4rem;
        min-height: 100vh;
        /* // max-width: 100vw; */
    }

    .hero p {
        line-height: 3rem;
        color: #1d2626;
        font-size: 2.5rem;
        font-weight: 700;
        align-self: center;
        margin: 0;
    }

    .hero ul {
        margin-top: 1.5rem;
        list-style: none;
        padding: 0;
    }

    .hero ul li {
        padding: 10px 0 0 28px;
        position: relative;
        font-size: 1.5rem;
    }

    .hero-content .aan-button {
        margin-top: 2rem;
    }

    .hero img {
        width: 100%;
        margin: 0;
    }
/* 
    // .scrolldown-wrapper {
    // //     // left: 50%;
    // //     // position: absolute;
    // //     text-align: center;
    // //     // bottom: 0;
    // //     transform: translate(-50%, -50%);
    // //     margin-top: 10rem;
    // //     margin-left: 50%
    // // margin-bottom: 0;
    // } */

    .scrolldown {
        border: 2px solid rgba(17, 32, 65, 0.445);
        border-radius: 30px;
        height: 63px;
        margin: 0 auto 8px;
        text-align: center;
        width: 40px;
    }

    .scrolldown-p1,
    .scrolldown-p2 {
        animation-duration: 1.5s;
        animation-name: scrolldown;
        animation-iteration-count: infinite;
        fill: rgba(17, 32, 65, 0.445);
    }

    .scrolldown-p2 {
        animation-delay: .75s;
    }

    @keyframes scrolldown {
        0% {
            opacity: 0;
            transform: translate(0, -8px);
        }

        50% {
            opacity: 1;
            transform: translate(0, 0);
        }

        100% {
            opacity: 0;
            transform: translate(0, 8px);
        }
    }

    /* -------------- Aan de slag --------------  */
    .aan-de-slag {
        min-height: 34rem;
        margin: 0;
        background: #f5f9fc;
    }

    .aan-de-slag h2 {
        color: #111717;
    }

    .aan-de-slag .stap {
        width: 25%;
    }

    .aan-de-slag h4 {
        margin-top: 2rem;
        color: #111717;
    }

    .aan-de-slag p {
        color: #1d2626;
    }

    .aan-de-slag img {
        /* // margin: 0; */
        width: 10rem;
        border-radius: 50%;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
        /* // border: 1px solid rgba(0, 0, 0, 0.1); */
    }

    .aan-de-slag .aanmaken-button {
        margin-top: -16px;
    }

    /* -------------- Quote --------------  */
    .quote {
        /* // padding: 10rem 10rem; */
        background: #242424;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.568) 0%, rgba(0, 0, 0, 0.623) 100%), url("../images/Irvin-D-Yalom.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 45rem;
    }

    .quote h2 {
        font-size: 3.5rem;
        font-weight: 700;
        max-width: 60rem;
        padding-top: 8rem;
        padding-left: 0;
        margin: 0;
        height: 31rem;
        align-self: center;
        text-align: center;
        color: #f5f9fc;
    }

    .quote p {
        font-size: 3.5rem;
        font-weight: 700;
        max-width: 60rem;
        padding: 0;
        margin: 0;
        height: 2rem;
        align-self: center;
        color: #f5f9fc;
    }

    /* -------------- Getuigenissen --------------  */
    .getuigenissen {
        min-height: 55rem;
        background: #f5f9fc;
        padding: 0 2rem;
    }

    .getuigenissen .desktop {
        padding: 3rem 0;
        color: #111717;
    }

    .getuigenissen .card {
        min-height: 30rem;
        width: 20rem;
        padding-top: 4rem;
        margin: 0 2rem;
        border-radius: 5%;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    }

    .getuigenissen .card1 {
        margin-top: 0;
        position: absolute;
        background: linear-gradient(90deg, rgb(38, 83, 45) 0%, rgba(0, 0, 0, 0.473) 100%);
    }

    .getuigenissen .card1 img {
        width: 40%;
        margin-left: -140px;
        margin-top: -45px;
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        border: none;
    }

    .getuigenissen .complete-pic {
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.719) 0%, rgba(0, 0, 0, 0.623) 100%), url('../images/face5.avif');
        background-size: cover;
        background-repeat: no-repeat;
        border: none;
    }

    .getuigenissen .complete-pic p {
        color: #f5f9fc;
        margin-top: 13rem;
    }

    .getuigenissen .complete-pic h5 {
        color: #f5f9fc;
    }

    .getuigenissen .card3 {
        margin-top: 0;
        position: absolute;
        /* // background-color: #ff00ff8f; */
        background: linear-gradient(90deg, rgb(121, 41, 94) 0%, rgba(0, 0, 0, 0.644) 100%);
    }

    .getuigenissen .card3 img {
        width: 40%;
        margin-top: 30px;
        border-radius: 30% 70% 53% 47% / 30% 51% 49% 70%;
        border: none;
    }

    .getuigenissen p {
        padding: 0 3rem;
        color: #1d2626;
        /* // color: #f5f9fc80; */
    }

    .getuigenissen h5 {
        color: #f5f9fc80;
    }

    .getuigenissen h2 {
        font-size: 2rem;
        margin: 0;
        padding: 0;
        color: #111717;
    }

    /* -------------- Over ons --------------  */
    .over-ons {
        min-height: 47rem;
        background: #242424;
        padding-top: 3rem;
        padding-right: 6rem;
    }

    .over-ons img {
        height: 24rem;
        margin-top: 8.5rem;
        margin-left: 15rem;
        border-radius: 5%;

    }

    .over-ons .over-ons-text {
        padding-right: 0;
        margin-left: -65px;
        margin-top: 4rem;
        width: 38rem;
        height: 35vw;
        background: #f5f9fc;
        align-items: center;
        z-index: 1;
        border-radius: 5%;
    }

    .over-ons .over-ons-title {
        position: absolute;
        padding: 5rem 0;
        margin-left: -280px;
    }

    .over-ons .over-ons-text .p-text {
        height: 26rem;
        width: 35rem;
        padding: 9rem 4rem;
        text-align: justify;
        color: #1d2626;
    }

    /* -------------- Contact -------------- */
    .contact {
        height: 20rem;
        background: #f5f9fc;
    }

    .contact h3 h4 {
        color: #111717;
    }

    .contact p {
        color: #1d2626;
    }
}