// -------------- Header -------------- 
.hero {
    background: #D5DBE7;
    padding: 3rem 4rem 0 4rem;
}

.hero-container {
    display: flex;
}

.hero-part-one {
    display: flex;
    justify-content: space-evenly;
}

.hero-content {
    padding-top: 3rem;
}

.hero p {
    line-height: 3rem;
    color: #1d2626;
    font-size: 2.5rem;
    font-weight: 700;
    align-self: center;
    margin: 0;
}

.hero .pg-3 {
    font-size: 1.5rem;
    font-weight: normal;
}

.hero ul {
    margin-top: 1.5rem;
    list-style: none;
    padding: 0;
}

.hero ul li {
    padding: 10px 0 0 28px;
    font-size: 1.5rem;
}

.hero-create-button {
    margin-top: 3rem;
}

.aan-button {
    display: flex;
}

.aan-button img {
    width: 2rem;
    height: 2rem;
    z-index: 1;
    margin-right: -3rem;
    margin-top: .9rem;
}

.aan-button button {
    border: none;
    border-radius: 65px;
    font-size: 1.5rem;
    background-color: #1A494F;
    color: #fff;
    width: 27rem;
    padding: .7rem 0 .8rem 1.3rem;
}

.aan-button:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.scrolldown {
    border: 2px solid rgba(17, 32, 65, 0.445);
    border-radius: 30px;
    height: 63px;
    margin: 0 auto 1px;
    text-align: center;
    width: 40px;
    margin-bottom: 1rem;
}

.scrolldown-p1,
.scrolldown-p2 {
    animation-duration: 1.5s;
    animation-name: scrolldown;
    animation-iteration-count: infinite;
    fill: rgba(17, 32, 65, 0.445);
}

.scrolldown-p2 {
    animation-delay: .75s;
}

@keyframes scrolldown {
    0% {
        opacity: 0;
        transform: translate(0, -8px);
    }

    50% {
        opacity: 1;
        transform: translate(0, 0);
    }

    100% {
        opacity: 0;
        transform: translate(0, 8px);
    }
}

// -------------- Aan de slag -------------- 
.aan-de-slag {
    margin: 0;
    background: #f5f9fc;
    min-height: 39rem;
}

.aan-de-slag span {
    font-size: 45px;
    color: #1A494F;
    padding: 3rem 0;
}

.aan-de-slag .stap {
    width: 25%;
}

.aan-de-slag h4 {
    font-size: 30px;
    margin-top: 2rem;
    color: #1A494F;
}

.aan-de-slag p {
    color: #1A494F;
}

.aan-de-slag .staps img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    // border: 1px solid rgba(0, 0, 0, 0.1);
}

.slag-btn {
    justify-content: center;
}

.aan-button {
    margin-bottom: 4rem;
}

// -------------- Quote -------------- 
.quote {
    background: #242424;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.568) 0%, rgba(0, 0, 0, 0.623) 100%), url('https://lh3.googleusercontent.com/u/0/d/1iHMRVuQg_xpR34P5-CQ1CcyR2UqpJnKT=w1920-h942-iv1');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 45rem;
}

.quote h2 {
    font-size: 3.5rem;
    font-weight: 700;
    max-width: 60rem;
    padding-top: 8rem;
    padding-left: 0;
    margin: 0;
    height: 31rem;
    align-self: center;
    text-align: center;
    color: #f5f9fc;
}

.quote p {
    font-size: 3.5rem;
    font-weight: 700;
    max-width: 60rem;
    padding: 0;
    margin: 0;
    height: 2rem;
    align-self: center;
    color: #f5f9fc;
}

// -------------- Getuigenissen -------------- 
.getuigenissen {
    min-height: 60rem;
    background: #f5f9fc;
    padding: 0 2rem;
}

.getuigenissen span {
    font-size: 45px;
    color: #1A494F;
    padding: 3rem 0;
}

// .getuigenissen-container {}

.getuigenissen .card {
    min-height: 30rem;
    width: 20rem;
    padding-top: 4rem;
    margin: 0 2rem;
    border: none;
    border-radius: 2rem;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.getuigenissen .card1 {
    margin-top: 0;
    background: linear-gradient(50deg, rgb(10, 53, 86) 0%, rgba(0, 0, 0, 0.473) 100%);
}

.getuigenissen .card1 img {
    width: 40%;
    margin-left: -140px;
    margin-top: -45px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    border: none;
}

// .getuigenissen .complete-pic {
//     background: linear-gradient(90deg, rgba(0, 0, 0, 0.719) 0%, rgba(0, 0, 0, 0.623) 100%), url('../images/face5.avif');
//     background-size: cover;
//     background-repeat: no-repeat;
//     border: none;
// }

// .getuigenissen .complete-pic p {
//     color: #f5f9fc;
//     margin-top: 13rem;
// }

// .getuigenissen .complete-pic h5 {
//     color: #f5f9fc;
// }

// .getuigenissen .card3 {
//     margin-top: 0;
//     position: absolute;
//     background: linear-gradient(90deg, rgb(121, 41, 94) 0%, rgba(0, 0, 0, 0.644) 100%);
// }

// .getuigenissen .card3 img {
//     width: 40%;
//     margin-top: 30px;
//     border-radius: 30% 70% 53% 47% / 30% 51% 49% 70%;
//     border: none;
// }

.getuigenissen p {
    padding: 0 3rem;
    color: #fff;
}

.getuigenissen h5 {
    color: #f5f9fc80;
}

.getuigenissen h2 {
    font-size: 2rem;
    margin: 0;
    padding: 0;
    color: #111717;
}

// -------------- Over ons -------------- 
.over-ons {
    min-height: 45rem;
    background: #242424;
    display: flex;
    justify-content: center;
    align-items: center;
}

.over-ons img {
    height: 24rem;
    margin-top: .5rem;
    border-radius: 10% 0 0 10%;
    object-fit: cover;
}

.over-ons-text {
    padding-right: 0;
    width: 38rem;
    min-height: 40rem;
    background: #f5f9fc;
    align-items: center;
    z-index: 1;
    border-radius: 6%;
}

.over-ons-title {
    padding: 5rem 0 0 ;
    justify-content: flex-start;
}

.p-text {
    height: 26rem;
    width: 35rem;
    padding: 1.5rem 4rem;
    text-align: justify;
    color: #1d2626;
}

// -------------- Contact --------------
.contact {
    min-height: 20rem;
    background: #f5f9fc;
    margin: 0;
}

.contact h4 {
    color: #111717;
}

.contact span {
    color: #111717;
}

.contact p {
    color: #111717;
}

.contact-items img {
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;
}

.staff-container {
    padding: 0 7rem 4rem 7rem;
    justify-content: center;
    align-items: center;
}

.staff-container p {
    padding:  1rem 2rem;
}



// h:---------- media queries ----------          

// portrait phones
@media (max-width: 575px) {

    // -------------- Header --------------
    .hero {
        min-height: 100vh;
        padding: 0;
    }

    .hero-part-one {
        display: flex;
        flex-direction: column;
        padding: 0;
        justify-content: center;
    }

    .hero .hero-content {
        display: flex;
        flex-direction: column;
        order: 2;
    }

    .hero-part-one .hero-img img {
        width: 100%;
        margin: 0;
        order: 1;
    }

    .hero-item {
        align-self: center;
    }

    .hero p {
        line-height: 2rem;
        color: #1d2626;
        font-size: 1.5rem;
        // align-self: center;
    }

    .hero .pg-3 {
        align-self: center !important;
        font-size: 1rem;
        padding: 0 2.5rem;
    }

    .hero ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero ul li {
        font-size: 1rem;
        display: flex;
        justify-content: flex-start;
    }

    .hero-arrow {
        margin-top: .3rem;
        margin-right: .4rem;
    }

    .hero-create-button {
        margin-top: 1.5rem;
    }

    .aan-button {
        align-self: center !important;
        padding-left: 1rem !important;
    }

    .aan-button img {
        width: 1.5rem;
        height: 1.5rem;
        z-index: 1;
        margin-right: -2.4rem;
        margin-top: .8rem;
    }

    .aan-button button {
        border: none;
        border-radius: 65px;
        font-size: 1.1rem;
        color: #fff;
        width: 20rem;
        padding: .7rem 0 .8rem 1rem;
    }

    .aan-button:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }

    .scroll-down .scrolldown-wrapper {
        margin: 3rem 0;
    }

    // -------------- Aan de slag --------------
    .aan-de-slag {
        min-height: 72rem;
        margin-top: 0;
    }

    .aan-de-slag span {
        font-size: 2rem;
        color: #111717;
        padding: 3rem 2rem;
    }

    .aan-de-slag .mobile {
        flex-direction: column;
        padding-left: 0;
    }

    .aan-de-slag .stap {
        width: 100%;
        padding-left: 0;
    }

    .staps .pg-3 {
        padding: 0 3rem;
    }

    .staps p {
        padding: 0 3rem;
    }

    .slag-btn {
        margin-left: -.5rem;
    }

    // -------------- Quote --------------
    .quote h2 {
        font-size: 2rem;
        font-weight: 700;
        max-width: 15rem;
        padding-top: 6rem;
        margin: 0;
        height: 30rem;
    }

    .quote p {
        font-size: 1.5rem;
        font-weight: 700;
        max-width: 60rem;
        padding-top: 6rem;
        margin: 0;
        height: 2rem;
    }

    // -------------- Getuigenissen --------------
  
    .getuigenissen span {
        font-size: 2rem;
        color: #111717;
        padding: 3rem 0;
    }

    .getuigenissen-container {
        flex-direction: column;
        align-items: center;
    }

    .getuigenissen .card {
        min-height: 30rem;
        width: 20rem;
        padding-top: 4rem;
        margin: 1rem 2rem;
    }

    .getuigenissen h2 {
        font-size: 1.7rem;
        margin-left: -.8rem;
    }

    .getuigenissen .aanmaken-button {
        font-size: 16px;
    }

    .getuigenissen .aanmaken-button .btn {
        margin-top: 1rem;
        font-size: 16px;
    }

    // -------------- Over ons --------------
    .over-ons {
        min-height: 60rem;
        flex-direction: column;
    }

    .over-ons-img {
        order: 1;
    }

    .over-ons img {
        width: 100%;
        height: 100% !important;
        margin: 0;
        border-radius: 0;
        object-fit: cover;
    }

    .over-ons-text {
        width: 100%;
        margin: 0;
        height: 50rem;
        border-radius: 0;
        order: 2;
    }

    .over-ons-title {
        padding: 2rem 4rem;
        justify-content: center;
        align-items: center;
    }

    .p-text {
        min-height: 25rem;
        width: 25rem;
        padding: 0 3.5rem;
        text-align: justify;
    }

    // -------------- Contact --------------
    .contact {
        min-height: 38rem;
    }

    .contact-items {
        flex-direction: column;
        // justify-content: center;
        align-items: center;
    }

    .contact-p {
        padding: 0 32px;
    }

    .contact .contact-icon-phone {
        margin-left: 1.5rem;
    }

    .contact .contact-icon-mail {
        margin-left: 3.5rem;
    }

    .staff-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:  1rem 1rem;
    }

    .staff-container p {
        padding:  1rem 1rem;
    }
}

// landscape phones
@media (min-width: 575px) and (max-width: 767px) {

    // -------------- Header --------------
    .hero {
        min-height: 100vh;
        padding: 0;
    }

    .hero-part-one {
        display: flex;
        flex-direction: column;
        padding: 0;
        justify-content: center;
    }

    .hero .hero-content {
        display: flex;
        flex-direction: column;
        order: 2;
    }

    .hero-part-one .hero-img img {
        width: 100%;
        margin: 0;
        order: 1;
    }

    .hero-item {
        align-self: center;
    }

    .hero p {
        line-height: 2rem;
        color: #1d2626;
        font-size: 1.5rem;
        // align-self: center;
    }

    .hero .pg-3 {
        align-self: center !important;
        font-size: 1rem;
        padding: 0 9rem;
    }

    .hero ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero ul li {
        font-size: 1rem;
        display: flex;
        justify-content: flex-start;
    }

    .hero-arrow {
        margin-top: .3rem;
        margin-right: .4rem;
    }

    .hero-create-button {
        margin-top: 1.5rem;
    }

    .aan-button {
        align-self: center !important;
        padding-left: 1rem !important;
    }

    .aan-button img {
        width: 1.5rem;
        height: 1.5rem;
        z-index: 1;
        margin-right: -2.4rem;
        margin-top: .8rem;
    }

    .aan-button button {
        border: none;
        border-radius: 65px;
        font-size: 1.1rem;
        color: #fff;
        width: 20rem;
        padding: .7rem 0 .8rem 1rem;
    }

    .aan-button:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }

    .scroll-down .scrolldown-wrapper {
        margin: 3rem 0;
    }

    // -------------- Aan de slag --------------
    .aan-de-slag {
        min-height: 68.9rem;
        margin-top: 0;
    }

    .aan-de-slag span {
        font-size: 2rem;
        color: #111717;
        padding: 3rem 2rem;
    }

    .aan-de-slag .mobile {
        flex-direction: column;
        padding-left: 0;
    }

    .aan-de-slag .stap {
        width: 100%;
        padding-left: 0;
    }

    .staps .pg-3 {
        padding: 0 3rem;
    }

    .slag-btn {
        margin-left: -.5rem;
    }

    // -------------- Quote --------------
    .quote h2 {
        font-size: 2rem;
        font-weight: 700;
        max-width: 15rem;
        padding-top: 6rem;
        margin: 0;
        height: 30rem;
        align-self: center;
        text-align: center;
        color: white;
    }

    .quote p {
        font-size: 1.5rem;
        font-weight: 700;
        max-width: 60rem;
        padding-top: 6rem;
        margin: 0;
        height: 2rem;
        align-self: center;
        color: white;
    }

    // -------------- Getuigenissen --------------
  
    .getuigenissen span {
        font-size: 2rem;
        color: #111717;
        padding: 3rem 0;
    }

    .getuigenissen-container {
        flex-direction: column;
        align-items: center;
    }

    .getuigenissen .card {
        min-height: 30rem;
        width: 20rem;
        padding-top: 4rem;
        margin: 1rem 2rem;
    }

    .getuigenissen h2 {
        font-size: 1.7rem;
        margin-left: -.8rem;
    }

    .getuigenissen .aanmaken-button {
        font-size: 16px;
    }

    .getuigenissen .aanmaken-button .btn {
        margin-top: 1rem;
        font-size: 16px;
    }

    .getuigenissen span {
        font-size: 2rem;
        color: #111717;
        padding: 3rem 0;
    }

    .getuigenissen h2 {
        font-size: 1.7rem;
    }

    // -------------- Over ons --------------
    .over-ons {
        min-height: 60rem;
        flex-direction: column;
    }

    .over-ons-img {
        order: 1;
    }

    .over-ons img {
        width: 100%;
        margin: 0;
        border-radius: 0;
    }

    .over-ons-text {
        width: 100%;
        margin: 0;
        height: 40rem;
        border-radius: 0;
        order: 2;
    }

    .over-ons-title {
        padding: 2rem;
        align-self: center;
    }

    .p-text {
        min-height: 42rem;
        width: 25rem;
        padding: 0;
        text-align: justify;
    }

    // -------------- Contact --------------
    .contact {
        min-height: 35rem;
    }

    .contact-items {
        flex-direction: column;
        align-items: center;
    }

    .contact-p {
        padding: 0 32px;
    }

    .contact .contact-icon-phone {
        margin-left: 1.5rem;
    }

    .contact .contact-icon-mail {
        margin-left: 3.5rem;
    }

    .staff-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:  1rem 1rem;
    }

    .staff-container p {
        padding:  1rem 1rem;
    }
}

// tablets 
@media (min-width: 767px) and (max-width: 991px) {

    // -------------- Header -------------- 
    .hero {
        min-height: 83vh;
    }

    .hero-part-one {
        display: flex;
        gap: 10px;
    }

    .hero .hero-content {
        display: flex;
        flex-direction: column;
        padding-top: 0;
    }

    .hero-part-one .hero-img img {
        width: 100%;
        order: 1;
    }

    .hero p {
        line-height: 2rem;
        color: #1d2626;
        font-size: 1.5rem;
    }

    .hero .pg-1 {
        margin-left: -10rem;
    }

    .hero .pg-2 {
        margin-left: -1.8rem;
    }

    .hero .pg-3 {
        font-size: 1rem;
        padding-left: .5rem;
    }

    .hero ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero ul li {
        font-size: 1rem;
        display: flex;
        justify-content: flex-start;
    }

    .hero-arrow {
        margin-top: .3rem;
        margin-right: .4rem;
    }

    .hero-create-button {
        margin-top: 1.5rem;
    }

    .aan-button img {
        width: 1.5rem;
        height: 1.5rem;
        z-index: 1;
        margin-right: -2.4rem;
        margin-top: .8rem;
    }

    .aan-button button {
        border: none;
        border-radius: 65px;
        font-size: 1.1rem;
        color: #fff;
        width: 20rem;
        padding: .6rem 0 .8rem 1rem;
        margin-right: 1.5rem;
    }

    .aan-button:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }

    .scroll-down .scrolldown-wrapper {
        margin: 2rem 0;
    }

    // -------------- Aan de slag --------------
    .aan-de-slag {
        min-height: 33.4rem;
        margin-top: 0;
    }

    .aan-de-slag span {
        font-size: 2rem;
        color: #111717;
        padding: 3rem 2rem;
    }

    .aan-de-slag .stap {
        width: 30%;
    }

    .aan-de-slag h4 {
        font-size: 1.2rem;
        margin-top: 2rem;
        color: #1A494F;
    }

    .aan-de-slag p {
        color: #1A494F;
    }

    .aan-de-slag .staps img {
        width: 7rem;
        height: 7rem;
    }

    .slag-btn {
        justify-content: center;
        margin-left: 2rem;
    }

    .aan-button {
        margin-bottom: 4rem;
    }

    // -------------- Quote --------------
    .quote h2 {
        font-size: 2.5rem;
        max-width: 40rem;
        padding-top: 12rem;
        height: 25rem;
    }

    .quote p {
        font-size: 3rem;
        padding-top: 6rem;
    }

    // -------------- Getuigenissen --------------
  
    .getuigenissen span {
        font-size: 2rem;
        color: #111717;
        padding: 3rem 0;
    }

    .getuigenissen-container {
        flex-direction: column;
        align-items: center;
    }

    .getuigenissen .card {
        min-height: 30rem;
        width: 20rem;
        padding-top: 4rem;
        margin: 1rem 2rem;
    }

    .getuigenissen h2 {
        font-size: 1.7rem;
        margin-left: -.8rem;
    }

    .getuigenissen .aanmaken-button {
        font-size: 16px;
    }

    .getuigenissen .aanmaken-button .btn {
        margin-top: 1rem;
        font-size: 16px;
    }

    .getuigenissen h2 {
        font-size: 1.7rem;
        padding: 0 2rem;
        margin-top: 0;
    }

    .getuigenissen-btn {
        margin-left: 2.5rem;
    }

    // -------------- Over ons -------------- 
    .over-ons {
        min-height: 60rem;
        flex-direction: column;
    }

    .over-ons-img {
        order: 1;
    }

    .over-ons img {
        width: 100%;
        margin: 0;
        border-radius: 0;
    }

    .over-ons-text {
        width: 100%;
        margin: 0;
        height: 40rem;
        border-radius: 0;
        order: 2;
    }

    .over-ons-title {
        padding: 2rem;
        align-self: center;
    }

    .p-text {
        min-height: 42rem;
        width: 25rem;
        padding: 0;
        text-align: justify;
    }

    // -------------- Contact --------------
    .contact {
        min-height: 19rem;
    }

}

// large desktop
@media (min-width: 991px) and (max-width: 1200px) {

    // -------------- Header --------------
    .hero {
        min-height: 100vh;
        min-width: 100vw;
    }

    .hero-content p {
        font-size: 1.9rem;
    }

    .hero .pg-3 {
        font-size: 1.2rem;
        line-height: 1.6rem;
        padding-right: 1rem;
    }

    .hero-list .hero-linst-p {
        font-size: 1.2rem;
    }

    .hero-create-button {
        margin-top: 3rem;
    }

    .aan-button {
        display: flex;
    }

    .aan-button img {
        width: 1.5rem;
        height: 1.5rem;
        z-index: 1;
        margin-right: -2.8rem;
        margin-top: .9rem;
    }

    .aan-button button {
        font-size: 1.2rem;
        width: 22rem;
        padding: .7rem 0 .8rem 1.3rem;
        margin-right: 3rem;
    }

    .scroll-down .scrolldown-wrapper {
        margin: 2rem 0;
    }

    // -------------- Aan de slag --------------
    .aan-de-slag {
        min-height: 33rem;
        margin-top: 0;
    }

    .aan-de-slag span {
        font-size: 2rem;
        color: #111717;
        padding: 3rem 2rem;
    }

    .aan-de-slag .stap {
        width: 30%;
    }

    .aan-de-slag h4 {
        font-size: 1.2rem;
        margin-top: 2rem;
        color: #1A494F;
    }

    .aan-de-slag p {
        color: #1A494F;
    }

    .aan-de-slag .staps img {
        width: 7rem;
        height: 7rem;
    }

    .slag-btn {
        justify-content: center;
        margin-left: 2rem;
    }

    .aan-button {
        margin-bottom: 4rem;
    }

    // -------------- Quote --------------
    .quote h2 {
        font-size: 3rem;
        max-width: 50rem;
        padding-top: 8rem;
        height: 25rem;
    }

    .quote p {
        font-size: 3.5rem;
        padding-top: 8rem;
    }

    // -------------- Getuigenissen --------------
    .getuigenissen {
        min-height: 62rem;
        flex-direction: column;
    }

    .getuigenissen span {
        font-size: 2rem;
        color: #111717;
        padding: 3rem 0;
    }

    .getuigenissen .card {
        min-height: 30rem;
        width: 20rem;
        padding-top: 4rem;
        margin: 1rem 1rem;
    }

    .getuigenissen h2 {
        font-size: 1.7rem;
        padding: 0 2rem;
        margin-top: 0;
    }

    .getuigenissen-btn {
        margin-left: 2.5rem;
    }

    // -------------- Contact --------------
    .contact {
        min-height: 18rem;
    }

}

// xlarge > 14"
@media (min-width: 1200px) and (max-width: 1490px) {

    // -------------- Header --------------
    .hero {
        min-height: 71vh;
        min-width: 100vw;
    }

    // -------------- Header --------------
    .hero {
        min-height: 101vh;
        min-width: 100vw;
    }

    .hero-content p {
        font-size: 1.9rem;
    }

    .hero .pg-3 {
        font-size: 1.2rem;
        line-height: 1.6rem;
        padding-right: 1rem;
    }

    .hero-list .hero-linst-p {
        font-size: 1.2rem;
    }

    .hero-create-button {
        margin-top: 3rem;
    }

    .aan-button {
        display: flex;
    }

    .aan-button img {
        width: 1.5rem;
        height: 1.5rem;
        z-index: 1;
        margin-right: -2.8rem;
        margin-top: .9rem;
    }

    .aan-button button {
        font-size: 1.2rem;
        width: 22rem;
        padding: .7rem 0 .8rem 1.3rem;
        margin-right: 3rem;
    }

    .scroll-down .scrolldown-wrapper {
        margin: 2rem 0;
    }

    // -------------- Aan de slag --------------
    .aan-de-slag {
        min-height: 33rem;
        margin-top: 0;
    }

    .aan-de-slag span {
        font-size: 2rem;
        color: #111717;
        padding: 3rem 2rem;
    }

    .aan-de-slag .stap {
        width: 30%;
    }

    .aan-de-slag h4 {
        font-size: 1.2rem;
        margin-top: 2rem;
        color: #1A494F;
    }

    .aan-de-slag p {
        color: #1A494F;
    }

    .aan-de-slag .staps img {
        width: 7rem;
        height: 7rem;
    }

    .slag-btn {
        justify-content: center;
        margin-left: 2rem;
    }

    .aan-button {
        margin-bottom: 4rem;
    }

    // -------------- Quote --------------
    .quote h2 {
        font-size: 3rem;
        max-width: 50rem;
        padding-top: 8rem;
        height: 25rem;
    }

    .quote p {
        font-size: 3.5rem;
        padding-top: 8rem;
    }

    // -------------- Getuigenissen --------------
    .getuigenissen {
        min-height: 57rem;
        flex-direction: column;
    }

    .getuigenissen h2 {
        font-size: 1.7rem;
        padding: 0 2rem;
        margin-top: 0;
    }

    .getuigenissen-btn {
        margin-left: 4rem;
    }

    

}