.title{
    background-color: #f5f9fc;
    padding-top: 2rem;
}

.herdenkingsruimte {
    display: grid;
    grid-template-columns: 25rem 25rem 25rem;
    gap: 1.5rem;
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: #f5f9fc;
    padding: 5rem;
    justify-content: center;
}

.herdenkingsruimte .card {
    height: 32rem;
    border-radius: 2rem;
    background-color: #0A3556;
    align-items: center;
    padding: 2rem 0;
}

.herdenkingsruimte .card:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.herdenkingsruimte .img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin: 2rem 0 3rem;
}

.card-full-name {
    background-color: #91a5dd;
    color: #fff;
    // font-size: 1.5rem;
    padding: .2rem;
    border-radius: .5rem;
    margin-bottom: .2rem;
    width: 22rem;
}

.card-date {
    background-color: #91a5dd;
    color: #fff;
    // font-size: 1.5rem;
    padding: .2rem;
    border-radius: .5rem;
    margin-bottom: .2rem;
    width: 20rem;
}

.card-woonplaats {
    background-color: #91a5dd;
    color: #fff;
    // font-size: 1.5rem;
    padding: .2rem;
    border-radius: .5rem;
    width: 15rem;
}

.verwijderen-button {
    background-color: rgb(99, 96, 96);
    color: #fff;
    border-radius: 65px;
    // padding: .5rem 1rem;
    // padding: .5rem;
    border: none;
    // margin-top: .5rem;
    margin-top: -5rem;
    // margin-right: 6rem;
    z-index: 1;
    width: 10rem;
    height: 2rem;
}

.pagination {
    justify-content: center;
    align-content: center;
    background-color: #f5f9fc;
    padding: 0 0 2rem;
}


//  ----------------- media queries ------------------

/* portrait phones */
@media (max-width: 575px) {
    .herdenkingsruimte {
        grid-template-columns: 21rem;
    }

    .herdenkingsruimte .card {
        height: 29rem;
    }
    
    .herdenkingsruimte .img {
        width: 8rem;
        height: 8rem;
        margin: 1rem 0 3rem;
    }
    
    .card-full-name {
        width: 18rem;
    }
    
    .card-date {
        width: 19.5rem;
    }
    
    .card-woonplaats {
        width: 18rem;
    }

}

/* landscape phones */
@media (min-width: 575px) and (max-width: 767px) {
    .herdenkingsruimte {
        grid-template-columns: 25rem;
    }

    .herdenkingsruimte .card {
        height: 29rem;
    }
    
    .herdenkingsruimte .img {
        width: 8rem;
        height: 8rem;
        margin: 1rem 0 3rem;
    }
    
    .card-full-name {
        width: 18rem;
    }
    
    .card-date {
        width: 19.5rem;
    }
    
    .card-woonplaats {
        width: 18rem;
    }
}

/* tablets */
@media (min-width: 767px) and (max-width: 991px) {
    .herdenkingsruimte {
        grid-template-columns: 22rem 22rem;
    }

    .herdenkingsruimte .card {
        height: 29rem;
    }
    
    .herdenkingsruimte .img {
        width: 8rem;
        height: 8rem;
        margin: 1rem 0 3rem;
    }
    
    .card-full-name {
        width: 22rem;
    }
    
    .card-date {
        width: 20rem;
    }
    
    .card-woonplaats {
        width: 15rem;
    }
}

/* desktops */
@media (min-width: 991px) and (max-width: 1200px) {
    .herdenkingsruimte {
        grid-template-columns: 25rem 25rem;
    }

    .herdenkingsruimte .card {
        height: 29rem;
    }
    
    .herdenkingsruimte .img {
        width: 8rem;
        height: 8rem;
        margin: 1rem 0 3rem;
    }
    
    .card-full-name {
        width: 22rem;
    }
    
    .card-date {
        width: 20rem;
    }
    
    .card-woonplaats {
        width: 15rem;
    }
}

/* large desktops */
@media (min-width: 1200px){
    .herdenkingsruimte {
        grid-template-columns: 25rem 25rem;
    }

    .herdenkingsruimte .card {
        height: 29rem;
    }
    
    .herdenkingsruimte .img {
        width: 8rem;
        height: 8rem;
        margin: 1rem 0 3rem;
    }
    
    .card-full-name {
        width: 22rem;
    }
    
    .card-date {
        width: 20rem;
    }
    
    .card-woonplaats {
        width: 15rem;
    }
}

/* extra large desktops */
@media only screen and (min-width: 1400px) {
    .herdenkingsruimte {
        grid-template-columns: 25rem 25rem 25rem;
    }
}