/* style of login by LoginButton.js */
.navbar-button-login {
    display: flex;
}

/* .navbar-login {} */

.navbar-button-login img {
    width: 1.4rem;
    height: 1.4rem;
    margin-right: .3rem;
}

.navbar-button-login button {
    padding: .6rem;
    padding-left: .4rem;
    background-color: #D7E5EE;
    border: none;
    border-radius: 65px;
    width: 6.6rem;
    margin-right: 1rem;
    font-size: 16px;
    border: none;
}

.navbar-button-login button:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

/* style of login by LoginButton.js */

.navbar-menu {
    display: flex;
}

.navbar-button-beheer-pagina {
    display: flex;
}

.navbar-button-beheer-pagina img {
    width: 1.5rem;
    height: 1.5rem;
    z-index: 1;
    margin-top: .6rem;
    margin-right: -2.3rem;
}

.navbar-button-beheer-pagina button {
    padding: .6rem;
    padding-left: 1.7rem;
    background-color: #D7E5EE;
    border: none;
    border-radius: 65px;
    width: 11.5rem;
    margin-right: 1rem;
    font-size: 16px;
}

.navbar-button-beheer-pagina:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.welcome-btn {
    background-color: #D7E5EE !important;
    border: none;
    border-radius: 65px;
    padding: .17rem;
}

.welcome-btn:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.welcome-username {
    min-width: 16.3rem;
}

.welcome-btn img {
    width: 1.5rem;
    height: 1.4rem;
    z-index: 1;
    margin-right: .3rem;
}

.drop-down-menu {
    margin-top: .1rem !important;
    margin-left: .9rem !important;
    width: 16.5rem;
}

.welcome-container .navbar-link {
    text-decoration: none;
    font-size: 1rem;
    color: black;
    margin-left: 1rem;
}

/* ----------  media queries ---------- */

/* portrait phones */
@media (max-width: 575px) {
    .navbar-menu {
        flex-direction: column;
        margin-left: -.5rem;
    }

    .navbar-button-beheer-pagina {
        margin-right: 0;
        margin-bottom: 1.5rem;
    }
}

/* landscape phones */
@media (min-width: 576px) and (max-width: 767px) {
    .navbar-menu {
        flex-direction: column;
    }

    .navbar-button-beheer-pagina {
        margin-right: 0;
        margin-bottom: 1.5rem;
    }
}

/* tablets */
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-menu {
        flex-direction: column;
    }

    .navbar-button-beheer-pagina {
        margin-right: 0;
        margin-bottom: 1.5rem;
    }
}

/* large desktops */
@media (min-width: 992px) and (max-width: 1200px) {
    .navbar-menu {
        flex-direction: column;
    }

    .navbar-button-beheer-pagina {
        margin-right: 0;
        margin-bottom: 1.5rem;
    }

    .welcome-btn {
        padding: .18rem;
    }
}