.page-links {
    background-color: #0A3556;
    border: 1px #fff;
    color: #fff;
    padding: .5rem 1rem;
    border-radius: 50%;
    font-size: 1.5rem;
}

.page-links:hover {
    text-decoration: none;
    background-color: #fff;
    border: 3px solid #0A3556;
    color: #0A3556;
}