.profile-company-container {
    background-color: #f5f9fc;
    padding-top: 12rem;
}

.profile-container {
    background-color: #fff;
    width: 70vw;
    height: 35rem;
    border-radius: 50px;
    align-self: center;
    margin-bottom: 3rem;
}

.profile-photo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -11rem;
}

.profile-photo-container img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    object-fit: cover;
}

.profile-title {
    margin-top: 2rem;
}

.profile-edit-icon-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 3rem;
    margin-top: -10rem;
    margin-bottom: 10rem;
}

.profile-edit-icon-container img {
    width: 3rem;
    height: 3rem;
}

.profile-info {
    display: flex;
    justify-content: center;
    padding-top: 0;
}

.profile-content {
    font-size: 1.5rem;
}

.company-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 70vw;
    height: 30rem;
    border-radius: 50px;
    align-self: center;
    margin-bottom: 3rem;
}

.title-container {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
}

.company-edit-icon-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 3rem;
    margin-top: -3.5rem;
    margin-bottom: 3rem;
}

.company-edit-icon-container img {
    width: 3rem;
    height: 3rem;
}

.company-info {
    display: flex;
    justify-content: center;
}

.company-content {
    font-size: 1.5rem;
}

.company-name {
    display: grid;
    grid-template-columns: 35rem 30rem;
    gap: 1rem;
    margin-bottom: 3rem;
}

.company-address {
    display: grid;
    grid-template-columns: 35rem 30rem;
    gap: 1rem;
}

.delete-button-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 16rem;
    margin-bottom: 3rem;
}

.profile-delete-button {
    display: flex;
}

.profile-delete-button img {
    width: 1.5rem;
    height: 1.5rem;
    z-index: 1;
    margin-right: .2rem;
    margin-top: -.5rem;
}

.profile-delete-button button {
    border: none;
    border-radius: 65px;
    font-size: 1.2rem;
    background-color: #F24726;
    color: #fff;
    width: 15.5rem;
    padding: .7rem .3rem .8rem .5rem;
}

.profile-delete-button:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}


// h: ---------- media queries ----------

@media (max-width: 575px) {  
    .profile-company-container {
        padding-top: 3rem;
    }

    .profile-container {
        width: 95vw;
        border-radius: 10px;
    }

    .profile-photo-container {
        margin-top: 0;
    }

    .profile-photo-container img {
        width: 10rem;
        height: 10rem;
    }

    .profile-title {
        margin-bottom: 2rem;
    }

    .profile-edit-icon-container {
        margin-right: .5rem;
        margin-top: -5rem;
        margin-bottom: 2rem;
    }
    
    .profile-edit-icon-container img {
        width: 2rem;
        height: 2rem;
    }

    .profile-content {
        font-size: 1rem;
    }

    .company-container {
        width: 95vw;
        height: 35rem;
        border-radius: 10px;
    }

    .company-edit-icon-container {
        display: flex;
        justify-content: flex-end;
        margin-right: 1rem;
        margin-top: -5rem;
        margin-bottom: 4rem;
    }

    .company-edit-icon-container img {
        width: 2rem;
        height: 2rem;
    }

    .company-info {
        display: flex;
    }

    .company-content {
        font-size: 1rem;
    }
    
    .company-name {
        display: grid;
        grid-template-columns: 20rem;
        gap: 1;
        margin-bottom: 3rem;
        justify-content: center;
    }
    
    .company-address {
        display: grid;
        grid-template-columns: 20rem;
        gap: 1rem;
        justify-content: center;
    }

    .delete-button-container {
        display: flex;
        justify-content: center;
        margin-right: 0;
        margin-bottom: 3rem;
    }
}

/* landscape phones */
@media (min-width: 575px) and (max-width: 767px){
    .profile-company-container {
        padding-top: 3rem;
    }

    .profile-container {
        width: 95vw;
        border-radius: 20px;
    }

    .profile-photo-container {
        margin-top: 0;
    }

    .profile-photo-container img {
        width: 10rem;
        height: 10rem;
    }

    .profile-title {
        margin-bottom: 2rem;
    }

    .profile-edit-icon-container {
        margin-right: 1rem;
        margin-top: -5rem;
        margin-bottom: 2rem;
    }
    
    .profile-edit-icon-container img {
        width: 2rem;
        height: 2rem;
    }

    .profile-content {
        font-size: 1rem;
    }

    .company-container {
        width: 95vw;
        height: 35rem;
        border-radius: 20px;
    }

    .company-edit-icon-container {
        display: flex;
        justify-content: flex-end;
        margin-right: 1rem;
        margin-top: -5rem;
        margin-bottom: 4rem;
    }

    .company-edit-icon-container img {
        width: 2rem;
        height: 2rem;
    }

    .company-info {
        display: flex;
    }

    .company-content {
        font-size: 1rem;
    }
    
    .company-name {
        display: grid;
        grid-template-columns: 20rem;
        gap: 1;
        margin-bottom: 3rem;
        justify-content: center;
    }
    
    .company-address {
        display: grid;
        grid-template-columns: 20rem;
        gap: 1rem;
        justify-content: center;
    }

    .delete-button-container {
        display: flex;
        justify-content: center;
        margin-right: 0;
        margin-bottom: 3rem;
    }
}

/* tablets */
@media (min-width: 767px) and (max-width: 991px){
    .profile-company-container {
        padding-top: 3rem;
    }

    .profile-container {
        width: 95vw;
        border-radius: 30px;
    }

    .profile-photo-container {
        margin-top: 0;
    }

    .profile-photo-container img {
        width: 10rem;
        height: 10rem;
    }

    .profile-title {
        margin-bottom: 2rem;
    }

    .profile-edit-icon-container {
        margin-right: 1rem;
        margin-top: -5rem;
        margin-bottom: 2rem;
    }
    
    .profile-edit-icon-container img {
        width: 2rem;
        height: 2rem;
    }

    .profile-content {
        font-size: 1rem;
    }

    .company-container {
        width: 95vw;
        height: 35rem;
        border-radius: 30px;
    }

    .company-edit-icon-container {
        margin-right: 3rem;
        margin-top: -4rem;
        margin-bottom: 4rem;
    }

    .company-edit-icon-container img {
        width: 2rem;
        height: 2rem;
    }

    .company-info {
        display: flex;
    }

    .company-content {
        font-size: 1rem;
    }
    
    .company-name {
        display: grid;
        grid-template-columns: 20rem;
        gap: 1;
        margin-bottom: 3rem;
        justify-content: center;
    }
    
    .company-address {
        display: grid;
        grid-template-columns: 20rem;
        gap: 1rem;
        justify-content: center;
    }

    .delete-button-container {
        display: flex;
        justify-content: center;
        margin-right: 0;
        margin-bottom: 3rem;
    }
}

/* large */
@media (min-width: 991px) and (max-width: 1200px) {
    .profile-company-container {
        padding-top: 3rem;
    }

    .profile-container {
        width: 80vw;
        border-radius: 30px;
    }

    .profile-photo-container {
        margin-top: 0;
    }

    .profile-photo-container img {
        width: 10rem;
        height: 10rem;
    }

    .profile-edit-icon-container {
        margin-right: 3rem;
        margin-top: -5rem;
        margin-bottom: 4rem;
    }
    
    .profile-edit-icon-container img {
        width: 2rem;
        height: 2rem;
    }

    .profile-content {
        font-size: 1rem;
    }

    .company-container {
        width: 80vw;
        height: 25rem;
        border-radius: 30px;
    }

    .company-edit-icon-container {
        margin-right: 3rem;
        margin-top: -4rem;
        margin-bottom: 4rem;
    }

    .company-edit-icon-container img {
        width: 2rem;
        height: 2rem;
    }

    .company-info {
        display: flex;
    }

    .company-content {
        font-size: 1rem;
    }

    .company-name {
        display: grid;
        grid-template-columns: 25rem 20rem;
        gap: 1;
        margin-bottom: 3rem;
        justify-content: center;
    }
    
    .company-address {
        display: grid;
        grid-template-columns: 25rem 20rem;
        gap: 1rem;
        justify-content: center;
    }

    .delete-button-container {
        display: flex;
        justify-content: center;
        margin-right: 0;
        margin-bottom: 3rem;
    }
}

/* xlarge > 14" */
@media(min-width: 1200px) and (max-width: 1490px) {
    .profile-company-container {
        padding-top: 8rem;
    }

    .profile-container {
        background-color: #fff;
        width: 80vw;
        height: 30rem;
        border-radius: 30px;
    }

    .profile-photo-container {
        margin-top: -7rem;
    }

    .profile-photo-container img {
        width: 10rem;
        height: 10rem;
    }

    .profile-edit-icon-container {
        display: flex;
        justify-content: flex-end;
        margin-right: 3rem;
        margin-top: -5rem;
        margin-bottom: 5rem;

    }
    
    .profile-edit-icon-container img {
        width: 2rem;
        height: 2rem;
    }

    .profile-content {
        font-size: 1rem;
    }

    .company-container {
        width: 80vw;
        height: 25rem;
        border-radius: 30px;
    }

    .company-edit-icon-container {
        display: flex;
        justify-content: flex-end;
        margin-right: 3rem;
        margin-top: -4rem;
        margin-bottom: 4rem;
    }

    .company-edit-icon-container img {
        width: 2rem;
        height: 2rem;
    }

    .company-info {
        display: flex;
    }

    .company-content {
        font-size: 1rem;
    }

    .company-name {
        display: grid;
        grid-template-columns: 25rem 20rem;
        gap: 1;
        margin-bottom: 3rem;
        justify-content: center;
    }
    
    .company-address {
        display: grid;
        grid-template-columns: 25rem 20rem;
        gap: 1rem;
        justify-content: center;
    }

    .delete-button-container {
        display: flex;
        justify-content: center;
        margin-right: 0;
        margin-bottom: 3rem;
    }
}