/* ---------- width: 1920px ---------- */
.searchbar {
    margin: -1rem 0 2.5rem;
    padding: 0;
    justify-content: center;
}

.searchbar .searchbar-container {
    display: flex;
    justify-content: space-around;
    margin: 2.5rem;
    margin-bottom: 0;
    border-radius: 50px;
    padding: .5rem .1rem .5rem 1rem;
    background-color: #fff;
    width: 80rem;
}

.searchbar input {
    padding: .9rem;
    width: 50rem;
    border: none;
}

.searchbar input:focus {
    outline: none !important;
}

.searchbar input:focus {
    border: none !important;
}

.search-btn img {
    width: 1.3rem;
    height: 1.3rem;
    z-index: 1;
    margin-right: -2.5rem;
    margin-top: 1rem;
}

.search-btn button {
    border: 2px solid #428CEE;
    border-radius: 65px;
    font-size: 1.1rem;
    background-color: #428CEE;
    color: #fff;
    width: 8rem;
    padding: .6rem 0 .8rem 1.4rem;
    margin-right: 2.5rem;
}

.search-btn:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.pages-btn img {
    width: 1.3rem;
    height: 1.3rem;
    z-index: 1;
    margin-right: -2.5rem;
    margin-top: 1rem;
}

.pages-btn button {
    border: 2px solid #808080;
    border-radius: 65px;
    font-size: 1.1rem;
    background-color: #fff;
    color: #808080;
    width: 10rem;
    padding: .6rem 0 .8rem 1.4rem;
}

.pages-btn:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

/* ---------- media queries ---------- */

/* portrait phones */
@media (max-width: 575px) {
    .searchbar {
        margin: -3rem 0 .3rem;
    }

    .searchbar .searchbar-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        border-radius: 10px;
        padding: 0;
        background-color: #fff;
        width: 20rem;
    }

    .searchbar-content {
        padding: 0 !important;
        margin: 0 !important;
    }

    .searchbar input {
        padding: .4rem;
        width: 18rem;
        margin-top: .5rem;
        border: 1px solid #808080;
        border-radius: 5px;
    }

    .searchbar input:focus {
        border: 1px solid #808080 !important;
    }

    .searchbar input:focus {
        border: 1px solid #808080 !important;
    }

    .buttons {
        margin: .5rem 0 .5rem 3rem;
    }

    .search-btn img {
        width: 1rem;
        height: 1rem;
        z-index: 1;
        margin-right: -2.2rem;
        margin-top: .8rem;
    }

    .search-btn button {
        font-size: 1rem;
        color: #fff;
        width: 7rem;
        padding: .3rem 0 .5rem 1.4rem !important;
        margin-right: 1.5rem;
    }

    .pages-btn img {
        width: 1rem;
        height: 1rem;
        z-index: 1;
        margin-right: -2.2rem;
        margin-top: .8rem;
    }

    .pages-btn button {
        border: 2px solid #808080;
        border-radius: 65px;
        font-size: 1rem;
        background-color: #fff;
        color: #808080;
        width: 9rem;
        padding: .3rem 0 .5rem 1.4rem !important;
        margin-left: 0 !important;
    }


}

/* landscape phones */
@media (min-width: 575px) and (max-width: 767px) {
    .searchbar {
        margin: -3rem 0 .3rem;
    }

    .searchbar .searchbar-container {
        display: flex;
        justify-content: space-around;
        /* margin: 2.5rem; */
        margin-bottom: 0;
        border-radius: 65px;
        padding: 0;
        background-color: #fff;
        width: 35rem;
    }

    .searchbar-content {
        padding: 0 !important;
        margin: 0 !important;
    }

    .searchbar input {
        padding: .4rem;
        width: 15rem;
        /* margin-left: -.5rem; */
        margin-top: .09rem;
        margin-left: -2rem;
    }

    .buttons {
        margin: .3rem -2.5rem .3rem -5rem;
    }

    .search-btn img {
        width: 1rem;
        height: 1rem;
        z-index: 1;
        margin-right: -2.2rem;
        margin-top: .8rem;
    }


    .search-btn button {
        font-size: 1rem;
        color: #fff;
        width: 7rem;
        padding: .3rem 0 .5rem 1.4rem !important;
        margin-right: 1.5rem;
    }

    .pages-btn img {
        width: 1rem;
        height: 1rem;
        z-index: 1;
        margin-right: -2.2rem;
        margin-top: .8rem;
    }

    .pages-btn button {
        border: 2px solid #808080;
        border-radius: 65px;
        font-size: 1rem;
        background-color: #fff;
        color: #808080;
        width: 9rem;
        padding: .3rem 0 .5rem 1.4rem !important;
        margin-left: 0 !important;
    }
}

/* tablets */
@media (min-width: 767px) and (max-width: 991px) {
    .searchbar {
        margin: -3rem 0 .3rem;
    }

    .searchbar .searchbar-container {
        display: flex;
        justify-content: space-around;
        /* margin: 2.5rem; */
        margin-bottom: 0;
        border-radius: 65px;
        padding: 0;
        background-color: #fff;
        width: 45rem;
    }

    .searchbar-content {
        padding: 0 !important;
        margin: 0 !important;
    }

    .searchbar input {
        padding: .5rem;
        width: 20rem;
        margin-left: -.5rem;
        margin-top: .09rem;
    }

    .buttons {
        margin: .3rem -.3rem .3rem -5rem;
    }

    .search-btn img {
        width: 1rem;
        height: 1rem;
        z-index: 1;
        margin-right: -2.2rem;
        margin-top: .8rem;
    }


    .search-btn button {
        font-size: 1rem;
        color: #fff;
        width: 7rem;
        padding: .3rem 0 .5rem 1.4rem !important;
        margin-right: 2.5rem;
    }

    .pages-btn img {
        width: 1rem;
        height: 1rem;
        z-index: 1;
        margin-right: -2.2rem;
        margin-top: .8rem;
    }

    .pages-btn button {
        border: 2px solid #808080;
        border-radius: 65px;
        font-size: 1rem;
        background-color: #fff;
        color: #808080;
        width: 9rem;
        padding: .3rem 0 .5rem 1.4rem !important;
    }
}

/* large desktops */
@media (min-width: 991px) and (max-width: 1200px) {
    .searchbar {
        margin: -2rem 0 .3rem;
    }

    .searchbar .searchbar-container {
        display: flex;
        justify-content: space-around;
        margin: 2.5rem;
        margin-bottom: 0;
        border-radius: 50px;
        padding: .3rem;
        background-color: #fff;
        width: 50rem;
    }

    .searchbar input {
        padding: .5rem;
        width: 25rem;
    }

    .buttons {
        margin: .3rem -.3rem .3rem -5rem;
    }

    .search-btn img {
        width: 1rem;
        height: 1rem;
        z-index: 1;
        margin-right: -2.2rem;
        margin-top: .8rem;
    }


    .search-btn button {
        font-size: 1rem;
        color: #fff;
        width: 7rem;
        padding: .3rem 0 .5rem 1.4rem !important;
        margin-right: 2.5rem;
    }

    .pages-btn img {
        width: 1rem;
        height: 1rem;
        z-index: 1;
        margin-right: -2.1rem;
        margin-top: .8rem;
    }

    .pages-btn button {
        border: 2px solid #808080;
        border-radius: 65px;
        font-size: 1rem;
        background-color: #fff;
        color: #808080;
        width: 9rem;
        padding: .3rem 0 .5rem 1.4rem !important;
    }
}

/* xlarge desktops */
@media (min-width: 1201px) and (max-width: 1490px) {
    .searchbar {
        margin: -2rem 0 .3rem;
    }
}