// -------------------------------------------
// this file is for UpdateGegevensModal.js and UpdateFactuurGegevens.js TOO
// -------------------------------------------


.update-form input {
    padding: .5rem 1rem;
    border: 1px solid #808080;
    width: 35rem;
    border-radius: 8px;  
}

.update-form textarea{
    padding: .5rem 1rem;
    border: 1px solid #808080;
    width: 35rem;
    border-radius: 8px;
    min-height: 10rem;
}

.update-form label {
    align-self: flex-start;
    margin-bottom: 0;
    margin-top: 2rem;
}

.update-form img {
    border-radius: 10%;
    width: 17rem;
    height: 20rem;
    object-fit: cover;
    align-self: center;
}

.modal-title {
    font-size: 2.1rem !important;
    font-weight: 700 !important;
}

.form-error {
    color: red;
    align-self: flex-start;
    margin-left: 7rem;
}

.button-save-change {
  display: flex;
}

.button-save-change .save-img {
    width: 1.5rem;
    height: 1.5rem;
    z-index: 1;
    margin-right: -2.8rem;
    margin-top: .7rem;
}

.button-save-change button {
    border: none;
    border-radius: 65px;
    font-size: 1.2rem;
    background-color: #2D9BF0;
    color: #fff;
    width: 9rem;
    padding: .5rem 0 .8rem 1.3rem;
}

.button-save-change:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.pac-container {
    background-color: #FFF;
    z-index: 2001;
    position: fixed;
    display: inline-block;
}
.modal{
    z-index: 2000;
}
.modal-backdrop{
    z-index: 1000;
}


// ----------- media queries ----------

/* portrait phones */
@media (max-width: 575px) {
    .update-form input {
        width: 80vw;
    }
    
    .update-form textarea{
        width: 80vw;
    }

    .update-form label {
        align-self: flex-start;
        margin-left: 0;
        margin-bottom: 0;
        margin-top: 2rem;
    }
}

/* landscape phones */
@media (min-width: 575px) and (max-width: 767px) {
    .update-form input {
        width: 60vw;
    }
    
    .update-form textarea{
        width: 60vw;
    }

    .update-form label {
        align-self: flex-start;
        margin-left: 0;
        margin-bottom: 0;
        margin-top: 2rem;
    }
}

/* tablets */
@media (min-width: 767px) and (max-width: 991px) {
    .update-form input {
        width: 45vw;
    }
    
    .update-form textarea{
        width: 45vw;
    }

    .update-form label {
        align-self: flex-start;
        margin-left: 0;
        margin-bottom: 0;
        margin-top: 2rem;
    }
}

/* large */
@media (min-width: 991px) and (max-width: 1200px) {
    .update-form input {
        width: 45vw;
    }
    
    .update-form textarea{
        width: 45vw;
    }

    .update-form label {
        align-self: flex-start;
        margin-left: 0;
        margin-bottom: 0;
        margin-top: 2rem;
    }
}
