.pac-container {
    background-color: #FFF;
    z-index: 2001;
    position: fixed;
    display: inline-block;
}

.modal {
    z-index: 2000;
}

.modal-backdrop {
    z-index: 1000;
}

.update-form-map {
    justify-content: center;
    align-items: center;
}

.update-form-map input {
    padding: .5rem 1rem;
    border: 1px solid #808080;
    width: 35rem;
    border-radius: 8px;
}

.update-form-map textarea {
    padding: .5rem 1rem;
    border: 1px solid #808080;
    width: 35rem;
    border-radius: 8px;
    min-height: 10rem;
}

.update-form-map label {
    align-self: flex-start;
    margin-left: 7rem;
    margin-bottom: 0;
    margin-top: 2rem;
}

.update-form-map select {
    align-self: flex-start;
    margin-left: 7rem;
    margin-bottom: 0;
}

.ondernemer-input {
    width: 39rem !important;
}

.ckeckbox-container  {
    width: 35rem;
    margin: 2rem 0 1rem;
}

.checkbox-input {
    accent-color: #2D9BF0;
}

.ckeckbox-container label {
    margin-left: 0;
    margin-top: -.4rem;
}

.update-form-map img {
    width: 27rem;
    height: 18rem;
    border-radius: 3rem;
    object-fit: cover;
}

.modal-title {
    font-size: 2.1rem !important;
    font-weight: 700 !important;
}

.button-save-change {
    display: flex;
}

.button-save-change .save-img {
    width: 1.5rem;
    height: 1.5rem;
    z-index: 1;
    margin-right: -2.8rem;
    margin-top: .7rem;
}

.button-save-change button {
    border: none;
    border-radius: 65px;
    font-size: 1.2rem;
    background-color: #2D9BF0;
    color: #fff;
    width: 9rem;
    padding: .5rem 0 .8rem 1.3rem;
}

.button-save-change:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.second-form input {
    width: 35rem;
}

// ----------- media queries ----------

/* portrait phones */
@media (max-width: 575px) {
    .update-form-map {
        align-items: flex-start;
    }

    .update-form-map input {
        padding: .5rem 1rem;
        border: 1px solid #808080;
        width: 85vw;
        border-radius: 8px;
    }
 
    .modal-title {
        font-size: 1.5rem !important;
        font-weight: normal;
    }

    .map-select-container {
        width: 80vw;
    }

    .ckeckbox-container  {
        width: 35rem;
        margin: 2rem 0 1rem;
    }
    
    .checkbox-input {
        accent-color: #2D9BF0;
    }
    
    .ckeckbox-container label {
        margin-left: 0;
        margin-top: -.4rem;
    }
}

/* landscape phones */
@media (min-width: 575px) and (max-width: 767px) {
    .update-form-map {
        align-items: flex-start;
    }

    .update-form-map input {
        padding: .5rem 1rem;
        border: 1px solid #808080;
        width: 61vw;
        border-radius: 8px;
    }
 
    .modal-title {
        font-size: 1.5rem !important;
        font-weight: normal;
    }

    .map-select-container {
        width: 68vw;
    }

    .ckeckbox-container  {
        width: 35rem;
        margin: 2rem 0 1rem;
    }
    
    .checkbox-input {
        accent-color: #2D9BF0;
    }
    
    .ckeckbox-container label {
        margin-left: 0;
        margin-top: -.4rem;
    }
}

/* tablets */
@media (min-width: 767px) and (max-width: 991px) {
    .update-form-map {
        align-items: flex-start;
    }

    .update-form-map input {
        padding: .5rem 1rem;
        border: 1px solid #808080;
        width: 47vw;
        border-radius: 8px;
    }
 
    .modal-title {
        font-size: 1.5rem !important;
        font-weight: normal;
    }

    .map-select-container {
        width: 52vw;
    }

    .ckeckbox-container  {
        width: 35rem;
        margin: 2rem 0 1rem;
    }
    
    .checkbox-input {
        accent-color: #2D9BF0;
    }
    
    .ckeckbox-container label {
        margin-left: 0;
        margin-top: -.4rem;
    }
}

/* large */
@media (min-width: 991px) and (max-width: 1200px) {
    .update-form-map {
        align-items: flex-start;
    }

    .update-form-map input {
        padding: .5rem 1rem;
        border: 1px solid #808080;
        width: 47vw;
        border-radius: 8px;
    }
 
    .modal-title {
        font-size: 1.5rem !important;
        font-weight: normal;
    }

    .map-select-container {
        width: 52vw;
    }

    .ckeckbox-container  {
        width: 35rem;
        margin: 2rem 0 1rem;
    }
    
    .checkbox-input {
        accent-color: #2D9BF0;
    }
    
    .ckeckbox-container label {
        margin-left: 0;
        margin-top: -.4rem;
    }

    // 2d form
    .second-form input {
    }
}