// .page-menu-btn {
//   margin-right: 15px;
//   color: whitesmoke;
// background-color: #335378;
// border-radius: 10px;
// border-color: whitesmoke;
// transition: all .8s;

 

//   .page-menu-link {
//     color: white;
//     text-decoration: none;
//   }
//  .page-menu-link:hover{
//    color: red;
   
//  }
//  .page-menu-btn:hover{
//   background:green;
  
// }
// }


.proto_button{
  
  a{
    color: rgb(255, 255, 255);
  }
 
  color: rgb(255, 255, 255) !important;
  padding: 10px;
  background-color: #6a7d98 !important;
  border-radius: var(--radius) !important;
  border-color: rgb(241, 241, 241) !important;
  :hover{
    text-decoration: none;
    color: #eee;
  
  }
  transition: all .8s;
}
.proto_button:hover{
  background: #335278 !important;
  :visited{
    color: #d9d9d9 !important;
  }

}

@media screen and (min-width: 900px) and (max-width: 1400px){
  .page-menu-link {
    font-size: 14px;
    white-space: nowrap;
  }
}
