.proto_button {
  color: white !important;
  padding: 10px;
  background-color: #6a7d98 !important;
  border-radius: var(--radius) !important;
  border-color: #f1f1f1 !important;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}
.proto_button a {
  color: white;
}
.proto_button :hover {
  text-decoration: none;
  color: #eee;
}

.proto_button:hover {
  background: #335278 !important;
}
.proto_button:hover :visited {
  color: #d9d9d9 !important;
}

@media screen and (min-width: 900px) and (max-width: 1400px) {
  .page-menu-link {
    font-size: 14px;
    white-space: nowrap;
  }
}/*# sourceMappingURL=pageMenuButton.css.map */