.herdenkingsruimten .search-container {
  background-color: #f5f9fc;
  display: flex;
  justify-content: center;
  align-self: center;
  padding-top: 3rem;
}
.searchbar-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-bar-search {
  background-color: #fff;
  height: 3.5rem;
  width: 40rem;
  padding: .5rem 2rem;
  display: flex;
  justify-content: space-between;
}

.search-icon {
  margin-right: -11.5rem;
  margin-top: .6rem;
  z-index: 1;
  font-size: 1.4rem;
  color: #fff;
}

.search-container input {
  width: 30vw;
  margin-bottom: .5rem;
}

.btn-search {
  display: flex;
  justify-content: center;
  /* margin-left: -2rem; */
}

/* This is the css of design on Miro */
/* .btn-search {
  background-color: #428CEE;
  color: #fff;
  font-weight: bold;
  width: 8rem;
  border: none;
  border-radius: 65px;
}

.btn-search:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
} */

/* This is the css of current design */
.btn-search-current-design {
  background-color: #428CEE;
  color: #fff;
  font-weight: bold;
  width: 7.5rem;
  border: none;
  border-radius: 65px;
  padding: .7rem 0;
  margin-top: .2rem;
  margin-left: .5rem;
}

.btn-search-current-design:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/* .search-result {

} */

.search-bar-filter {
  background-color: #fff;
  height: 3.5rem;
  width: 40rem;
  padding: .5rem 2rem;
  display: flex;
  justify-content: space-between;
}

.btn-cancle {
  border: none;
  background-color: #fff;
  color: rgb(161, 161, 161);
  font-weight: bold;
  width: 8rem;
  /* margin-right: 1rem; */
}

.btn-cancle:hover {
  border: 1px solid rgb(161, 161, 161);
  border-radius: 65px;
}

.herdenkingsruimten .herdenkingsruimte {
  display: grid;
  grid-template-columns: 25rem 25rem 25rem;
  gap: 1.5rem;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #f5f9fc;
  padding: 5rem;
  justify-content: center;
}

.herdenkingsruimten .herdenkingsruimte .card {
  height: 24rem;
  border-radius: 2rem;
  background-color: #0A3556;
  align-items: center;
  padding: 2rem 0;
}

.herdenkingsruimten .herdenkingsruimte .card:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.herdenkingsruimten .herdenkingsruimte .img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
  margin: 2rem 0 3rem;
}

.herdenkingsruimten .card-full-name {
  background-color: #91a5dd;
  color: #fff;
  padding: .2rem;
  border-radius: .5rem;
  margin-bottom: .2rem;
  width: 22rem;
}

.herdenkingsruimten .card-date {
  background-color: #91a5dd;
  color: #fff;
  padding: .2rem;
  border-radius: .5rem;
  margin-bottom: .2rem;
  width: 20rem;
}

.herdenkingsruimten .card-woonplaats {
  background-color: #91a5dd;
  color: #fff;
  padding: .2rem;
  border-radius: .5rem;
  width: 15rem;
}

.herdenkingsruimten .verwijderen-button {
  background-color: rgb(99, 96, 96);
  color: #fff;
  border-radius: 65px;
  border: none;
  margin-top: -5rem;
  z-index: 1;
  width: 10rem;
  height: 2rem;
}

.herdenkingsruimten .herdenkingsruimten .pagination {
  justify-content: center;
  align-content: center;
  background-color: #f5f9fc;
  padding: 0 0 2rem;
}


/* ----------------- media queries ------------------ */

/* portrait phones */
@media (max-width: 575px) {

  .search-container form {
    flex-direction: column;
  }

  .search-container input {
    width: 85vw;
    margin-bottom: .5rem;
  }

  .btn-search {
    display: flex;
    justify-content: center;
    margin-left: -2rem;
  }

  .herdenkingsruimten .herdenkingsruimte {
    grid-template-columns: 21rem;
  }

  .herdenkingsruimten .herdenkingsruimte .card {
    height: 24rem;
  }

  .herdenkingsruimten .herdenkingsruimte .img {
    width: 8rem;
    height: 8rem;
    margin: 1rem 0 3rem;
  }

  .herdenkingsruimten .card-full-name {
    width: 18rem;
  }

  .herdenkingsruimten .card-date {
    width: 19.5rem;
  }

  .herdenkingsruimten .card-woonplaats {
    width: 18rem;
  }

}

/* landscape phones */
@media (min-width: 575px) and (max-width: 767px) {
  .search-container input {
    width: 60vw;
    margin-bottom: .5rem;
  }
  
  .btn-search {
    display: flex;
    justify-content: center;
    /* margin-left: -2rem; */
  }
  
  .herdenkingsruimten .herdenkingsruimte {
    grid-template-columns: 25rem;
  }

  .herdenkingsruimten .herdenkingsruimte .card {
    height: 24rem;
  }

  .herdenkingsruimten .herdenkingsruimte .img {
    width: 8rem;
    height: 8rem;
    margin: 1rem 0 3rem;
  }

  .herdenkingsruimten .card-full-name {
    width: 18rem;
  }

  .herdenkingsruimten .card-date {
    width: 19.5rem;
  }

  .herdenkingsruimten .card-woonplaats {
    width: 18rem;
  }
}

/* tablets */
@media (min-width: 767px) and (max-width: 991px) {
  .search-container input {
    width: 40vw;
    margin-bottom: .5rem;
  }
  
  .btn-search {
    display: flex;
    justify-content: center;
    /* margin-left: -2rem; */
  }
  
  .herdenkingsruimten .herdenkingsruimte {
    grid-template-columns: 23rem 23rem;
    gap: .9rem;
  }

  .herdenkingsruimten .herdenkingsruimte .card {
    height: 24rem;
  }

  .herdenkingsruimten .herdenkingsruimte .img {
    width: 8rem;
    height: 8rem;
    margin: 1rem 0 3rem;
  }

  .herdenkingsruimten .card-full-name {
    width: 22rem;
  }

  .herdenkingsruimten .card-date {
    width: 20rem;
  }

  .herdenkingsruimten .card-woonplaats {
    width: 15rem;
  }
}

/* desktops */
@media (min-width: 991px) and (max-width: 1200px) {
  .search-container input {
    width: 40vw;
    margin-bottom: .5rem;
  }
  
  .btn-search {
    display: flex;
    justify-content: center;
    /* margin-left: -2rem; */
  }
  
  .herdenkingsruimten .herdenkingsruimte {
    grid-template-columns: 25rem 25rem;
  }

  .herdenkingsruimten .herdenkingsruimte .card {
    height: 24rem;
  }

  .herdenkingsruimten .herdenkingsruimte .img {
    width: 8rem;
    height: 8rem;
    margin: 1rem 0 3rem;
  }

  .herdenkingsruimten .card-full-name {
    width: 22rem;
  }

  .herdenkingsruimten .card-date {
    width: 20rem;
  }

  .herdenkingsruimten .card-woonplaats {
    width: 15rem;
  }
}

/* large desktops */
@media (min-width: 1200px) {
  .herdenkingsruimten .herdenkingsruimte {
    grid-template-columns: 25rem 25rem;
  }

  .herdenkingsruimten .herdenkingsruimte .card {
    height: 24rem;
  }

  .herdenkingsruimten .herdenkingsruimte .img {
    width: 8rem;
    height: 8rem;
    margin: 1rem 0 3rem;
  }

  .herdenkingsruimten .card-full-name {
    width: 22rem;
  }

  .herdenkingsruimten .card-date {
    width: 20rem;
  }

  .herdenkingsruimten .card-woonplaats {
    width: 15rem;
  }
}

/* extra large desktops */
@media (min-width: 1400px) {
  .herdenkingsruimten .herdenkingsruimte {
    grid-template-columns: 25rem 25rem 25rem;
  }
}