.navbar {
  background: #0a3556;
  height: 90px;
}

/* .navbar.active {
  background: #0a3556;
} */

.logo-container {
  display: flex;
  height: 70px;
}

.logo-container .navbar-logo {
  height: 5rem;
  width: 5rem;
}

.navbar-logo-text {
  display: block;
  font-size: 2rem;
  color: rgb(236, 235, 235);
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 8px;
  /* list-style: none; */
  text-align: center;
}

.nav-item {
  height: 40px;
}

.navbar-container .navar-item {
  color: rgb(236, 235, 235);
}

.navbar-container .navar-item:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  color: #2D82F4 ;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.3rem 1rem;
  height: 100%;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
  /* margin-right: .5rem; */
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 6px;
  margin-left: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  white-space: nowrap;
  /* transition: 0.3s; */
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}


/* //h: -------------- media queries --------------  */

/* portrait phones */
@media (max-width: 575px) {
  .navbar {
    top: 0px;
    z-index: 999;
    height: 5.5rem;
    position: sticky;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 68vw;
    height: 110vh;
    position: absolute;
    top: 0;
    right: -1000%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242424bd;
    right: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 6rem;
    padding-left: 1rem;
    width: 100vw;
  }

  .logo-container {
    margin-left: -1rem;
  }

  .logo-container .navbar-logo {
    height: 4rem;
    width: 4rem;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .navbar-logo-text {
    display: none;
  }

}

/* landscape phones */
@media (min-width: 575px) and (max-width: 767px) {
  .navbar {
    top: 0px;
    z-index: 999;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 68vw;
    height: 110vh;
    position: absolute;
    top: 0;
    right: -1000%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242424bd;
    right: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 6rem;
    padding-left: 1rem;
    width: 100vw;
  }

  .logo-container {
    margin-left: -1rem;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

}

/* tablets */
@media (min-width: 767px) and (max-width: 991px) {
  .navbar {
    top: 0px;
    z-index: 999;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 68vw;
    height: 110vh;
    position: absolute;
    top: 0;
    right: -1000%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242424bd;
    right: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 6rem;
    padding-left: 1rem;
    width: 100vw;
  }

  .logo-container {
    margin-left: -1rem;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

}

/* large */
@media (min-width: 991px) and (max-width: 1200px) {
  .navbar {
    top: 0px;
    z-index: 999;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 68vw;
    height: 110vh;
    position: absolute;
    top: 0;
    right: -1000%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242424bd;
    right: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 6rem;
    padding-left: 1rem;
    width: 100vw;
  }

  .logo-container {
    margin-left: -1rem;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

}

/* xlarge >14" */
@media (min-width: 1200px) and (max-width: 1490px) {
  .navbar {
    top: 0px;
    z-index: 999;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 68vw;
    height: 110vh;
    position: absolute;
    top: 0;
    right: -1000%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242424bd;
    right: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 6rem;
    padding-left: 1rem;
    width: 100vw;
  }

  .logo-container {
    margin-left: -1rem;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }
}
