div > h3 {
  text-align: center;
  margin: 50px;
  font-weight: bold;
  padding: 30px;
}

.contact-container {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.contact-container #mapid {
  height: 180px;
}
.contact-container .text-contact-p {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}
.contact-container .contact-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 50%;
}
.contact-container .contact-form-container .contact-form-text-socials {
  height: 80%;
  width: 50%;
}
.contact-container .contact-form-container .contact-form-text-socials .contact-text p a {
  color: #0a1d27;
}
.contact-container .contact-form-container .contact-form-text-socials .contact-text ul {
  margin-top: 30px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  justify-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.contact-container .contact-form-container .contact-form-text-socials .contact-text ul li {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
}
.contact-container .contact-form-container .contact-form-text-socials .contact-text ul li a {
  color: #555252;
  margin: 12px;
}
.contact-container .contact-form-container .contact-form-text-socials .contact-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
}
.contact-container .contact-form-container .contact-form-text-socials .contact-socials .social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid darkgray;
  height: 100%;
  width: 40px;
  text-align: center;
}
.contact-container .contact-form-container .contact-form-text-socials .contact-socials .social-container:hover {
  background-color: darkgray;
}
.contact-container .contact-form-container .contact-form-text-socials .contact-socials a {
  color: inherit;
}
.contact-container .contact-form-container .contact-form-text-socials .contact-socials .fb:hover {
  color: #4267B2;
}
.contact-container .contact-form-container .contact-form-text-socials .contact-socials .tw:hover {
  color: #1DA1F2;
}
.contact-container .contact-form-container .contact-form-text-socials .contact-socials .g:hover {
  color: #DB4A39;
}
.contact-container .contact-form-container .contact-form-text-socials .contact-socials .insta:hover {
  color: #833ab4;
}
.contact-container .contact-form-container .contact-form-text-socials .linkToFacebook {
  padding-top: 40px;
}
.contact-container .contact-map-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 50%;
  margin-bottom: -150px;
  margin-top: 20px;
}
.contact-container .contact-map-container .map-container {
  height: 50vh;
  width: 70%;
}

@media screen and (max-width: 900px) {
  div > h3 {
    margin: 0;
    padding: 20px;
  }

  .contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
    height: 100%;
    width: 100%;
  }
  .contact-container .text-contact-p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  .contact-container .contact-form-container {
    width: 100%;
  }
  .contact-container .contact-form-container .contact-form-text-socials {
    width: 75%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-container .contact-form-container .contact-form-text-socials .contact-text {
    text-align: center;
  }
  .contact-container .contact-form-container .contact-form-text-socials .contact-text h1 {
    font-size: 20px;
  }
  .contact-container .contact-form-container .contact-form-text-socials .contact-text p a {
    color: #007ab3;
  }
  .contact-container .contact-form-container .contact-form-text-socials .contact-socials {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact-container .contact-form-container .contact-form-text-socials .contact-socials .social-container {
    width: 100%;
  }
  .contact-container .contact-form-container .contact-form-text-socials .contact-socials .fb {
    color: #4267B2;
  }
  .contact-container .contact-form-container .contact-form-text-socials .contact-socials .tw {
    color: #1DA1F2;
  }
  .contact-container .contact-form-container .contact-form-text-socials .contact-socials .g {
    color: #DB4A39;
  }
  .contact-container .contact-form-container .contact-form-text-socials .contact-socials .insta {
    color: #833ab4;
  }
  .contact-container .contact-map-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 30px 10px 30px 10px;
  }
  .contact-container .contact-map-container .map-container {
    width: 80%;
  }
}/*# sourceMappingURL=contact.css.map */