div > h3 {
  text-align: center;
  margin: 50px;
  font-weight: bold;
  padding: 30px;
}

.contact-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 100%;


  #mapid { height: 180px; }

  .text-contact-p{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
  }

  .contact-form-container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 50%;

    .contact-form-text-socials {
      height: 80%;
      width: 50%;
      
      .contact-text {
        p a{
          color: #0a1d27;
        }
        ul{
          margin-top: 30px;
          margin-bottom: 30px;
          display: flex;
          width: 100%;
          justify-items: center;
          justify-content: space-around;
          li{
            justify-content: space-around;
            list-style-type: none;
           a{
              color: rgb(85, 82, 82);
             margin: 12px;
           } 

          }
        }
      }
  
      .contact-socials {
        display: flex;
        height: 40px;

        .social-container {
          display: flex;
          margin-right: 15px;
          justify-content: center;
          align-items: center;
          border: 2px solid darkgray;
          height: 100%;
          width: 40px;
          text-align: center;
        }
        .social-container:hover  {
          background-color: darkgray;
        }
        a {
          color: inherit;
        }
        .fb:hover {
          color: #4267B2;
        }
        .tw:hover {
          color: #1DA1F2;
        }
        .g:hover {
          color: #DB4A39
        }
        .insta:hover {
          color: #833ab4;
        }
      }
      .linkToFacebook{
        padding-top: 40px;
      }
    }
  }
  
  .contact-map-container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 50%;
    margin-bottom: -150px;
    margin-top: 20px;
    
    .map-container {
      height: 50vh;
      width: 70%;
    }
  }
}

// MOBILE VERSION

@media screen and (max-width: 900px) {
  div > h3 {
    margin: 0;
    padding: 20px;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    height: 100%;
    width: 100%;

    .text-contact-p{
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 20px;
    }

    .contact-form-container {
      width: 100%;

      .contact-form-text-socials {
        width: 75%;
        justify-content: center;
  
        .contact-text {
          text-align: center;
          h1 {
            font-size: 20px;
          }
          p a{
            color: #007ab3;
          }
        }
  
        .contact-socials {
          justify-content: space-between;

          .social-container {
            width: 100%;
          }
          .fb {
            color: #4267B2;
          }
          .tw {
            color: #1DA1F2;
          }
          .g {
            color: #DB4A39
          }
          .insta {
            color: #833ab4;
          }
        }
      }
    }

    .contact-map-container {
      display: flex;
      width: 100%;
      padding: 30px 10px 30px 10px;

      .map-container {
        width: 80%;
      }
    }
  }
}