:root {
  --grijs: rgb(101, 101, 101);
}

footer {
  flex: 0;
  height: 4vh;
  width: 100%;
  color: whitesmoke;
  background-color: #0A3556;

  p {
    font-size: 2.8vh;
    font-weight: 400;
    justify-content: flex-start;
    padding-left: 9.5rem;
  }

  .footer-copyright {
    display: flex;
    height: inherit;
    align-items: center;
    font-weight: bold;
    white-space: nowrap;
  }
}


// --------------- MOBILE VERSION ---------------

@media screen and (max-width: 900px) {
  footer {
    width: 100%;

    .navbar-footer {
      width: 100%;
      justify-content: flex-start;
    }
  }
  footer p {
    margin: auto;
    font-size: 2.1vh;
    padding-left: 0rem;
  }
  .footer-copyright {
    display: flex;
    height: inherit;
    align-items: center;
    font-weight: bold;
    white-space: nowrap;
  }
}
