.beheer-pagina-container {
  background-color: #f5f9fc;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.beheer-pagina-content {
  height: 30rem;
  width: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.beheer-pagina-link {
  height: 7rem;
  width: 35rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #1A494F;
  border-radius: .5rem;
}

.beheer-pagina-link:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.beheer-pagina-item {
  margin-left: 3rem;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff;
}


/* portrait phones */
@media (max-width: 575px) {
  .beheer-pagina-link {
    height: 4rem;
    width: 21.5rem;
  }

  .beheer-pagina-item {
    margin-left: .5rem;
    font-size: .9rem;
  }
}

/* landscape phones */
@media (min-width: 576px) and (max-width: 767px) {
  .beheer-pagina-link {
    height: 5rem;
    width: 26rem;
  }

  .beheer-pagina-item {
    margin-left: 1rem;
    font-size: 1rem;
  }
}