.header_banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header_banner .profileImage {
  height: auto;
  width: 30%;
  margin-bottom: 30px;
}
.header_banner .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  width: 35%;
  border: 1px solid #f9f8f8;
}
.header_banner .search input[type=text] {
  font-size: 18px;
  padding: 10px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
}
.header_banner .search ::-webkit-input-placeholder {
  font-size: 16px;
}
.header_banner .search ::-moz-placeholder {
  font-size: 16px;
}
.header_banner .search :-ms-input-placeholder {
  font-size: 16px;
}
.header_banner .search ::-ms-input-placeholder {
  font-size: 16px;
}
.header_banner .search ::placeholder {
  font-size: 16px;
}
.header_banner .search button {
  border: none;
  background-color: #6a7d98;
  color: white;
  width: 10%;
  border-radius: 0px 0.25rem 0.25rem 0px;
}
.header_banner .search button:hover {
  background-color: #335278;
}
.header_banner .textLivingMemories {
  margin: 60px auto 25px;
  font-size: 20px;
}

.dropdown-content {
  list-style: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #f9f9f9;
  min-width: 500px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 10px 10px;
  z-index: 1;
  border-left: 1px solid #cd1b2b;
  border-right: 1px solid #cd1b2b;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.dropdown-content:last-child {
  border-bottom: 1px solid #cd1b2b;
}

.dropdown-content:hover {
  /* -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);  */
  color: #cd1b2b;
  background-color: #cfcfcf;
}

@media screen and (max-width: 900px) {
  .header_banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    margin: 0;
    width: 100%;
  }
  .header_banner .profileImage {
    max-height: auto;
    width: 70%;
    margin-top: 10px;
  }
  .header_banner .search {
    margin-bottom: 10px;
    width: 70%;
    height: 15%;
  }
  .header_banner .search .input {
    width: 100%;
  }
  .header_banner .search button {
    width: 15%;
  }
}/*# sourceMappingURL=header.css.map */