.header_banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .profileImage{
    height: auto;
    width: 30%;
    margin-bottom: 30px;
  }

  .search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 40px;
    width: 35%;
    border: 1px solid #f9f8f8;

    input[type=text] {
      font-size: 18px;
      padding: 10px;
      height: 100%;
      width: 100%;
      border: none;
      outline: none;
    }
    ::placeholder {
      font-size: 16px;
    }

    button {
      border: none;
      background-color: rgb(106, 125, 152);
      color: white;
      width: 10%;
      border-radius: 0px .25rem .25rem 0px;
    }
    button:hover {
      background-color: #335278;
    }
  }

  .textLivingMemories{
    margin: 60px auto 25px;
    font-size: 20px;
  }
}

.dropdown-content {
  list-style: none;
  justify-content: flex-start;
  align-self: center;
  display: flex;
  flex-direction: row;
  background-color: #f9f9f9;
  min-width: 500px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px 10px;
  z-index: 1;
  border-left: 1px solid #cd1b2b;
  border-right: 1px solid #cd1b2b;
  transition: 0.3s all ease-in-out;
}
.dropdown-content:last-child {
  border-bottom: 1px solid #cd1b2b;
}

.dropdown-content:hover{
  /* -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);  */
  color: #cd1b2b;
  background-color: #cfcfcf;
}

// MOBILE VERSION

@media screen and (max-width: 900px) {
  .header_banner {
    display: flex;
    height: 100%;
    margin: 0;
    width: 100%;
    
    .profileImage{
      max-height: auto;
      width: 70%;
      margin-top: 10px;
    }
  
    .search {
      margin-bottom: 10px;
      width: 70%;
      height: 15%;

      .input {
        width: 100%;
      }
      button {
        width: 15%;
      }
    }
  }
}