.create-memorial-container{
  width: 100%;
  margin: 50px auto;  
}

input:focus:not([type=checkbox]), select:focus, textarea:focus {
  border: 1px solid rgb(201, 29, 29);
  outline: 1px solid rgb(201, 29, 29);
}

.form-container {
  display: inherit;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  max-width: 50%;
min-width: 300px;
  padding: 25px;
  margin-left: auto;
  margin-right: auto;
  box-shadow:  0 0 10px #302f2f;
  
}
label {
  text-align: left;
}
label:not(.textarea-label), .btn-cancel {
  grid-column: 1 / 2;
  width: auto;
  justify-self: end;
}
input, textarea, .btn-submit, ul, .datalist-input, .visit-latlong {
  grid-column: 2 / 3;
  width: 90%;
}

input, textarea{
  border-radius: var(--radius);
 width:min-content;

}

.fn-ln {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 10px;

  input {
    width: auto;
    grid-column: 1 / 2;
  }
}

.btn-form {
  width: 150px;
  border-radius: 5px;
  margin: 20px 0 0;
  padding: 6px;
  font-weight: bold;
  transition: all 0.2s ease-out;
}
.btn-cancel:hover {
  color: rgb(201, 29, 29);
  border: 2px solid rgb(201, 29, 29);
}
.btn-submit:hover {
  color: rgb(29, 69, 201);
  border: 2px solid rgb(29, 69, 201);
}
.btn-submit:active {
  background: rgb(29, 69, 201);
  color: white;
}

//LAPTOP
@media screen and (min-width: 900px) and (max-width: 1400px){
  .create-memorial-container{
    width: 100%;
    margin: 50px auto;  
  }
}

//MOBILE 
@media screen and (max-width: 900px) {
  .create-memorial-container{
    margin: 0;
    height: auto;
  }
  // Styling exclusive for a page (f1 => form 1)
  
  f3 {
    height: 81vh;

    textarea {
      width: 100%;
    }
  }
  .f4 {
    .f4-datalist {
      min-width: auto;
    }
  }

  input {
    width: 50%;
   
  }
  .visit-latlong {
    width: 100%;
  }
}