.create-memorial-container {
  width: 100%;
  margin: 50px auto;
}

input:focus:not([type=checkbox]), select:focus, textarea:focus {
  border: 1px solid #c91d1d;
  outline: 1px solid #c91d1d;
}

.form-container {
  display: inherit;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  max-width: 50%;
  min-width: 300px;
  padding: 25px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0 0 10px #302f2f;
          box-shadow: 0 0 10px #302f2f;
}

label {
  text-align: left;
}

label:not(.textarea-label), .btn-cancel {
  grid-column: 1/2;
  width: auto;
  justify-self: end;
}

input, textarea, .btn-submit, ul, .datalist-input, .visit-latlong {
  grid-column: 2/3;
  width: 90%;
}

input, textarea {
  border-radius: var(--radius);
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.fn-ln {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 10px;
}
.fn-ln input {
  width: auto;
  grid-column: 1/2;
}

.btn-form {
  width: 150px;
  border-radius: 5px;
  margin: 20px 0 0;
  padding: 6px;
  font-weight: bold;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.btn-cancel:hover {
  color: #c91d1d;
  border: 2px solid #c91d1d;
}

.btn-submit:hover {
  color: #1d45c9;
  border: 2px solid #1d45c9;
}

.btn-submit:active {
  background: #1d45c9;
  color: white;
}

@media screen and (min-width: 900px) and (max-width: 1400px) {
  .create-memorial-container {
    width: 100%;
    margin: 50px auto;
  }
}
@media screen and (max-width: 900px) {
  .create-memorial-container {
    margin: 0;
    height: auto;
  }

  f3 {
    height: 81vh;
  }
  f3 textarea {
    width: 100%;
  }

  .f4 .f4-datalist {
    min-width: auto;
  }

  input {
    width: 50%;
  }

  .visit-latlong {
    width: 100%;
  }
}
/*# sourceMappingURL=formMemorial.css.map */