.form-wrapper {
  min-height: 85vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

}

.form-info {
  position: relative;
  -moz-box-shadow: 0 0 10px rgb(48, 47, 47);
  -webkit-box-shadow: 0 0 10px rgb(48, 47, 47);
  box-shadow: 0 0 10px rgb(48, 47, 47);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 25px;
  height: 100%;
  width: 50%;
  

  h1 {
    padding-bottom: 20px;
  }

  label, input, select {
    display: block;
    width: 60%;
    padding: 5px;
    outline: none;
    transition: all 0.2s ease-out;
  }

  input:focus, select:focus {
    border: 1px solid rgb(201, 29, 29);
    outline: none;
  }

  input, select {
    margin-bottom: 10px;
  }

  label {
    margin-bottom: auto;
    font-weight: bold;
  }
}

.button-group {
  display: flex;
  width: 50%;
  justify-content: space-around;

  button {
    border: 2px solid grey;
    border-radius: 5px;
    margin: 20px 0 0;
    padding: 6px;
    height: auto;
    width: 40%;
    font-weight: bold;
    font-size: 20px;
    transition: all 0.2s ease-out;
  }
  .cancel-btn:hover {
    color: rgb(201, 29, 29);
    border: 2px solid rgb(201, 29, 29);
  }
  .cancel-btn:active {
    background: red;
    color: white;
  }
  .submit-btn:hover {
    color: rgb(29, 69, 201);
    border: 2px solid rgb(29, 69, 201);
  }
  .submit-btn:active {
    background: rgb(29, 69, 201);
    color: white;
  }
}

.form-width{
  width: 70%;
}

.buttons_container{
  display: flex;
  justify-content:space-evenly ;
 
}
//LAPTOP
@media screen and (min-width: 900px) and (max-width: 1400px){
  .form-info{
    width: 80%;

    label, input, select {
      width: 50%;
    }
  }
}

//MOBILE 

@media screen and (max-width: 900px) {
  .form-wrapper {
    width: 100%;
  }
  
  
  .form-info {
    width: 90%;
    padding: 15px;
    
    h1 {
      font-size: 24px;
      padding-bottom: 20px;
    }

    label, input, select {
      width: 80%;
      padding: 5px;
      outline: none;
      transition: all 0.2s ease-out;
    }

    input:focus, select:focus {
      border: 1px solid black;
      outline: none;
    }
  }

  .button-group{
    width: 90%;

    button {
      font-size: 18px;
    }
  }


}

.form_1_style{
  background:#dfdace81 ;
  border-radius: var(--radius);
  margin: var(--witruimte);
  width: 800px;
  input{
    background-color: #6a7d9845;
    margin-bottom: 1px;
    color: whitesmoke;
    padding-left: 40px;
    width: 200px;
   padding-right: 20px;
  }
  font-family: Helvetica, sans-serif;
  font-style: bold;
  label {
  
    padding-left: 30px;
  }
  .form-sectie{
    border-bottom: 2px solid rgb(185, 198, 227);
    display: flex;
    justify-content:space-between ;
    margin: 20px;
    padding-right: 10px;
    margin-right:80px ;

  }
  h1{
    text-align: center;
    padding: 20px;
  }
}

// Laptop versie
@media screen and (min-width: 900px) and (max-width: 1200px){
  .buttons_container{
    display: flex;
    justify-content:space-between ;
   
  }

.form_1_style{
  
  border-radius: var(--radius);
  margin: var(--witruimte);
  width: 50%;
  input{
    background-color: #6a7d9845;
    margin-bottom: 1px;
    color: whitesmoke;
    padding-left: 10px;
    width: 200px;
   padding-right: 20px;
   
  }
  font-family: Helvetica, sans-serif;
  font-style: bold;
  label {
  
    padding-left: 0px;
  }
  .form-sectie{
    border-bottom: 2px solid rgb(185, 198, 227);
    display: flex;
    justify-content:space-between ;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    span{
      padding: 10px;
    }
  }
  h1{
    text-align: center;
    padding: 20px;
  }
}
}

// Mobiele Versie

@media screen and (max-width: 900px) {

  .form-container{
    .buttons_container{
      display: flex;
      justify-content:space-between ;
     
    }
    .btn-submit{
      color: rgba(0, 128, 0, 0.717) !important;
      

    }
    .btn-cancel{
      color: red;
    }


    max-width: 100% ;
    padding:0px;
    font-size: 12px;
    h1{
      font-size: 18px;
      border-bottom: grey 2px solid;
    }
  }



  .form-sectie{
   border-bottom: none !important;
    flex-direction: column;
    text-align: center;
    label,input{
      width: 200px;
      margin: auto;
      font-size: 14px;
      text-align: center;
      padding: 10px;
    }
  }

}