.form-wrapper {
  min-height: 85vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.form-info {
  position: relative;
  -webkit-box-shadow: 0 0 10px #302f2f;
  box-shadow: 0 0 10px #302f2f;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
  padding: 25px;
  height: 100%;
  width: 50%;
}
.form-info h1 {
  padding-bottom: 20px;
}
.form-info label, .form-info input, .form-info select {
  display: block;
  width: 60%;
  padding: 5px;
  outline: none;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.form-info input:focus, .form-info select:focus {
  border: 1px solid #c91d1d;
  outline: none;
}
.form-info input, .form-info select {
  margin-bottom: 10px;
}
.form-info label {
  margin-bottom: auto;
  font-weight: bold;
}

.button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.button-group button {
  border: 2px solid grey;
  border-radius: 5px;
  margin: 20px 0 0;
  padding: 6px;
  height: auto;
  width: 40%;
  font-weight: bold;
  font-size: 20px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.button-group .cancel-btn:hover {
  color: #c91d1d;
  border: 2px solid #c91d1d;
}
.button-group .cancel-btn:active {
  background: red;
  color: white;
}
.button-group .submit-btn:hover {
  color: #1d45c9;
  border: 2px solid #1d45c9;
}
.button-group .submit-btn:active {
  background: #1d45c9;
  color: white;
}

.buttons_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (min-width: 900px) and (max-width: 1400px) {
  .form-info {
    width: 80%;
  }
  .form-info label, .form-info input, .form-info select {
    width: 50%;
  }
}
@media screen and (max-width: 900px) {
  .form-wrapper {
    width: 100%;
  }

  .form-info {
    width: 90%;
    padding: 15px;
  }
  .form-info h1 {
    font-size: 24px;
    padding-bottom: 20px;
  }
  .form-info label, .form-info input, .form-info select {
    width: 80%;
    padding: 5px;
    outline: none;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .form-info input:focus, .form-info select:focus {
    border: 1px solid black;
    outline: none;
  }

  .button-group {
    width: 90%;
  }
  .button-group button {
    font-size: 18px;
  }
}
.form_1_style {
  background: #dfdace81;
  border-radius: var(--radius);
  margin: var(--witruimte);
  width: 800px;
  font-family: Helvetica, sans-serif;
  font-style: bold;
}
.form_1_style input {
  background-color: #6a7d9845;
  margin-bottom: 1px;
  color: whitesmoke;
  padding-left: 40px;
  width: 200px;
  padding-right: 20px;
}
.form_1_style label {
  padding-left: 30px;
}
.form_1_style .form-sectie {
  border-bottom: 2px solid #b9c6e3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px;
  padding-right: 10px;
  margin-right: 80px;
}
.form_1_style h1 {
  text-align: center;
  padding: 20px;
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  .buttons_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .form_1_style {
    border-radius: var(--radius);
    margin: var(--witruimte);
    width: 50%;
    font-family: Helvetica, sans-serif;
    font-style: bold;
  }
  .form_1_style input {
    background-color: #6a7d9845;
    margin-bottom: 1px;
    color: whitesmoke;
    padding-left: 10px;
    width: 200px;
    padding-right: 20px;
  }
  .form_1_style label {
    padding-left: 0px;
  }
  .form_1_style .form-sectie {
    border-bottom: 2px solid #b9c6e3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
  }
  .form_1_style .form-sectie span {
    padding: 10px;
  }
  .form_1_style h1 {
    text-align: center;
    padding: 20px;
  }
}
@media screen and (max-width: 900px) {
  .form-container {
    max-width: 100%;
    padding: 0px;
    font-size: 12px;
  }
  .form-container .buttons_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .form-container .btn-submit {
    color: rgba(0, 128, 0, 0.717) !important;
  }
  .form-container .btn-cancel {
    color: red;
  }
  .form-container h1 {
    font-size: 18px;
    border-bottom: grey 2px solid;
  }

  .form-sectie {
    border-bottom: none !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .form-sectie label, .form-sectie input {
    width: 200px;
    margin: auto;
    font-size: 14px;
    text-align: center;
    padding: 10px;
  }
}
/*# sourceMappingURL=form.css.map */