.privacy {
  background: #fff;
}

.privacy-title {
  padding: 3rem 0;
  background-color: #fff;
}

.privacy-inhoud {
  gap: 1rem;
  margin-bottom: 5rem;
}

.privacy-inhoud a:hover {
  text-decoration: none;
}

.titles {
  background: #f5f9fc;
}

.title1,
.title2 {
  color: grey;
  font-weight: 500;
  font-size: larger;
  margin-bottom: .5rem;
}

.titles .arrow {
  width: 1.2rem;
  align-self: center;
}

.icon-text {
  margin-left: .5rem;
  color: #1d2626;
  display: inline;
}

.description {
  background: #f5f9fc;
}

.description img {
  width: 30rem;
  margin: -2rem 0;
}

.description-text {
  text-align: justify;
}

.subtitle-description{
  display: inline;
  padding: 80px 0px; 
  width: 100%;  
}

.description-inner{
  display: inline;
  float: left;
  width: 100%;
}

.description .contact {
  display: flex;
  justify-content: space-between;
  height: 3rem;
}

.description .img-list {
  width: 2rem;
}


/* portrait phones */
@media (max-width: 575px) {
  .privacy {
    max-width: 100vw;
  }

  .privacy-title {
    padding: 1.5rem 0 0;
    font-size: 2rem;
  }

  .titles {
    background: #fff;
  }

  .description {
    background: #fff;
    margin-left: 0;
  }

  .description .contact {
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fff;
    height: 10%;
    margin-bottom: -28rem;
  }

}


/* landscape phones */
@media (min-width: 576px) and (max-width: 767px) {
  .privacy {
    max-width: 100vw;
  }

  .privacy-title {
    padding: 1.5rem 0 0;
  }

  .titles {
    background: #fff;
  }

  .description {
    background: #fff;
    margin-left: 0;
  }

  .description .contact {
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fff;
    height: 10%;
    margin-bottom: -28rem;
  }

}

/* tablets */
@media (min-width: 768px) and (max-width: 991px) {
  .privacy {
    max-width: 100vw;
  }

  .privacy-title {
    padding: 1.5rem 0 0;
  }

  .titles {
    background: #fff;
  }

  .description {
    background: #fff;
    margin-left: 0;
  }

  .description .contact {
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fff;
    height: 10%;
    margin-bottom: -28rem;
  }

}