// Colors
$off-black: #20222b;
$off-white: #a5afd7;
$background-color: #333745;
$purple: #8357c5;
$blue: #3c4251;
$light-blue: #464b5e;

//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem; 
$desktop-breakpoint: 45rem;

//Title
$title1: 18px;

//Weight
$boldfont: 'bold';